html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, input {
  box-sizing: border-box; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left; }

.col:first-child {
  margin-left: 0; }

/*  ALIGNMENT  */
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.l-12 {
  float: left;
  width: 100%; }

.l-11 {
  float: left;
  width: 91.63%; }

.l-10 {
  float: left;
  width: 83.3%; }

.l-9 {
  float: left;
  width: 74.97%; }

.l-8 {
  float: left;
  width: 66.64%; }

.l-7 {
  float: left;
  width: 58.31%; }

.l-6 {
  float: left;
  width: 50%; }

.l-5 {
  float: left;
  width: 41.65%; }

.l-4 {
  float: left;
  width: 33.33%; }

.l-3 {
  float: left;
  width: 25%; }

.l-2 {
  float: left;
  width: 16.66%; }

.l-1 {
  float: left;
  width: 8.33%; }

@media screen and (max-device-width: 900px), screen and (max-width: 900px) {
  .m-12 {
    float: left;
    width: 100%; }
  .m-11 {
    float: left;
    width: 91.63%; }
  .m-10 {
    float: left;
    width: 83.3%; }
  .m-9 {
    float: left;
    width: 74.97%; }
  .m-8 {
    float: left;
    width: 66.64%; }
  .m-7 {
    float: left;
    width: 58.31%; }
  .m-6 {
    float: left;
    width: 50%; }
  .m-5 {
    float: left;
    width: 41.65%; }
  .m-4 {
    float: left;
    width: 33.33%; }
  .m-3 {
    float: left;
    width: 25%; }
  .m-2 {
    float: left;
    width: 16.66%; }
  .m-1 {
    float: left;
    width: 8.33%; } }

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
  .s-12 {
    float: left;
    width: 100%; }
  .s-11 {
    float: left;
    width: 91.63%; }
  .s-10 {
    float: left;
    width: 83.3%; }
  .s-9 {
    float: left;
    width: 74.97%; }
  .s-8 {
    float: left;
    width: 66.64%; }
  .s-7 {
    float: left;
    width: 58.31%; }
  .s-6 {
    float: left;
    width: 50%; }
  .s-5 {
    float: left;
    width: 41.65%; }
  .s-4 {
    float: left;
    width: 33.33%; }
  .s-3 {
    float: left;
    width: 25%; }
  .s-2 {
    float: left;
    width: 16.66%; }
  .s-1 {
    float: left;
    width: 8.33%; } }

.right {
  float: right; }

.left {
  float: left; }

@font-face {
  font-family: "whitneymedium";
  src: url("../font/whitney-medium-bas-webfont.eot");
  src: url("../font/whitney-medium-bas-webfont.eot?#iefix") format("embedded-opentype"), url("../font/whitney-medium-bas-webfont.woff2") format("woff2"), url("../font/whitney-medium-bas-webfont.woff") format("woff"), url("../font/whitney-medium-bas-webfont.ttf") format("truetype"), url("../font/.svg#whitneymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "whitneybook";
  src: url("../font/whitney-book-bas-webfont.eot");
  src: url("../font/whitney-book-bas-webfont.eot?#iefix") format("embedded-opentype"), url("../font/whitney-book-bas-webfont.woff2") format("woff2"), url("../font/whitney-book-bas-webfont.woff") format("woff"), url("../font/whitney-book-bas-webfont.ttf") format("truetype"), url("../font/.svg#whitneybook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "whitneylight";
  src: url("../font/whitney-lightital-bas-webfont.eot");
  src: url("../font/whitney-lightital-bas-webfont.eot?#iefix") format("embedded-opentype"), url("../font/whitney-lightital-bas-webfont.woff2") format("woff2"), url("../font/whitney-lightital-bas-webfont.woff") format("woff"), url("../font/whitney-lightital-bas-webfont.ttf") format("truetype"), url("../font/.svg#whitneylight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "whitneylight_italic";
  src: url("../font/whitney-light-bas-webfont.eot");
  src: url("../font/whitney-light-bas-webfont.eot?#iefix") format("embedded-opentype"), url("../font/whitney-light-bas-webfont.woff2") format("woff2"), url("../font/whitney-light-bas-webfont.woff") format("woff"), url("../font/whitney-light-bas-webfont.ttf") format("truetype"), url("../font/.svg#whitneylight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html, div, .wrapper {
  height: 100%; }

body {
  background-color: #e8e7ee;
  font-family: "whitneymedium", sans-serif; }

body::-moz-selection {
  color: #543594;
  background: #8767c8; }

body::selection {
  color: #543594;
  background: #8767c8; }

.vanish {
  opacity: 0; }

.visible {
  opacity: 1; }

.wrapper {
  position: relative; }

.login-wrapper {
  position: relative;
  background-color: white;
  height: 100%;
  overflow: hidden; }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .login-wrapper {
      min-height: 100%;
      overflow: auto; } }
  .login-wrapper .login-footer {
    background-color: white;
    border-top: 1px solid #cccccc;
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: auto;
    width: 212px; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .login-wrapper .login-footer {
        display: none; } }
    .login-wrapper .login-footer ul li {
      cursor: pointer;
      display: inline-block;
      height: 40px;
      font-size: 11px;
      line-height: 39px;
      font-family: "whitneymedium", sans-serif;
      padding: 0px 20px;
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease; }
      .login-wrapper .login-footer ul li:hover {
        background-color: #e0d7f1;
        color: #543594; }

.login {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-family: "whitneymedium", sans-serif;
  height: 100%;
  background: white;
  text-align: center;
  max-width: 400px;
  padding: 40px 40px 0px 40px; }
  .login .logo-wrap {
    height: 70px;
    position: relative;
    width: 100%; }
    .login .logo-wrap img {
      height: auto;
      width: 100%;
      max-height: 100px;
      position: absolute;
      margin: 0px auto;
      left: 0;
      right: 0; }
  .login h1 {
    font-size: 20px;
    color: #3b3b3b;
    margin: 24px 0; }
  .login p {
    color: #3b3b3b;
    font-size: 12px; }
  .login button {
    height: 40px;
    line-height: 39px;
    font-size: 12px;
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    margin: 10px 0;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    position: relative;
    font-family: "whitneymedium", sans-serif; }
    .login button.fb-login {
      background-color: #3b5998;
      color: white;
      width: 100%;
      border: 1px solid #324b81; }
      .login button.fb-login .icon-facebook {
        position: absolute;
        left: 15px;
        top: 3px;
        font-size: 18px; }
      .login button.fb-login:hover {
        background-color: #5a7abf;
        border-color: #3b5998; }
    .login button.tw-login, .login button.email-login {
      border: 1px solid #cccccc;
      background-color: white;
      margin: 10px 0;
      width: calc(50% - 10px); }
      @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
        .login button.tw-login, .login button.email-login {
          font-size: 12px; } }
      .login button.tw-login:hover, .login button.email-login:hover {
        background-color: #543594;
        color: white;
        border-color: #c2b2e3; }
    .login button.tw-login {
      margin-right: 10px; }
      .login button.tw-login:hover {
        background-color: #4099FF;
        border-color: #a6cfff; }
  .login section {
    opacity: 1;
    margin-top: 5px;
    position: relative;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 3px; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .login section {
        margin-bottom: 20px; } }
    .login section.ng-hide-add, .login section.ng-hide-remove {
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease; }
    .login section.ng-hide {
      opacity: 0; }
    .login section:after, .login section:before {
      bottom: 100%;
      left: 75%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .login section:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: white;
      border-width: 10px;
      margin-left: -10px; }
    .login section:before {
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #cccccc;
      border-width: 11px;
      margin-left: -11px; }
    .login section label {
      font-size: 12px;
      text-align: left;
      width: calc(100% - 40px);
      display: block;
      margin-bottom: 10px;
      margin-left: 20px; }
      .login section label:first-child {
        margin-top: 15px; }
    .login section input {
      width: calc(100% - 40px);
      height: 30px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 3px;
      border: 1px solid #cccccc;
      font-size: 12px;
      color: #543594;
      padding-left: 10px;
      outline: none;
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease; }
      .login section input:focus {
        border: 1px solid #543594; }
      .login section input::-webkit-input-placeholder {
        color: #cccccc; }
      .login section input::-moz-placeholder {
        /* Firefox 19+ */
        color: #cccccc; }
      .login section input:-ms-input-placeholder {
        color: #cccccc; }
      .login section input:-moz-placeholder {
        /* Firefox 18- */
        color: #cccccc; }
    .login section button {
      padding: 0px;
      width: 50%;
      background-color: #543594;
      color: white;
      display: inline-block;
      border: none;
      outline: none;
      height: 40px;
      line-height: 39px;
      margin-top: 10px;
      margin-right: 0px;
      margin-bottom: 0px;
      font-size: 12px;
      font-family: "whitneymedium", sans-serif;
      margin-left: 0;
      border-radius: 0px;
      border-bottom-left-radius: 3px;
      cursor: pointer; }
      @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
        .login section button {
          font-size: 12px; } }
      .login section button:hover {
        background-color: #e0d7f1;
        color: #543594; }
      .login section button:last-child {
        border-radius: 0px;
        border-bottom-right-radius: 3px; }
        .login section button:last-child:hover {
          background-color: #e0d7f1;
          color: #543594; }
      .login section button:focus {
        border: none; }

.quote {
  background-image: url("../img/signup-bg.jpg");
  background-size: cover;
  height: 100%;
  padding: 40px 40px; }
  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    .quote {
      display: none; } }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .quote {
      display: none; } }
  .quote h1 {
    color: white;
    font-size: 24px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic; }
  .quote h2 {
    margin: 10px 0px;
    color: white;
    font-size: 28px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic; }
  .quote span {
    font-size: 22px;
    color: white;
    font-weight: light;
    font-family: Georgia, Times, 'Times New Roman', serif; }

.login-error {
  border: 2px solid #e64a33 !important;
  color: #e64a33 !important; }

.error-message {
  color: #e64a33 !important;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px; }
  .error-message.ng-enter {
    -webkit-transition: 0.2s;
            transition: 0.2s;
    opacity: 0; }
  .error-message.ng-enter-active {
    opacity: 1;
    right: 0; }
  .error-message.ng-leave {
    -webkit-transition: 0.2s;
            transition: 0.2s;
    opacity: 1; }
  .error-message.ng-leave-active {
    opacity: 0; }

.onboarding-container {
  position: absolute;
  margin: 0px auto;
  left: 0;
  right: 0;
  max-width: 900px;
  top: 5%;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #d6d4e1;
  padding: 35px 20px;
  height: auto;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2); }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .onboarding-container {
      top: 0;
      padding: 0;
      background-color: white; } }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .onboarding-container {
      border: none; } }
  .onboarding-container header {
    border-bottom: 1px solid #d6d4e1; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .onboarding-container header {
        background-color: #E8E7EE;
        position: relative;
        height: 100px; } }
    .onboarding-container header img {
      width: 300px;
      padding-bottom: 20px; }
      @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
        .onboarding-container header img {
          position: absolute;
          left: 0;
          right: 0;
          top: 25px;
          margin: 0px auto; } }
  .onboarding-container .border {
    height: 0; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .onboarding-container .border {
        height: 7px;
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,6769a0+0,7f538e+100 */
        background: #7abcff;
        /* Old browsers */
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #7abcff), color-stop(0%, #6769a0), color-stop(100%, #7f538e));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, #7abcff 0%, #6769a0 0%, #7f538e 100%);
        /* Chrome10+,Safari5.1+ */
        /* Opera 11.10+ */
        /* IE10+ */
        background: linear-gradient(to right, #7abcff 0%, #6769a0 0%, #7f538e 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#7f538e',GradientType=1 );
        /* IE6-9 */ } }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .onboarding-container section {
      padding: 0px 20px; } }
  .onboarding-container section h2 {
    color: #3b3b3b;
    font-size: 20px;
    font-family: "whitneymedium", sans-serif;
    padding: 20px 0px; }
  .onboarding-container section form label {
    color: #3b3b3b;
    font-size: 12px;
    font-family: "whitneymedium", sans-serif;
    display: inline-block;
    width: calc(50% - 12px); }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .onboarding-container section form label {
        width: 100%; } }
    .onboarding-container section form label input, .onboarding-container section form label select {
      font-family: "whitneymedium", sans-serif;
      margin-top: 10px;
      margin-bottom: 15px;
      width: 100%;
      color: #543594;
      font-size: 12px;
      height: 30px;
      padding-left: 10px;
      -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
      outline: none;
      border: 1px solid #cccccc;
      border-radius: 3px; }
      .onboarding-container section form label input:focus, .onboarding-container section form label select:focus {
        border: 1px solid #543594; }
    .onboarding-container section form label input[type="date"] {
      background-color: white;
      color: #cccccc; }
  .onboarding-container section form .firstname, .onboarding-container section form .signupdob {
    margin-right: 20px; }
  .onboarding-container section form .email-label {
    width: 100%; }
    .onboarding-container section form .email-label input {
      margin-bottom: 35px; }
  .onboarding-container section form button {
    height: 50px;
    border: 1px solid #739e39;
    background-color: #a5cc71;
    line-height: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: "whitneymedium", sans-serif;
    width: 100%;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    outline: none; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .onboarding-container section form button {
        margin-bottom: 20px; } }
    .onboarding-container section form button:hover {
      background-color: #b1d384; }

.topics {
  margin-top: 30px; }
  .topics button {
    height: 50px;
    border: 1px solid #739e39;
    background-color: #a5cc71;
    line-height: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: "whitneymedium", sans-serif;
    width: 100%;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    outline: none; }
    @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
      .topics button {
        margin-bottom: 20px; } }
    .topics button:hover {
      background-color: #b1d384; }

.topic-container {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  border: 1px solid #543594;
  position: relative;
  float: left;
  width: calc(33.33% - 20px);
  box-shadow: 0px 2px 15px -2px transparent;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,5b7da8+0,746898+100 */
  background: white;
  /* Old browsers */ }
  .topic-container:hover {
    box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.3); }
  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    .topic-container {
      width: calc(50% - 15px); } }
  .topic-container:nth-child(3n+3) {
    margin-right: 0px; }
    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      .topic-container:nth-child(3n+3) {
        margin-right: 30px; } }
  @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    .topic-container:nth-child(2n+2) {
      margin-right: 0px; } }
  .topic-container:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/ }
  .topic-container .topic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .topic-container .topic p {
      color: #3b3b3b;
      font-size: 22px;
      font-family: "whitneymedium", sans-serif;
      position: absolute;
      bottom: 30px;
      left: 30px; }
      @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
        .topic-container .topic p {
          font-size: 12px;
          bottom: 10px;
          left: 10px; } }
    .topic-container .topic .topic-tick {
      background-color: white;
      border: 2px solid #cccccc;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      position: absolute;
      bottom: 25px;
      right: 30px; }
      .topic-container .topic .topic-tick .icon-check-mark {
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease;
        color: white;
        text-align: center;
        padding-top: 15%;
        font-size: 20px; }
        @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
          .topic-container .topic .topic-tick .icon-check-mark {
            padding-top: 20%;
            font-size: 12px; } }
      @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
        .topic-container .topic .topic-tick {
          bottom: 7px;
          right: 10px;
          width: 20px;
          height: 20px; } }
  .topic-container.topic-selected {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,5b7da8+0,746898+100 */
    background: #87e0fd;
    /* Old browsers */
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #87e0fd), color-stop(0%, #5b7da8), color-stop(100%, #746898));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: -webkit-linear-gradient(315deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    background: linear-gradient(135deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#746898',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .topic-container.topic-selected p {
      color: white; }
    .topic-container.topic-selected .topic-tick {
      border: none; }

.topic span {
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #cccccc;
  font-size: 130px;
  padding-top: 15%; }
  @media screen and (max-device-width: 1460px), screen and (max-width: 1460px) {
    .topic span {
      font-size: 90px;
      padding-top: 25%; } }
  @media screen and (max-device-width: 1360px), screen and (max-width: 1360px) {
    .topic span {
      font-size: 70px;
      padding-top: 25%; } }
  @media screen and (max-device-width: 770px), screen and (max-width: 770px) {
    .topic span {
      font-size: 80px;
      padding-top: 25%; } }
  @media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .topic span {
      font-size: 60px;
      padding-top: 20%; } }

.topic-selected span {
  color: white; }

.topic-selected .topic-tick .icon-check-mark {
  color: #a5cc71 !important; }

.topic-container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(600) translateZ(0px);
          transform: perspective(600) translateZ(0px);
  -webkit-tap-highlight-color: transparent; }
  .topic-container:active {
    -webkit-transform: perspective(600) translateZ(-50px);
            transform: perspective(600) translateZ(-50px); }