h1.bill-title {
		text-align: center;
		@include font-size(30px);
		font-family: $font-light;
		margin-bottom: 30px;
		margin-top: 70px
}
.bill-timeline {
	margin-bottom: 80px;
	align-self: center;
	max-width: 500px;
	width: 100%;
	position: relative;
	.bill-timeline-bar {
	    position: absolute;
	    bottom: -15px;
	    margin: 0px auto;
	    width: calc(100% - 88px);
	    left: 0;
	    right: 0;
	    height: 5px;
		background: $black;
	}
	ul {
		display: flex;
		flex-direction: row;
		li {
			width: 20%;
			height: 100px;
			position: relative;
			display: flex;
			flex-direction: column;
			img {
				max-height: 50px;
				max-width: 74px;
				align-self: center;
				padding: 0px 20px;
			}
			p {
				text-align: center;
			    position: absolute;
			    bottom: 13px;
			    margin: 0px auto;
			    left: 0;
			    right: 0;
				@include font-size(12px);
				font-family: $font-light;
			}
			span {
				background-color: white;
				border-radius: 50%;
				height: 9px;
				width: 9px;
				border: 3px solid $black;
				display: block;
				position: absolute;
				bottom: -20px;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
	}
}