span {
	&.enacted-signed {
		width: 100%;
	}
	&.passed-senate {
		width: 75%;
	}
	&.passed-house {
		width: 50%;
	}
	&.committee {
		width: 25%;
	}
	&.bill-introduced {
		width: 0;
	}
}

.bill-timeline {
	&.passed-senate {
		li:nth-child(5) {
			img, p {opacity: 0.2;}
			span {border-color: lighten($black, 45%);}
		}
	}
	&.passed-house {
		li:nth-child(n+4) {
			img, p {opacity: 0.2;}
			span {border-color: lighten($black, 45%);}
		}	
	}
	&.committee {
		li:nth-child(n+3) {
			img, p {opacity: 0.2;}
			span {border-color: lighten($black, 45%);}
		}	
	}
	&.bill-introduced {
		li:nth-child(n+2) {
			img, p {opacity: 0.2;}
			span {border-color: lighten($black, 45%);}
		}	
	}

}


h1.bill-title {
		text-align: center;
		@include font-size(30px);
		font-family: $font-light;
		margin-bottom: 30px;
		margin-top: 70px
}

.bill-timeline {
	margin-bottom: 80px;
	align-self: center;
	max-width: 500px;
	width: 100%;
	position: relative;
	.bill-timeline-bar {
	    position: absolute;
	    bottom: -15px;
	    margin: 0px auto;
	    width: calc(100% - 88px);
	    left: 0;
	    right: 0;
	    height: 5px;
		background: transparentize($black, 0.8);
		span {
			position: absolute;
			background-color: $black;
			height: 5px;
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		li {
			width: 20%;
			height: 100px;
			position: relative;
			display: flex;
			flex-direction: column;
			img {
				max-height: 50px;
				max-width: 74px;
				align-self: center;
				padding: 0px 20px;
			}
			p {
				text-align: center;
			    position: absolute;
			    bottom: 13px;
			    margin: 0px auto;
			    left: 0;
			    right: 0;
				@include font-size(12px);
				font-family: $font-light;
			}
			span {
				background-color: white;
				border-radius: 50%;
				height: 9px;
				width: 9px;
				border: 3px solid $black;
				display: block;
				position: absolute;
				bottom: -20px;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
	}
}