.row-layout.comment {
  margin-top: 20px;
  margin-bottom: 10px;

  .top-comment-body {
    margin-top: 0;
  }
}

.top-comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .card {
    width: calc(50% - 10px);
  }
}

.top-comment-body {
  margin-top: 8px;
  margin-left: 10px;
  width: 100%;
  position: relative;

  h2 {
    color: $red;
    @include font-size(14px);
  }

  p {
    color: $black;
    @include font-size(14px);
    margin-top: 10px;
  }

  section {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
      @include font-size(12px);
      font-family: $font-bold;
      color: $green;

      &.opposed {
        color: $red;
      }
      line-height: 15px;
    }

    img {
      width: 13px;
      height: 13px;
      padding-left: 10px;
    }
  }
}

.bill-spec {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;

  .bill-sponsor {
    width: 40%;
    margin-right: 20px;
  }

  .bill-description {
    width: calc(60% - 20px);
  }
}

.bill-description {
  p {
    @include font-size(14px);
    color: $black;
  }
}

.user-img-border {
  border: 1px solid $greylight;
  border-radius: 3px;
  max-width: 55px;
  padding: 2px;

  // overflow: hidden;
  img {
    width: 100%;
    vertical-align: top;
    border-radius: 2px;
  }
}

.card {
  h1 {
    @include font-size(11px);
    font-family: $font-bold;
    color: $blue;
    text-transform: uppercase;
  }

  hr {
    margin-top: 13px;
    margin-bottom: 7px;
    border: none;
    border-bottom: 1px solid $widgetborder;
    width: 100%;
  }
}

.card {
  &.bill-sponsor {
    flex-grow: 1;
    align-content: stretch;

    .senator-img {
      // margin-top: 13px;
      img {
        border-radius: 3px;
        width: 80px;
        border: 1px solid $grey;
      }
    }

    .bill-sponsor-info {
      align-content: stretch;
      margin-top: 13px;
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        @include font-size(14px);

        // margin-top:28px;
        margin-bottom: 10px;
        color: $red;
        font-family: $font-bold;
      }

      h3 {
        @include font-size(14px);
        color: $black;
      }
    }
  }
}

.bill-comments {
  &.card {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    border-bottom: none;
    transition: all 0.2s ease;
  }
}

.card.comment-create {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 20px;
  background-color: #f4f2fe;
  display: flex;
  flex-direction: row;

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  img {
    height: 30px;
    width: 30px;
    margin: 0 40px 0 20px;
  }

  input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid $grey;
    color: $black;
    @include font-size(14px);
    padding: 5px 10px 5px 20px;
    transition: all 0.3s ease;

    &:focus {
      border-color: $blue;
    }
  }
}

.comment {
  transition: all 0.3s ease;
}

.comment.ng-enter {
  opacity: 0;
}

.comment.ng-enter.ng-enter-acitve {
  opacity: 1;
}

.bill-stats {
  margin-right: 20px;
  margin-bottom: 20px;
}

.current-vote-stats {
	margin-bottom: 20px;
	hr {
		margin-bottom: 20px;
	}
	h2, p {
		text-align:center;
	}
	div:nth-child(1) {
	p {
		color: $green;
		font-family:$font-bold;
		}
	}
	div:nth-child(2) {
	p {
		color: $red;
		font-family: $font-bold;
	}
	}
}
.vote-widget {
  margin-bottom: 20px;
  hr {
  	margin-bottom: 20px;
  }
  button:nth-child(1) {
  	margin-right: 10px;
  }
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	div.card {
		max-width: 400px;
		// height
	}
}