$black: #3b3b3b;
$white: #FFFFFF;
$grey: #cccccc;
$greylight: #E8E7EE;
$greydark: #676767;
$red: #e64a33;
$green: #a5cc71;
$fbblue: #3b5998;
$fbbluedark: #324b81;
$blue: #4d6eb3;
$purple: #543594;
$lightpurple: #9283b4;
$pale: #f4f2fe;
$twblue: #4099FF;
$bgcolor: #e8e7ee;
$widgetborder: #d6d4e1;
$radius: 3px;

.black {color: #3b3b3b; }
.white {color: #FFFFFF; }
.grey {color: #cccccc; }
.greylight {color: #E8E7EE; }
.red {color: #e64a33; }
.green {color: #a5cc71; }
.fbblue {color: #3b5998; }
.fbbluedark {color: #324b81; }
.blue {color: #4d6eb3; }
.purple {color: #543594; }
.lightpurple {color: #9283b4; }
.pale {color: #f4f2fe; }
.twblue {color: #4099FF; }
.bgcolor {color: #e8e7ee; }
.widgetborder {color: #d6d4e1; }
.radius {color: 3px; }
