$black: #3b3b3b;
$white: #FFFFFF;
$grey: #cccccc;
$greylight: #E8E7EE;
$red: #e64a33;
$green: #a5cc71;
$fbblue: #3b5998;
$fbbluedark: #324b81;
$blue: #4d6eb3;
$purple: #543594;
$lightpurple: #9283b4;
$pale: #f4f2fe;
$twblue: #4099FF;
$bgcolor: #e8e7ee;
$widgetborder: #d6d4e1;
$radius: 3px;

