.onboarding-container {
  position: absolute;
  margin: 0px auto 40px auto;
  left: 0;
  right: 0;
  max-width: 750px;
  top: 5%;
  transition: all 0.3s ease;
  @include media(480px){
  top: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 0;
  }
  border-radius: 3px;
  background-color: white;
  border: 1px solid $widgetborder;
  @include media(480px){
  border: none;
  }
  padding: 35px 20px;
  height: auto;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);

  header {
    @include media(480px){
    background-color: $greylight;
    position: relative;
    height: 100px;
    }
    border-bottom: 1px solid $widgetborder;

    img {
      width: 300px;
      padding-bottom: 20px;
      @include media(480px){
      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      margin: 0px auto;
      }
    }
  }

  .border {
    height: 0;
    @include media(480px){
    height: 7px;
    width: 100%;
      @include linear-gradient(#6769a0, #7f538e);
    }
  }

  section {
    @include media(480px){
  padding: 0px 20px;
    }

    h2 {
      color: $black;
      font-size: 20px;
      font-family: $font-normal;
      padding: 20px 0px;
      line-height: 30px;
    }

    form {
      label {
        @include media(480px){
        width: 100%;
        }
        color: $black;
        font-size: 12px;
        font-family: $font-normal;
        display: inline-block;
        width: calc(50% - 12px);
        select {
          font-family: $font-normal;
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
          background: white;
          font-size: 12px;
          height: 30px;
          padding-left: 10px;
          transition: all 0.2s ease;
          outline: none;
          border: 1px solid $grey;
          color: $purple;
          border-radius: 3px;
        }
        input {
          font-family: $font-normal;
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
          background: white;
          font-size: 12px;
          height: 30px;
          padding-left: 10px;
          transition: all 0.2s ease;
          outline: none;
          border: 1px solid $grey;
          border-radius: 3px;

          &.ng-pristine {
            color: $grey;
          }

          &.ng-dirty {
            color: $purple;
          }

          &:focus {
            border: 1px solid $purple;
          }
        }

        input[type="date"].ng-pristine {
          background-color: white;
          color: $grey;
        }

        input[type="date"].ng-dirty {
          color: $purple;
        }
      }

      .firstname,
      .signupdob {
        margin-right: 20px;
      }

      .email-label {
        width: 100%;

        input {
          margin-bottom: 35px;
        }
      }

      button {
        height: 50px;
        border: 1px solid darken($green, 20%);
        background-color: $green;
        line-height: 50px;
        color: white;
        font-size: 18px;
        text-align: center;
        font-family: $font-normal;
        width: 100%;
        display: inline-block;
        transition: all 0.2s ease;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        @include media(480px){
        margin-bottom: 20px;
        }

        &:hover {
          background-color: lighten($green, 5%);
        }
      }
    }
  }
  .register-error {
    height: 0;
    transition: all 0.2s ease;
    overflow: hidden;
    &.show {
    height: auto;
    background: lighten($red, 20%);
    border-radius: 3px;
    border: 1px solid $red;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    }
  }
}