body,
html,
.wrapper {
  min-height: 100%;
}

html {
  float: left;
  min-width: 100%;
}

body {
  background-color: $bgcolor;
  font-family: $font;
  position: relative;
  line-height: 1.5;
  color: $black;
}

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .app-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include max-width();
    @include media(1200px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @include media(480px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}


*::-moz-selection {
  color: white;
  background: lighten($purple, 20%);
}

*::selection {
  color: white;
  background: lighten($purple, 20%);
}

.vanish {
  opacity: 0;
}

.visible {
  opacity: 1;
}

a {
  cursor: pointer;
}


.wrapper {
  top: 0;
  // position: absolute;
  width: 100%;

  &.ng-leave,
  &.ng-enter {
    transition: all 0.25s ease;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter {
    opacity: 0;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  &.ng-enter.ng-enter-stagger {
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

input {
  -webkit-appearance: none;
}

.click {
  cursor: pointer;
}

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


p {
  word-break: break-all;
}
