body,
html,
.wrapper {
  min-height: 100%;
}

body {
  background-color: $bgcolor;
  font-family: $font;
  position: relative;
  line-height: 1.5;
  color: $black;
}

.app {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .app-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include max-width();
    @include media(1200px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    @include media(480px) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include media(320px) {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}


*::-moz-selection {
  color: white;
  background: lighten($purple, 20%);
}

*::selection {
  color: white;
  background: lighten($purple, 20%);
}

.vanish {
  opacity: 0;
}

.visible {
  opacity: 1;
}

a {
  cursor: pointer;
}


.wrapper {
  top: 0;
  position: absolute;
  width: 100%;

  &.ng-leave,
  &.ng-enter {
    transition: all 0.25s ease;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter {
    opacity: 0;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  &.ng-enter.ng-enter-stagger {
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

input {
  -webkit-appearance: none;
}

footer {
    // display: flex;
    // flex-direction: column;
    float:left;
    width:100%;
    height: auto;
    background:$white;
    position: relative;
    display: block;
    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    position: initial;
    flex-direction: column;
    height: auto;
    text-align: center;
    }
    .row {margin-top:30px;display:block;}
    .left {
      padding:0px 40px 0;
    }
    .right {
      text-align:right;
      padding:0 40px;
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        text-align: center;
      }
    }
    p {
      color:$grey;
      @include font-size(14px);
      text-align:left;;
    }
    span {
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      align-self: center;
      text-align: center;
      padding-top: 30px;
      }
      padding: 30px 0px 0px;
      position: initial;
      text-align:left;
      color: $black;
      font-weight: $font-bold;
      text-transform: uppercase;
      @include font-size(13px);

      // margin-right: auto;
    }

    ul {
      padding-top: 20px;
      padding-bottom: 20px;
      position:initial;
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      display: block;
      position: initial;
      padding: 20px;
      margin-bottom:10px;
      text-align: center;
      font-weight:$font-normal;
      }
      // display: flex;
      // flex-direction: row;
      // margin-left: auto;
      li {
        display: block;
        padding: 0px 0 15px;;
        a {
          text-decoration: none;
          color: $blue;
          font-weight: $font-light;
          @include font-size(14px);
          &:hover {
            color:$red;
            box-shadow:none;
            text-shadow:none;
          }
        }
      }
    }
    img {
      width:200px;
      padding-bottom: 10px;
      @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
      width:120px;
      text-align:center;
      }
      &.social {
        width:15px;
        margin-left:-5px;
        padding-bottom:0;
        &:hover {
        opacity:0.8;
      }
      }
    }
  }
