body, html, div, .wrapper {
	height: 100%;
}

body {
	background-color: $bgcolor;
	font-family: $font-normal;
	position: relative;
}
body::-moz-selection { color: $purple; background: lighten($purple, 20%);}
body::selection { color: $purple; background: lighten($purple, 20%); }

.vanish {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.wrapper {
	top: 0;
	position: absolute;
	width: 100%;
	&.ng-leave, &.ng-enter {
		transition: all 0.25s ease;
	}
	&.ng-leave {
		opacity: 1;
	}
	&.ng-enter {
		opacity: 0;
		transition-delay: 0.25s;
		animation-delay: 0.25s
	}
	&.ng-enter.ng-enter-stagger {

	}
	&.ng-enter.ng-enter-active {
		opacity: 1;
	}
	&.ng-leave.ng-leave-active {
		opacity: 0;
	}
}

input {
	-webkit-appearance: none;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  height: auto;
  border: 1px solid $widgetborder;
  padding: 20px;
  // box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  .row-layout {
  	display: flex;
  	flex-direction: row;
  	align-content: stretch;
  }
}
