body, html, div, .wrapper {
	height: 100%;
}

body {
	background-color: $bgcolor;
	font-family: $font-normal;
	position: relative;
}
body::-moz-selection { color: $purple; background: lighten($purple, 20%);}
body::selection { color: $purple; background: lighten($purple, 20%); }

.vanish {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.wrapper {
	top: 0;
	position: absolute;
	opacity: 1;
	&.ng-leave, &.ng-enter {
		transition: all 0.4s ease;
	}
	&.ng-leave {
		opacity: 1;
	}
	&.ng-enter {
		opacity: 0;
	}
	&.ng-enter-stagger {
		transition-delay: 0.4s;
		animation-delay: 0.4s
	}
	// &.ng-leave-stagger {
	// 	transition-delay: 0.4s;
	// 	animation-delay: 0.4s;
	// }
	&.ng-enter.ng-enter-active {
		opacity: 1;
	}
	&.ng-leave.ng-leave-active {
		opacity: 0;
	}
}

