body,
html,
div,
.wrapper {
  height: 100%;
}

body {
  background-color: $bgcolor;
  font-family: $font-light;
  position: relative;
  line-height: 1.5;
}

*::-moz-selection {
  color: $purple;
  background: lighten($purple, 20%);
}

*::selection {
  color: $purple;
  background: lighten($purple, 20%);
}

.vanish {
  opacity: 0;
}

.visible {
  opacity: 1;
}



.wrapper {
  top: 0;
  position: absolute;
  width: 100%;

  &.ng-leave,
  &.ng-enter {
    transition: all 0.25s ease;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter {
    opacity: 0;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  &.ng-enter.ng-enter-stagger {
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

input {
  -webkit-appearance: none;
}

