/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
}
.col:first-child { margin-left: 0; }

/*  ALIGNMENT  */

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.l-12 {
  width: 100%;

}

.l-11 {
    width: 91.63%;

}
.l-10 {
    width: 83.3%;

}

.l-9 {
    width: 74.97%;

}

.l-8 {
    width: 66.64%;

}

.l-7 {
    width: 58.31%;

}

.l-6 {
    width: 50%;

}

.l-5 {
    width: 41.65%;

}

.l-4{
    width: 33.33%;

}
.l-3 {
    width: 25%;

}

.l-2 {
    width: 16.66%;

}

.l-1 {
    width: 8.33%;
}
@media screen and (max-device-width: 900px), screen and (max-width: 900px) {
.m-12 {
  width: 100%;

}

.m-11 {
    width: 91.63%;

}
.m-10 {
    width: 83.3%;

}

.m-9 {
    width: 74.97%;

}

.m-8 {
    width: 66.64%;

}

.m-7 {
    width: 58.31%;

}

.m-6 {
    width: 50%;

}

.m-5 {
    width: 41.65%;

}

.m-4{
    width: 33.33%;

}
.m-3 {
    width: 25%;

}

.m-2 {
    width: 16.66%;

}

.m-1 {
    width: 8.33%;
}
}
@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
.s-12 {
  width: 100%;

}

.s-11 {
    width: 91.63%;

}
.s-10 {
    width: 83.3%;

}

.s-9 {
    width: 74.97%;

}

.s-8 {
    width: 66.64%;

}

.s-7 {
    width: 58.31%;

}

.s-6 {
    width: 50%;

}

.s-5 {
    width: 41.65%;

}

.s-4{
    width: 33.33%;

}
.s-3 {
    width: 25%;

}

.s-2 {
    width: 16.66%;

}

.s-1 {
    width: 8.33%;
}
}

.right {
  float: right;
}
.left {
  float: left;
}