.home {
  position: relative;

  nav {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    top: 0;
    position: absolute;
    width: 100%;

    .logo-white {
      width: 140px;
      height: 23px;
    }

    .logo-color {
    }

    ul {
      display: flex;
      margin-left: auto;

      li {
        flex-direction: column;

        a {
          @include font-size(14px);
          text-decoration: none;
          color: white;
          padding: 10px;
          @include light();
        }
      }
    }
  }

  .intro {
    z-index: 1;
    max-height: 545px;
    overflow: hidden;
    position: relative;
    top: 0;
    background: #87e0fd;

    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #87e0fd), color-stop(0%, #5b7da8), color-stop(100%, #746898));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* IE10+ */
    background: linear-gradient(135deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#746898', GradientType=1 );

    /* IE6-9 fallback on horizontal gradient */
    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: auto;
    }

    section {

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      padding-top: 70px;
      max-width: 100%;
      padding-right: 40px;
      padding-left: 40px;
      color: white;
      margin-bottom: -105px;
      }
      max-width: 420px;
      padding-top: 200px;
      padding-left: 40px;
      color: white;

      h1 {
        @include font-size(40px);
        @include medium();
        line-height: 45px;
        padding-bottom: 30px;

        span {
          @include medium(italic);
        }
      }

      h2 {
        @include font-size(18px);
        line-height: 20px;
        @include light();
        padding-bottom: 20px;
      }

      h3 {
        @include light();
        @include font-size(11px);
      }
    }
  }

  .phone {
    width: 310px;
    position: absolute;
    bottom: -145px;
    right: 150px;

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    position: relative;
    display: flex;
    right: 0;
    left: 0;
    align-self: center;

      // flex-grow: 2;
    }
  }

  .home-box {
    width: 50%;
    float: left;

    &.last {
      padding: 16px 16px 16px 10px;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      padding: 0px 16px 16px 16px;
      }
    }

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    padding: 16px;
    max-height: 100%;
    height: auto;
    flex-direction: column;
    width: 100%;
    }
    padding: 16px 8px 16px 8px;
    color: #3b3b3b;
    display: flex;
    max-height: 500px;

    section {
      border: 1px solid #d6d4e1;
      background: white;
      padding: 60px 40px;
      border-radius: 3px;

      img {
        width: 50px;
        height: 50px;
        padding-bottom: 40px;
      }

      h1 {
        @include font-size(24px);
        padding-bottom: 40px;
        @include bold();
      }

      p {
        @include font-size(22px);
        padding-bottom: 40px;
        @include light();
        line-height: 28px;
      }
    }
  }

  .shoutout {
    background: url('../img/mission-bg.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    max-height: 400px;

    h1 {
      padding: 0px 50px;
      align-self: center;
      text-align: center;
      color: white;
      @include light(italic);
      @include font-size(20px);
      line-height: 24px;
    }
  }

  .about {
    height: auto;

    h1 {
      flex-direction: row;
      padding: 50px;
      color: $black;
      text-align: center;
      @include font-size(30px);
      @include light();

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      padding: 50px 20px;
        @include font-size(24px);
      line-height: 30px;
      }
    }

    div {
      display: flex;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      flex-direction: column;
      padding: 0px 40px 40px 40px;
      }

      section {
        &:last-child {
          margin: 0px 70px 70px 35px;

          @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
          margin: 0px;
          }
        }
        height: 300px;

        @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        height: auto;
        max-height: 100%;
        margin: 0px 0px 40px 0px;
        width: 100%;
        }
        margin: 0px 35px 70px 70px;
        color: $black;
        border: 1px solid #d6d4e1;
        background: white;
        padding: 60px 40px;
        border-radius: 3px;

        h2 {
          color: $black;
          text-align: center;
          @include font-size(22px);
          @include medium();
          padding-bottom: 20px;
        }

        p {
          color: $black;
          text-align: center;
          @include font-size(18px);
          line-height: 24px;
          @include light();
        }
      }
    }
  }

  .sign-up-home {
    height: auto;
    background: white;
    border-top: 1px solid #d6d4e1;
    border-bottom: 1px solid #d6d4e1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      @include light();
      text-align: center;
      padding: 50px;
      @include font-size(28px);
      color: $black;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      line-height: 38px;
      }
    }

    a {
      margin-bottom: 50px;
      text-decoration: none;
      height: 50px;
      border: 1px solid;
      background-color: $green;
      line-height: 50px;
      color: white;
      font-size: 18px;
      text-align: center;
      @include light();
      width: 30%;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      width: 70%;
      }
      display: inline-block;
      transition: all 0.2s ease;
      border-radius: 5px;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: lighten($green, 5%);
      }
    }
  }

  footer {
    // display: flex;
    // flex-direction: column;
    height: 60px;
    position: relative;
    display: block;

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    display: flex;
    position: initial;
    flex-direction: column;
    height: auto;
    }

    span {
      position: absolute;
      display: block;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      position: initial;
      align-self: center;
      padding-top: 30px;
      }
      top: 25px;
      left: 40px;
      color: $black;
      @include light();
      @include font-size(14px);

      // margin-right: auto;
    }

    ul {
      padding-top: 20px;
      padding-bottom: 20px;
      position: absolute;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      display: flex;
      position: initial;
      align-self: center;
      }
      right: 25px;

      // display: flex;
      // flex-direction: row;
      // margin-left: auto;
      li {
        display: inline-block;
        padding: 0px 15px;

        a {
          text-decoration: none;
          color: $black;
          @include light();
          @include font-size(14px);
        }
      }
    }
  }
}