@function calculateRem($size) {
  $remSize: $size / 16px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin linear-gradient($one, $two) {
  background: $one;
  background: -moz-linear-gradient(left, $one 0%, $two 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $one), color-stop(100%, $two));
  background: -webkit-linear-gradient(left, $one 0%, $two 100%);
  background: -o-linear-gradient(left, $one 0%, $two 100%);
  background: -ms-linear-gradient(left, $one 0%, $two 100%);
  background: linear-gradient(to right, $one 0%, $two 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$one}', endColorstr='#{$two}', GradientType=1 );
}

@mixin media($width) {
  @media screen and (max-device-width: $width), screen and (max-width: $width) {
    @content;
  }
}