//media query 1226px

.topics {
	margin-top: 30px;

				button {
				height:50px;
				border: 1px solid darken($green, 20%);
				background-color: $green;
				line-height: 50px;
				color: white;
				font-size: 18px;
				text-align: center;
				font-family: $font-normal;
				width: 100%;
				display: inline-block;
				transition: all 0.2s ease;
				border-radius: 5px;
				cursor: pointer;
				outline: none;
				@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
					margin-bottom: 20px;
				}
				&:hover {
					background-color: lighten($green, 5%);
				}

			}
}
.topic-container {
	transition: all 0.2s ease;
	cursor: pointer;
	margin-right: 30px;
	margin-bottom:30px;
	border-radius: 3px;
	border: 1px solid $purple;
	position: relative;
	float: left;
    width: calc(33.33% - 20px);
	-webkit-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0);
	-moz-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0);
	box-shadow: 0px 2px 15px -2px rgba(0,0,0,0);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,5b7da8+0,746898+100 */
	background: white; /* Old browsers */
    &:hover {
		-webkit-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 15px -2px rgba(0,0,0,0.3);
    }
    @media screen and (max-device-width: 900px), screen and (max-width: 900px) { 
	 width: calc(50% - 15px);	
	}
    &:nth-child(3n+3) {
    	margin-right: 0px;
    	@media screen and (max-device-width: 900px), screen and (max-width: 900px) { 
	 	margin-right: 30px;
		}
    }
    &:nth-child(2n+2) {
    	@media screen and (max-device-width: 900px), screen and (max-width: 900px) { 
		margin-right: 0px;
	}
    
    }
		&:before {
		content: "";
		display: block;
		padding-top: 100%; 	/* initial ratio of 1:1*/
	}
		.topic {
		position:  absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow:hidden;

		p {
			color: $black;
			font-size: 22px;
			font-family: $font-normal;
			position: absolute;
			bottom: 30px;
			left: 30px;
			@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
					font-size: 12px;
					bottom: 10px;
					left: 10px;
				}
		}
		.topic-tick {
			background-color: white;
			border: 2px solid $grey;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			position: absolute;
			bottom: 25px;
			right: 30px;
			& .icon-check-mark {
				transition: 0.5s ease;
				color: white;
				text-align: center;
				padding-top: 15%;
				font-size: 20px;
				@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
					padding-top: 20%;
					font-size:12px;
				}
			}
			@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
				bottom: 7px;
				right: 10px;
				width: 20px;
				height: 20px;
				}
		}
	}
		&.topic-selected {
				
			p {
				color: white;
			}
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,5b7da8+0,746898+100 */
			background: #87e0fd; /* Old browsers */
			background: -moz-linear-gradient(-45deg,  #87e0fd 0%, #5b7da8 0%, #746898 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#87e0fd), color-stop(0%,#5b7da8), color-stop(100%,#746898)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(-45deg,  #87e0fd 0%,#5b7da8 0%,#746898 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(-45deg,  #87e0fd 0%,#5b7da8 0%,#746898 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(-45deg,  #87e0fd 0%,#5b7da8 0%,#746898 100%); /* IE10+ */
			background: linear-gradient(135deg,  #87e0fd 0%,#5b7da8 0%,#746898 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#746898',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			.topic-tick {
				border: none;
			}
		}
}


//Icons
.topic {
	span {
		text-align: center;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $grey;
		font-size: 130px;
    	padding-top: 15%;
    	@media screen and (max-device-width: 1460px), screen and (max-width: 1460px) {
    		font-size: 90px;
    		padding-top: 25%;
    	}
		@media screen and (max-device-width: 1360px), screen and (max-width: 1360px) {
			font-size: 70px;
			padding-top: 25%;
		}

		@media screen and (max-device-width: 770px), screen and (max-width: 770px) {
			font-size: 80px;
			padding-top: 25%;
		}
		@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
			font-size: 60px;
			padding-top: 20%;
		}
	}

}

.topic-selected {
	span {
		color: white;
	}
	.topic-tick {
		& .icon-check-mark {
			color: $green !important;
		}
	}
}

.topic-container {
	transform-style: preserve-3d;
	transform: perspective(600) translateZ(0px);
	&:active {
		transform: perspective(600) translateZ(-50px);
	}
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}













