<section class="profile">
  <div class="profile-header">
   
       <div class="row"> 
          <!-- insert a link on image to refresh profile page -->
          <img ng-src="{{user.img_url}}" class="profile-picture" alt="Profile Picture"/>
          <!-- end link -->
            <div class="user-title">
               <h1>{{user.first_name }} {{user.last_name}}</h1>
                <span><!-- geo location icon --></span>
                <h3><i class="icon-loc"></i>{{user.country_code}}</h3>
            </div>
        </div>
  </div>
    
   
  <div class="profile-follow">
      <div class="row">
         <div class="stats total-followers">
                <span>{{user.total_followers}}</span>
                <h3>Followers</h3>
              </div>
          <div class="stats total-following">
            <span>{{user.total_following}}</span>
            <h3>Following</h3>
        </div>
          <div class="follow-me" ng-show="profile.isNotMe()">
            <button ng-hide="user.following" ng-click="profile.follow()">Follow</button>
            <button ng-show="user.following" ng-click="profile.unfollow()">Unfollow</button>
          </div>
      </div>
  </div>
</section>
