<div class="app">
	<div class="app-body">
            		<h1 class="bill-title">{{bill.body.getTitle()}}</h1>
                <section class="bill-timeline {{bill.body.getStatusClass()}}">
            		<ul>
            			<li>
          				<i class="icon-introduced"></i>
            				<p>Bill Introduced</p>
            				<span></span>
            			</li>
            			<li>
                  <i class="icon-committee"></i>
            				<p>Reported by Committee</p>
            				<span></span>
            			</li>
            			<li>
                  <i class="icon-passed-house"></i>
            				<p>Passed House</p>
            				<span></span>
            			</li>
            			<li>
                  <i class="icon-passed-senate"></i>
            				<p>Passed Senate</p>
            				<span></span>
            			</li>
            			<li>
                  <i class="icon-enacted"></i>
            				<p>Enacted</p>
            				<span></span>
            			</li>
            		</ul>
                <div  class="bill-timeline-bar"><span class="{{bill.body.getStatusClass()}}"></span></div>
            		</section>

    <section class="top-comments" ng-show="bill.forComment.author">
  		<div class="card">
  			<h1>Top Comment In Favor</h1>
  			<hr />
        <div class="pre-loader" ng-hide="bill.topLoaded"></div>
        <aside class="row-layout loaded" ng-show="bill.forComment.author">
  			<div class="user-img-border">
          <img src="{{bill.forComment.author_img_url}}" />
  			</div>
  			<div class="top-comment-body" ng-show="bill.hasForComment">
          <h2><a href="#/profile/{{bill.forComment.author}}">{{bill.forComment.author_first_name}}</a></h2> <section class="comment-vote"><span ng-class="{'score-down': comment.score < 0, 'score-none': bill.forComment.score == 0}">{{bill.forComment.score}}</span><i class="icon-thumbs-up thumbs" ng-class="{'score-up': bill.forComment.liked == true}" ng-click="bill.forComment.like(bill.commentService)"></i><i class="icon-thumbs-down thumbs" ng-class="{'score-down': bill.forComment.disliked == true}" ng-click="bill.forComment.dislike(bill.commentService)"></i></section>
          <p>{{bill.forComment.body}}</p>
  			</div>
        <div ng-show="bill.noForComment">
          <!-- Do Something -->
        </div>
        </aside>
  		</div>
      <div class="card">
        <h1>Top Comment Opposed</h1>
        <hr />
        <div class="pre-loader" ng-hide="bill.topLoaded"></div>
        <aside class="row-layout loaded" ng-show="bill.againstComment.author">
          <div class="user-img-border">
            <img ng-src="{{bill.againstComment.author_img_url}}" />
          </div>
          <div class="top-comment-body" ng-show="bill.hasAgainstComment">
            <h2><a href="#/profile/{{bill.againstComment.author}}">{{bill.againstComment.author_first_name}}</a></h2> <section class="comment-vote opposed"><span ng-class="{'red': bill.againstComment.score < 0}">{{bill.againstComment.score}}</span><i class="icon-thumbs-up thumbs" ng-class="{'score-up': bill.againstComment.liked == true}" ng-click="bill.againstComment.like(bill.commentService)"></i><i class="icon-thumbs-down thumbs" ng-class="{'score-down': bill.againstComment.disliked == true}" ng-click="bill.againstComment.dislike(bill.commentService)"></i></section>
            <p>{{bill.againstComment.body}}</p>
          </div>
          <div class="top-comment-body" ng-show="bill.noAgainstComment">
          <!-- Do Something -->
          </div>
        </aside>
      </div>

    </section>
    <section class="bill-spec">
		<div class="card bill-sponsor">
      <h1>Bill Sponsor</h1>
			<hr />
      <div class="pre-loader" ng-hide="bill.body.billData.sponsor.name"></div>
      <aside class="row-layout loaded" ng-show="bill.body.billData.sponsor.name">
			<div class="senator-img">
        <img ng-src="{{bill.legislator.getImageUrl()}}" />
			</div>
			<div class="bill-sponsor-info">
        <h2>{{bill.body.billData.sponsor.name}}</h2>
        <h3>{{bill.legislator.properties.current_term.party}}</h3>
			</div>
      </aside>
		</div>

		<div class="card bill-description">
			<h1>Bill Summary</h1>
			<hr />
      <p ng-bind-html="bill.body.getSummary()"></p>
    <div ng-click="bill.readmore = true" class="readmore">
        <p>Read More</p>
      </div>
		</div>
    </section>

    <div class="card bill-comments">
      <h1>COMMENTS</h1>
      <hr />
    <div class="pre-loader" ng-hide="bill.comments"></div>
    <div ng-show="bill.commentMessage" class="card-message">
      <h2>Be the first to comment on this bill.</h2>
    </div>
      <comments ng-show="bill.comments" comments='bill.comments'></comments>
		</div>

    <div class="comment-create card">
      <form ng-submit="bill.postComment()">
        <div class="gen-user-img">
        <img src="http://cdn.placeavote.com/img/comments/user.png" />
        </div>
        <input type='text' name='commentOnBillBox' ng-model='bill.commentBody' placeholder='Write your comment here'></input>
      </form>
    </div>


<section ng-switch="bill.chartShow" class="row bill-stats-vote l-12">
		<div ng-switch-when="true" class="card bill-stats l-6">
    <h1>Statistics</h1>
    <hr />
    <status-chart data="bill.stats"></status-chart>
		</div>
    <div ng-class="{'row no-chart': !bill.chartShow, 'col': bill.chartShow}" class="l-12 vote-btns-stats">
    <div class="card vote-widget">
    <h1>Vote Now</h1>
    <hr />
    <aside class="row" ng-cloak ng-hide="bill.hasVoted">
      <button class="btn-green l-6" ng-click="bill.showVoteModal(true)"><span class="icon-arrow-up"></span> Vote In Favor </button>
      <button class="btn-red l-6" ng-click="bill.showVoteModal(false)"><span class="icon-arrow-down"></span> Vote Against </button>
    </aside>
      <section class="card-message" ng-show="bill.hasVoted">
      <h2>You have already voted on this bill.</h2>
      </section>
    </div>

    <div class="card current-vote-stats">
    <h1>Current Voting</h1>
    <hr />
      <aside class="row">
      <div class="l-6">
      <h2>IN FAVOR:</h2>
      <p>{{bill.currentVotes.yesPercentage}} &#37;</p>
      </div>
      <div class="l-6">
      <h2>OPPOSED:</h2>
      <p>{{bill.currentVotes.noPercentage}} &#37;</p>
      </div>
      </aside>
    </div>
    </div>
  </section>



   <section class="modal" ng-show='bill.showVote' >
       <div class="card vote-confirm" ng-hide='bill.userVoted' >
       <img ng-click="bill.hideVoteModal()" class="close" src="http://cdn.placeavote.com/img/close-widget-black.png" />
        <h5>Please confirm your vote</h5>
        <div class='vote-modal'>
            <p>{{bill.voteModal.message}}</p>
            <div class="row">
            <button ng-class="bill.voteModal.colour" ng-click="bill.voteOnBill()"><span class="{{bill.voteModal.icon}}"></span>{{bill.voteModal.button}}</button>
            <button class="btn-grey" ng-click="bill.hideVoteModal()"> I'm not ready yet </button>
            </div>
        </div>
        </div>
    <div class="card vote-confirmed" ng-show='bill.userVoted'>
          <img ng-click="bill.hideVoteModal()" class="close" src="http://cdn.placeavote.com/img/close-widget-black.png" />
          <div class="vote-confirmed-header">
          <img class="logo-modal" src="http://cdn.placeavote.com/img/mark_full_color.svg" />
          <h3>Vote Confirmed</h3>
          <p>Congratulations, you have just cast your vote on:</p>
          <h4>{{bill.body.getTitle()}}</h4>
          </div>
          <div class="card comment-preview" ng-show="bill.commentCard.set">
              <h1>{{bill.commentCard.status}}</h1>
              <hr />
              <aside class="row-layout">
        <div class="user-img-border">
          <img ng-src="{{bill.forComment.author_img_url}}" />
        </div>
              <div class="top-comment-body">
              <h2><a href="#/profile/{{bill.forComment.author}}">{{bill.commentCard.author_first_name}}</a></h2>
            <section class="comment-vote"><span>{{bill.forComment.score}}</span><i class="icon-thumbs-up thumbs" ng-click="bill.forComment.like(bill.commentService)"></i><i class="icon-thumbs-down thumbs" ng-click="bill.forComment.dislike(bill.commentService)"></i></section>
              <p>{{bill.commentCard.body}}</p>
              </div>
              </aside>
            <div class="reply-comment" ng-show="bill.commentCard.replyInput">
            <textarea type="text" placeholder="Reply" ng-model="bill.commentCard.replyText"></textarea><span ng-click="bill.commentCard.reply(bill.id, bill.commentService)" class="btn-green btn-modal">POST</span>
            </div>
          <div class="row reply-modal">

           <button class="btn-blue" ng-click="bill.commentCard.showReplyInput()"><span class="icon-reply"></span> Reply to Comment </button>
           <button class="btn-grey" ng-click="bill.hideVoteModal()"> Take me back to bill </button>
          </div>
        </div>
          </div>
    </section>

    <section class="modal" ng-show="bill.readmore">
        <div class="card full-description">
        <img ng-click="bill.readmore = false" class="close" src="http://cdn.placeavote.com/img/close-widget-black.png" />
        <h1>{{bill.body.getTitle()}}</h1>
        <section>
        <p ng-bind-html="bill.body.getSummary()"></p>
        </section>
        </div>
    </section>
  </div>
  </div>
</div>
