<header-nav></header-nav>
<div class="app">
	<div class="app-body">
		<h1 class="bill-title">{{bill.body.getTitle()}}</h1>
		<section class="bill-timeline {{bill.body.getStatusClass()}}">
		<div class="bill-timeline-bar"><span class="{{bill.body.getStatusClass()}}"></span></div>
		<ul>
			<li>
				<img src="img/bills/introduced.svg" />
				<p>Bill Introduced</p>
				<span></span>
			</li>
			<li>
				<img src="img/bills/committee.svg" />
				<p>Reported by Committee</p>
				<span></span>			
			</li>
			<li>
				<img src="img/bills/passed-house.svg" />
				<p>Passed House</p>
				<span></span>
			</li>
			<li>
				<img src="img/bills/passed-senate.svg" />
				<p>Passed Senate</p>
				<span></span>			
			</li>
			<li>
				<img src="img/bills/enacted.svg" />
				<p>Enacted</p>
				<span></span>		
			</li>
		</ul>
		</section>
    	<div class="top-comment favor">
			<h1></h1>
			<hr />
			<div class="user-img-border">
				<img src="" />
			</div>
			<div class="comment">
			<h2></h2> <section><span>123</span><img src=""><img src="" /></section>
			<p></p>
			</div>
		</div>

		<div class="top-comment opposed">
			<h1>Top Comments In Favor</h1>
			<hr />
			<div class="user-img-border">
				<img src="" />
			</div>
			<div class="comment">
        <h2>{{bill.topComment.user_name}}</h2> <section><span>{{bill.topComment.upvotes}}</span><img src=""><img src="" /></section>
        <p>{{bill.topComment.comment}}</p>
			</div>
		</div>
		<div class="bill-sponsor">
      <h1></h1>
			<hr />
			<div class="senator-img">
				<img src="" />
			</div>
			<div class="bill-sponsor-info">
        <h2>{{bill.body.billData.sponsor.name}}</h2>
        <h3>{{bill.body.billData.sponsor.title}}</h3>
			</div>
		</div>

		<div class="bill-description">
			<h1></h1>
			<hr />
      <p>{{bill.body.billData.summary}}</p>
		</div>

		<div class="bill-comments">
		</div>

		<div class="bill-stats">
		</div>

		<div class="vote-widget">
		</div>

		<div class="current-vote-stats">
		</div>
	</div>
</div>
