<div class="comment-container">

        <section class="comment">
          <div class="user-img-border">
            <img src='{{comment.author_img_url}}' />
          </div>

            <div class="top-comment-body">

            <h2>{{comment.author}}</h2>

            <section class="comment-vote"><span>{{comment.score}}</span><img ng-click="comment.like(commentService)"src="img/card/thumb-up.png"><img src="img/card/thumb-down.png" ng-click="comment.dislike(commentService)"/><span class="reply-btn" ng-click="comment.showReplyInput()">reply</span></section>

            <p>{{comment.body}}</p>
            <div ng-show="comment.replyInput">
            <input type="text" placeholder="Reply" ng-model="comment.replyText"></input><span class="reply-btn" ng-click="comment.reply(comment.bill_id, commentService)">Reply</span><span class="reply-btn" ng-click="comment.hideReplyInput()">Cancel</span>
            </div>
            </div>
        </section>

        <div class="reply-btn-container" ng-show='comment.replies.length > 0 && comment.deep < 2'>
            <button class="reply-show-hide" ng-hide='comment.showChildren' ng-click='comment.show()'>Show Replies {{comment.replies.length}}</button>
            <button class="reply-show-hide" ng-show='comment.showChildren' ng-click='comment.hide()'>Hide Replies</button>
        </div>


</div>
