<div class="comment-container">
<aside class='row-layout comment'>
  <div class="user-img-border">
    <img src='{{comment.img_url}}' />
  </div>
    <div class="top-comment-body">
    <h2>{{comment.author}}</h2> <section class="comment-vote"><span>{{comment.score}}</span><img ng-click="comment.like($parent.commentService)"src="img/card/thumb-up.png"><img src="img/card/thumb-down.png" ng-click="comment.dislike($parent.commentService)"/><span>reply</span></section>
    <p>{{comment.body}}</p>
    </div>
</aside>

    <div class="row reply-container" ng-show='comment.replies.length > 0 && comment.deep < 2'>
      <div ng-hide='comment.showChildren '>
        <button ng-click='comment.show()'>Show Replies {{comment.replies.length}}</button>
      </div>
      <div ng-show='comment.showChildren'>
        <button ng-click='comment.hide()'>Hide Replies</button>
      </div>
    </div>
</div>
