<div>

  <!-- Invite Card -->
    <!-- Message -->
      <!-- Add Google Contacts -->
      <!-- Add your own -->
      <div class="c-card">
        <h1>
          Invite your friends
        </h1>
        <hr />
        <div class="c-card__content">
          <p>Invite your friends and family to ensure they're represented</p>

          <button class="c-button
                         c-button--large
                         c-button--green"
                  ng-click="showModal('gmail');">
                         via GMail Contact
          </button>

          <button class="c-button
                         c-button--large
                         c-button--green"
                  ng-click="showModal('email');">
                         via Email
          </button>

        </div>
      </div>

</div>
