<!-- Modal -->
<div class="c-modal__wrapper c-modal__wrapper--active c-modal--scroll">
  <div class="c-card c-card--modal c-card--bill">
    <p class="c-modal__close red click"
        ng-click="closeModal()">close</p>

        <div ng-show="fetching" class="padding-large margin-large text-center
        ">
            <p class="margin-top-large padding-top-large">
              Fetching Gmail contacts...
            </p>
        </div>


 <!-- Step One -->
   <div ng-show="views.gmail">
     <h1>
       Google Contacts
     </h1>
     <hr />
     <div class="c-card__content">
       <div ng-repeat="(em, value) in googleContacts" class="row margin-bottom-small c-invite__email-contact">
         <div class="col l-9">
           <input type="text"
                  class="c-invite__email-contact--name"
                  ng-model="value.name"
                  placeholder="Add name" />
           <p ng-bind="em" class="italic"></p>
         </div>
         <div class="l-3">
           <button ng-click="sendInvite({name: value.name, email: em});"
                   class="c-button c-button--green c-button--medium c-button--invite"
                   ng-class="{'c-button--blue': value.invited}">
                   <icon ng-if="!value.invited"
                         icon="icon-add-2-1"></icon>
                  <p ng-if="!value.invited && !value.sendingInvite">Invite</p>
                  <p ng-if="value.sendingInvite">Sending</p>
                  <icon ng-if="value.invited"
                        icon="icon-check-mark"></icon>
                  <p ng-if="value.invited">Invited</p>
           </button>
         </div>
       </div>
       <button
          ng-click="view('manual')"
          class="c-button c-button--medium c-button--green">
         Add More Contacts
       </button>
       <button
          ng-click="closeModal()"
          class="margin-small-left c-button--grey c-button c-button--medium">
          Done
        </button>
     </div>
   </div>

<!-- Step Two Add Contacts -->

   <div ng-show="views.manual">
     <h1>
       Add contacts
     </h1>
     <hr />
     <div class="c-card__content">

       <div ng-repeat="contact in contacts" class="row margin-bottom-small c-invite__email-contact">
         <div class="col l-9">
           <input type="text"
                  class="c-invite__email-contact--name"
                  ng-model="contact.name"
                  placeholder="Add name"
                  disabled />
           <p ng-bind="contact.email" class="italic"></p>
         </div>
         <div class="l-3">

           <button
                 class="c-button c-button--blue c-button--medium c-button--invite">
                 <icon icon="icon-check-mark"></icon>
                  <p>Invited</p>
           </button>

         </div>
       </div>


       <p ng-show="googleContactsError">
         It looks like there was an error when trying to fetch your Gmail contacts. You can still enter emails manually
       </p>
       <div class="col c-invite__email-contact">
           <div class="row margin-top-small">
             <div class="l-4">
               <p>Name</p>
             </div>
             <div class="l-8">
               <p>Email Address</p>
             </div>
           </div>
           <div class="row margin-bottom-small">
             <div class="l-4 margin-right-small">
               <input type="text"
                      ng-model="inputContact.name"
                      placeholder="Add name"
                      class="c-invite__email-contact__input" />
             </div>
             <div class="l-5 margin-right-small">
               <input ng-model="inputContact.email"
               class="c-invite__email-contact__input"
               placeholder="Add email" />
             </div>
             <div class="l-3">
               <button ng-click="sendInvite({name: inputContact.name, email: inputContact.email}, true);
                               inputContact.email = '';
                               inputContact.name = '';"
                     class="c-button c-button--green c-button--medium c-button--invite c-button--invite-manual"
                     icon="icon-add-2-1">
                     <icon icon="icon-add-2-1"></icon>
                     <p ng-if="!sendingInvite">Invite</p>
                     <p ng-if="sendingInvite">Sending</p>
               </button>
             </div>
           </div>
        </div>
       <p class="red" ng-show="emailInvalid">
         The email you entered is not valid.
       </p>

       <p class="red" ng-show="alreadyInvited">
         You have already sent an invite to this address.
       </p>

       <button ng-click="closeModal()"
               class="c-button c-button--medium c-button--grey margin-top-medium">Done</button>
     </div>
   </div>




   </div>
</div>
