<div class="app">
	<div class="app-body">
	    <div class="card welcome-message" ng-show="feed.newUser">
	        <img src="img/close-widget.png" ng-click="feed.newUser = false" class="close" />
	        <img class="logo-full-color" src="img/mark_full_color.svg" />
	       	<section>
	        <h1>{{banner.welcome}}</h1>
	        <p>{{banner.message}}</p>
	        <p>{{banner.privacyMessage}}, to change this setting, <span>click here</span></p>
	        </section>
	    </div>
	    <section class="feed-wrapper">
		<div class='feed-column l-7 m-12 s-12'>
		    <div class="bill-container" ng-repeat="bill in bills">
		    	<div class="bill card">
		        <h1 ng-click='bill.goToPage($parent.$location)'>{{bill.subject}}</h1>
		        <hr />
			        <div class="bill-summary-container">
			        <div class="bill-subject">
			        <span class="{{bill.subject}}"></span>
			        </div>
			        <div class="bill-summary">
			        <h6 ng-click='bill.goToPage($parent.$location)'>{{bill.short_title}}</h6>
			        <p>{{bill.official_title}}</p>
			        </div>
			        </div>
		        </div>
		        <div class="buttons">
		        <button ng-click='bill.goToPage($parent.$location)'>{{bill.comment_count}} comments</button>
		        <button ng-click='bill.goToPage($parent.$location)'><span ng-hide="bill.noVotes">{{bill.majorityVote().percent}}&#37; Vote {{bill.majorityVote().majority}}</span><span ng-show="bill.noVotes">No votes</span></button>
		        </div>
		    </div>
		</div>
		</section>
	</div>
</div>
