<div class="app">
	<div class="app-body">
	    <div class="card welcome-message" ng-show="feed.newUser">
	        <img src="img/close-widget.png" ng-click="feed.newUser = false" class="close" />
	        <img class="logo-full-color" src="img/mark_full_color.svg" />
	       	<section>
	        <h1>{{banner.welcome}}</h1>
	        <p>{{banner.message}}</p>
	        <p>{{banner.privacyMessage}}, to change this setting, <span>click here</span></p>
	        </section>
	    </div>
	    <section class="feed-wrapper">
		<div class='feed-column l-7 m-12 s-12'>
        <issues-post></issues-post>
        <!-- <wizard></wizard> -->
        <feed-events events="events"></feed-events>
		</div>
    <div class="l-5 m-12 s-12">
  		<div class="trends-container" loader loader-context="feed.trends">
  			<h2><i class="icon-trending-graph"></i>TRENDING GLOBALLY</h2>
  			<hr />
  			<trends data="feed.trends"></trends>
  		</div>
    </div>
		</section>
	</div>
</div>
