<div class="onboarding-container l-7 m-10 s-12" ng-show="banner.show">
    <div class='banner'>
        <span ng-click="banner.hide()">X</span>
        <span class="user-avatar">
            <img src={{user.img_url}} />
        </span>
        <h2>{{banner.welcome}}</h2>
        <p>{{banner.message}}</p>
        <p>{{banner.privacyMessage}}, to change this setting, <span>click here</span></p>
    </div>
</div>

<div class='bills'>
    <div ng-repeat="bill in bills">
        <h3>{{bill.subject}}</h3>
        <hr />
        <span class="{{bill.subject}}"></span>
        <h6>{{bill.short_title}}</h6>
        <p>{{bill.summary}}</p>
        <button><span></span>{{bill.total_comments}} comments</button>
        <button><span></span>{{bill.majorityVote().percent}} &#37; Vote {{bill.majorityVote().majority}}</button>
        <button>share</button>
    </div>
</div>
