<header ng-controller="HeaderCtrl as header" ng-show="header.rs.inApp">

	<div class="row-header">
  	<img ng-click="header.feedRefresh()"
				 ng-class="{'header-focus':header.focus}"
				 class="pav-icon"
				 src="//cdn.placeavote.com/img/pav_icon.svg"
				 ga-track-event="['Header', 'Logo Click']" />

    <search-bar class="search" placeholder="Search bills or people..." ng-class="{'search-focus':header.focus}" results="header.searchResults" focus="header.focus" query="header.search(q)" searching="header.searching" people bills></search-bar>


    <div ng-show="header.rs.notLoggedIn" class="not-logged-in">
      <button ng-click="header.signup()"
							ga-track-event="['Signup', 'Start: Header']"
							class="medium-button green-button padding-left-small padding-right-small margin-right-small">SIGN UP</button>
      <button ng-click="header.goTo('/login');"
							ga-track-event="['Login', 'Start: Header']"
							class="medium-button blue-button padding-left-small padding-right-small">LOGIN</button>
    </div>

    <section class="notification row" ng-class="{'header-focus':header.focus}" ng-hide="header.rs.notLoggedIn">
      <span ng-show="header.unread > 0" class="notification-counter"><p>{{header.unread}}</p></span>
      <img style="cursor: pointer;" class="notifications-icon" ng-class="{'no-notifications': header.notifications.results.length < 1 && header.unread < 1}" src="//cdn.placeavote.com/img/notification.svg" ng-click="header.notify()" />
      <div class="notifications-container" ng-mouseleave="header.hideNotifications()"
      ng-show="header.showNotifications">

        <notifications notifications="header.notifications" unread="header.unread" read-event="header.readEvent(notification)" scroll-trigger="header.notificationCheck();" open="header.showNotifications" scroll="header.loadingScroll"></notifications>
      </div>
    <div ng-click="header.dropDown()" class="profile-image-holder click h-right">
      <div ng-style="{'background-image': 'url(' + header.rs.user.img_url + ')'}">
      </div>
    </div>
      <div class="dropdown-container" ng-mouseleave="header.hideDropDown()" ng-show="header.showDropDown">
        <ul>
          <li ng-click="header.toProfile()" class="row">
           <div ng-click="header.dropDown()" class="profile-image-holder margin-right-small">
             <div ng-style="{'background-image': 'url(' + header.rs.user.img_url + ')'}">
             </div>
           </div>
           View Profile
          </li>
          <li ng-click="header.toSettings()">
            Account Settings
          </li>
          <li ng-click="header.logout()">
            Logout
          </li>
        </ul>
      </div>
  	</section>

	</div>
</header>
