<header ng-controller="HeaderCtrl as header" ng-show="header.login()">
	<div class="row">
	<img ng-click="header.location.path('/feed')" class="pav-icon" src="img/pav_icon.svg" />
	<section class="search">
		<input type="text" placeholder="Search bills or people..." />
		<img src="img/search.png" />
	</section>
	<section class="notification">
		<img style="cursor: pointer;" src="img/notification.svg" ng-click="header.notify()" />
      <div ng-mouseleave="header.hideNotifications()"
      ng-show="header.showNotifications">
        <notifications notifications="header.notifications"></notifications>
      </div>

		<img ng-click="header.dropDown()" class="user-img" ng-src="{{header.rs.user.img_url}}"/>
    <div class="dropdown-container" ng-mouseleave="header.hideDropDown()" ng-show="header.showDropDown">
      <ul>
        <li ng-click="header.toProfile()">
         <img class="user-img-inside" ng-src="{{header.rs.user.img_url}}"/> View Profile
        </li>
        <li ng-click="header.logout()">
          Logout
        </li>
      </ul>
    </div>
	</section>
	</div>
</header>
