<div class="home">
	<nav>
		<img class="logo-white" src="img/logo-white.png" />

		<ul>
			<li>
				<a href="#">Team</a>
			</li>
			<li>
				<a href="#">FAQ</a>
			</li>
			<li>
				<a href="#">Press</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
	<div class="intro">
		<section>		
			<h1>
				Democracy is built on <span>real</span> representation
			</h1>
			<h2>Placeavote lets you read, debate and vote on every bill before congress. The difference is now your representative has the voter's voice to represent.</h2>
			<h3>
				Available on the web, iOS & Android
			</h3>
		</section>
		<img class="phone" src="img/phone_preview.png" />
	</div>
	<div class="home-box">
	<section>
		<img src="img/report-problem-circle.png" />
		<h1>The Problem</h1>
		<p>Our representatives seem to represent their biggest donors, not us. Our voice is blocked by the money that gets politicians into power.</p>
	</section>
	</div>
	<div class="home-box last">
	<section>
		<img src="img/solution-circle.png" />
		<h1>The Solution</h1>
		<p>Let's vote representatives into congress who want listen and act on the voice of their voters. Let's use technology to prioritize the issues we care about and loudly communicate them to those we put in power as our delegates.</p>
	</section>
	</div>
	<div class="l-12 shoutout">
		<h1>
		<p>“Politicians run expensive campaigns to try to convince you that they are the best person to represent your interests.  But the more they spend, the more they owe to special interest and lobbyists.  How do we break this cycle? It's easy when you realize that the money they raise is being use to buy the vote that you are giving away for free."</p>
		<p>You hold the power, not lobbyists.</p>
		</h1>
	</div>
	<div class="l-12 about">
		<h1>What does Placeavote do?</h1>
		<div>
			<section>
			<h2>Anonymously Vote</h2>
			<p>We enable you to vote for or against any legislation put in front of congress, no one will even know what stance you took on an issue, unless you want them to.</p>
			</section>
			<section>
			<h2>Pubically Discuss</h2>
			<p>Choose to voice your opinions on subject matters, or be safe in the knowledge of keeping total anonymity with your vote, like the good old days.</p>
			</section>
		</div>
	</div>
	<div class="l-12 sign-up-home">
		<h1>Sign up to get early access to Placeavote</h1>
		<a href="#">Sign Up</a>
	</div>
	<footer class="l-12">
	<span>Placeavote 2015</span>
	<ul>
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</div>