<div class="l-12">
    <div class="l-12 m-12 s-12 login-wrapper">
        <section class="login">
            <div class="s-12 login-spacing">
                <div class="logo-wrap">
                    <a href="/#/"><img src="../img/pav-logo-color.png" /></a>
                </div>
                <ul>
                    <li><a href="" ng-class="{'login--selected': !login.signup}" ng-click="login.signup = false">Sign In</a></li>
                    <li><a href="" ng-class="{'login--selected': login.signup}" ng-click="login.signup = true">Sign Up</a></li>
                </ul>
            </div>
            <section class="s-12">
                <div class="login-form-contaier" ng-hide="login.signup">
                    <h1>Welcome back! Sign in below</h1>
                    <form name="emailForm">
                        <label>Email</label>
                        <input id="email" name="email" type="text" ng-class="{'login-error': !login.user.emailValid}" ng-model="login.user.email" placeholder="yourname@example.com" required/>
                        <p class="error-message" ng-class="{'show': !login.user.emailValid}">Email address is invalid, please try again.</p>
                        <label>Password (contains one digit and one capital letter)</label>
                        <input name="password" type="password" ng-class="{'login-error': !login.user.passwordValid}" ng-model="login.user.password" placeholder="*******" />
                        <p class="error-message" ng-class="{'show': !login.user.passwordValid}">Password requires at least one digit and one capital letter.</p>
                        <p class="error-message" ng-class="{'show': login.forgot}">Invalid User Credentials</p>
                        <button ng-click="login.login(login.user, '/topics');">Sign In</button>
                    </form>
                </div>
                <div class="login-form-container" ng-show="login.signup">
                    <h1>Register today!</h1>
                    <form name="emailForm">
                        <label>Email</label>
                        <input id="email" name="email" type="text" ng-class="{'login-error': !login.user.emailValid}" ng-model="login.user.email" placeholder="yourname@example.com" required/>
                        <p class="error-message" ng-class="{'show': !login.user.emailValid}">Email address is invalid, please try again.</p>
                        <label>Password (contains one digit and one capital letter)</label>
                        <input name="password" type="password" ng-class="{'login-error': !login.user.passwordValid}" ng-model="login.user.password" placeholder="*******" />
                        <p class="error-message" ng-class="{'show': !login.user.passwordValid}">Password requires at least one digit and one capital letter.</p>
                        <button ng-click="login.validate(login.user, '/onboarding');">Sign Up</button>
                    </form>
                </div>
                <div ng-show="login.forgot">
                   <p class="error-message">Invalid User Credentials</p>
                </div>
            </section>
            <button class="fb-login" ng-click="login.loginWithFacebook()"><span class="icon-facebook"></span>Sign in with Facebook</button>
        </section>
    </div>
