	<div class="quote l-7">
	<h1>
	"A vote for me is a vote for Real Democracy"
	</h1>
	<h2>
	John Melton <span>- PICTURED</span>
	</h2>
	</div>
	<div class="l-5 m-12 s-12 login-wrapper">
		<section class="s-12 login">
			<div class="logo-wrap"><img src="../img/pav-logo-color.png" /></div>
			<h1>Hello world sfdsgdfgfgf
			</h1>
			<button class="fb-login"><span class="icon-facebook"></span>Sign in with Facebook</button>
			<p>Or</p>
			<button class="tw-login">Sign in with Twitter</button>
			<button class="email-login" ng-click="emailLogin = !emailLogin">Sign in with Email</button>
			<section ng-show="emailLogin" class="s-12">
			 <form name="emailForm">
			 <label>Email</label>
			 <input name="email" type="email" ng-class="{'login-error':login.invalid == true}" ng-model="login.user.email" placeholder="yourname@example.com" required/>
			 <label>Password</label>
			 <input name="password" type="password" ng-model="login.user.password" placeholder="*******" />
			 <p class="error-message" ng-show="login.emailForm.input.$error.email">Email address is invalid, please try again</p>
			 <button ng-click="go('/topics')">Create an account</button><button ng-click="signInEmail()">Sign In</button>
			 </form>
			</section>
		</section>

<div class="login-footer">		
<ul>
			<li>
				FAQ
			</li>
			<li>
				Press Kit
			</li>
			<li>
				Jobs
			</li>
		</ul>
		</div>
	</div>