<div class="notifications-boundary">
<div ng-repeat="notification in notifications" ng-switch on="notification.type" >
  <!-- comment Reply -->
  <div class="notification-event notification-comment-reply" ng-switch-when="commentreply">
	  <div class="user-img-border">
	  <span ng-hide="notification.read" class="notification-new-event">new</span>
	  <img ng-src="{{notification.author_img_url}}"/>
	  </div>
	  <div class="notification-comment-reply-info">
	  	<p>
	     <a class="profile-link" href="#/profile/{{notification.author}}">{{notification.author_first_name}} {{notification.author_last_name}}</a> replied to your comment on <a class="bill-link" ng-click="notification.goTo(notification.bill_id, notification.comment_id, location); readEvent({notification: notification});">{{notification.bill_id}}: {{notification.bill_title}}</a>
	    </p>
	    <span class="time-stamp">{{notification.timestamp | date:'medium'}}</span>
	  </div>
  </div>
</div>
</div>

