<div class="onboarding-container l-7 m-10 s-12">
	<div class="ob-header" ng-controller="TopicRegisterCtrl as topicsRegister">
		<img ng-click="register.userService.getTopics()" src="img/pav-logo-color.png" />
		<span class="progress-bar">
			<span ng-class="{'complete': register.userService.getTopics()}"></span>
		</span>
	</div>
	<div class="border"></div>
	<section ng-controller="TopicRegisterCtrl as topicsRegister" ng-hide="register.userService.getTopics()">
	<h2>Welcome to Placeavote!</h2>
	<p>To get you started, please select the topics that interest you</p>
	<div class="topics">
			<div class="topic-container" ng-repeat="interest in register.interests" ng-class="{'topic-selected': interest.selected}" ng-click="register.select(interest.name)">
				<div class="topic">
					<span class="{{interest.icon}}"></span>
					<p>{{interest.name}}</p>
					<div class="topic-tick"><div class="icon-check-mark"></div></div>
				</div>
			</div>
	<button ng-click="register.topicsSubmit()">Continue</button>
	</div>
	</section>



	<section ng-controller="SignUpCtrl as signup" ng-show="signup.userService.getTopics()">
		<h2>We just need a few more details and then you'll be ready to go.</h2>
		<form>
		<label class="firstname">First Name
		<input type="text" ng-model='signup.additionalInformation["first_name"]' placeholder="First name" />
		</label>
		

		<label>Surname
		<input class="surname" ng-model='signup.additionalInformation["last_name"]' type="text"  placeholder="Surname" />
		</label>
		

		<label class="signupdob" >Date of Birth
		<input type="date" ng-model='signup.additionalInformation["dob"]' placeholder="MM-DD-YYYY" max="{{signup.max}}" min="1900-01-01" required/>
		</label>
		

		<label>Country
		<select ng-model='signup.additionalInformation["country_code"]' ng-options="country['alpha-3'] as country.name for country in signup.country">
		</select>
		</label>
        <p class="register-error" ng-class="{'show': signup.user_exists_error}">A User with this email has already been created.</p>
        <p class="register-error" ng-class="{'show': signup.error}">Oops! An unexpected error occured.</p>
        <p class="register-error" ng-class="{'show': signup.invalid_user}">The User details you entered are invalid.</p>
		<button ng-click="signup.test();">Continue</button>
		</form>
        </section>

</div>
