<div class="onboarding-container l-7 m-10 s-12">
	<div class="ob-header">
		<img src="img/pav-logo-color.png" />
		<span class="progress-bar">
			<span ng-class="{'complete': register.userService.getTopics()}"></span>
		</span>
	</div>
	<div class="border"></div>
	<section>
	<h2>Welcome to Placeavote!</h2>
	<p>What bill categories are you interested in reading about and voting on? Choose as many or as few as you like!</p>
	<div class="topics">
			<div class="topic-container" ng-repeat="interest in register.interests" ng-class="{'topic-selected': interest.selected}" ng-click="register.select(interest.name)">
				<div class="topic">
					<span class="{{interest.icon}}"></span>
					<p>{{interest.name}}</p>
					<div class="topic-tick"><div class="icon-check-mark"></div></div>
				</div>
			</div>

        <p class="register-error" ng-class="{'show': register.noTopicsSelected}">Please select at least one topic to continue</p>
	<button ng-click="register.topicsSubmit()">Continue</button>
	</div>
	</section>
</div>
