<div class="l-12">
    <div class="l-12 m-12 s-12 login-wrapper">
        <section class="login">
            <div class="s-12 login-spacing">
                <div class="logo-wrap">
                    <a href="/#/"><img src="../img/pav-logo-color.png" /></a>
                </div>
            </div>
            <section class="s-12">
                <div class="login-form-container">
                    <h1>Reset your password</h1>
                    <form name="passwordReset">
                      <label>Password</label>
                      <input type="password" ng-model="password.user.new_password" />
                      <label>Confirm Password</label>
                      <input type="password" ng-model="password.newPasswordConfirm" ng-class="{'show': password.noMatch}" />
                     <p class="error-message" ng-class="{'show': password.noMatch}">Passwords do not match.</p>
                    <p class="error-message" ng-class="{'show': password.failed}">Failed to set new password.</p>
                     <p class="success-message" ng-class="{'show': password.confirmed}">Your new password has been set.</p>
                     <p class="success-message login-reset" ng-class="{'show': password.confirmed}" ng-click="password.goTo('/login')">Cick here to login</p>
                    <button ng-click="password.newPassword()">Confirm Password</button>
                    </form>
                </div>
            </section>
        </section>
    </div>
