<div class="app">
	<div class="app-body">
    <section class="settings-wrapper">
      <div class='l-4 m-12 s-12'>
        <div class="settings-list card">
          <h1>ACCOUNT SETTINGS</h1>
          <hr />
          <ul>
            <li>Account</li>
            <li>Password Security & Privacy</li>
            <li>Notification</li>
            <li>Find friends</li>
          </ul>
        </div>
      </div>

      <div class="account-section-wrapper card l-8">
        <div class="account-section">
          <div class="section-title">
            <h1>ACCOUNT</h1>
            <hr />
          </div>
          <div class="account-section-content">
            <div class="profile-picutre-section">
              <!-- insert a link on image to refresh profile page -->
              <img ng-src="{{user.img_url}}" class="profile-picture" alt="Profile Picture"/>
              <!-- end link -->
            </div>
            <div class="profile-section">
              <label>Residence</label>
              <input type="text" ng-model='settings.settingsItem.first_name' placeholder="First name" />
              
              <div class="row">
                <div class="l-6 indent">
                <label>Preferred Pronoun</label>
                <input type="text">
                </div>

                <div class="l-6">
                <label class="signupdob">Date of Birth</label>
                <input type="date" max="{{signup.max}}" min="1900-01-01" required/>
                </div>
              </div>
              <label>Email Address</label>
              <input type="text" />
            </div>

          </div>
        </div>
        <div class="password-section">
          <div class="section-title">
            <h1>PASSWORD & PRIVACY SETTINGS</h1>
            <hr />
          </div>
          <div class="password-section-content">
            <div class="row">
              <div class="l-5 indent">
                <label>Current Password</label>
                <input type="text"> 
              </div>
              <div class="l-5 indent">
                <label>New Password</label>
                <input type="text"> 
              </div>
              <div class="l-2">
                <button class="down-btn">SAVE PASSWORD</button>
              </div>
            </div>
              <label>Make my profile page completely private so no one can view it</label> 
              
              <input type="radio" name="private" value="yes" checked="checked">yes
              <input type="radio" name="private" value="no">no
              <span class="private-description">Your profile is currently set to private</span>
   
              <p class="deactive-filter">Deactive my account</p>
          </div>
        </div>
        <div class="notification-section">
          <div class="section-title">
            <h1>NOTIFICATION SETTINGS</h1>
            <hr />
          </div>
          <div class="notification-section-content"> 
            <div class="l-5">
              <label>Notify me when i have a cardiac arrest</label>
              <input type="checkbox" />
            </div>
            <div class="l-5">
              <label>Notify me when i have a cardiac arrest</label>
              <input type="checkbox" />
            </div>
          </div>
        </div>
        <div class="friends-section">
          <div class="section-title">
            <h1>INVITE YOUR FRIENDS TO PLACEAVOTE!</h1>
            <hr />
          </div>
          <div class="friends-section-content">
            <div class="row">
              <div class="l-10 indent">
                <label>Enter email address(s) here, seperate them by commas for multiple emails.</label>
                <input type="text">
              </div>
              <div class="l-2">
                <button class="down-btn">SEND INVITES</button>
              </div>
            </div>
          </div>
        </div>
        <div class="doc-section">
          <div class="row">
            <div class="l-4 indent">
              <button>Read our privacy policy</button>
            </div>
            <div class="l-4 indent">
              <button>Read our terms of service</button>
            </div>
            <div class="l-2">
            </div>
            <div class="l-2">
              <button>SAVE SETTINGS</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>