<div class="modal" ng-show="settings.showModal">
<div class="c-card c-modal__vote__overlay padding-small profile-picture-edit" loader loader-context="settings.profilePicture.saving">
<div class="row">
<h1>CHANGE PROFILE PICTURE</h1><i class="icon-close h-right" ng-click="settings.showModal = false"></i>
</div>
<hr />
  <div class="uploaded-image-container margin-top-medium">
  <image-crop image="settings.image" crop="settings.profilePicture.cropped" save-Image="settings.saveProfilePicture({img: img});"></image-crop>
  </div>
   <p ng-show="settings.profilePicture.error">There was an error uploading your profile picture</p>
  <div class="row margin-bottom-medium margin-top-small">
  <p>Upload a photo here:</p>
  <label for="uploadFile" class="btn-blue upload-btn text-center">CHOOSE FILE</label>
  <input style="position: absolute; left: -99999px;" type="file" accept="image/*" id="uploadFile" fileread="settings.image">
  </div>
  <a class="btn-green text-center l-12" ng-click="settings.hasCropped();">SAVE CHANGES</a>
</div>
</div>
<div class="app">
	<div class="app-body">
    <section class="settings-wrapper margin-top-large">
      <div class='l-4 m-12 s-12'>
        <div class="settings-list padding-small card">
          <h1>ACCOUNT SETTINGS</h1>
          <hr class="margin-top-small" />
          <ul>
            <li ng-click="settings.scrollTo('accountSettings'); settings.showSettings = true;">Account</li>
            <li ng-click="settings.scrollTo('passwordSettings'); settings.showSettings = true;">Password & Privacy Settings</li>
          </ul>
        </div>
      </div>

      <div class="account-section-wrapper card padding-small l-8 m-12 s-12" ng-show="settings.showSettings">
        <div class="account-section">
          <div id="accountSettings" class="section-title">
            <h1>ACCOUNT</h1>
            <hr class="margin-top-small" />
          </div>
          <div class="account-section-content">
            <div class="profile-picture-section">
              <!-- insert a link on image to refresh profile page -->
              <span class="edit-btn" ng-click="settings.showModal = true">Edit</span>
              <img ng-src="{{settings.settingsItem.img_url}}" class="profile-picture" alt="Profile Picture"/>
              <!-- end link -->
            </div>
            <div class="profile-section">
              <label>Residence<span class="autosave" ng-show="settings.autosaved.city">saved!</span></label>
              <input type="text" ng-model='settings.settingsItem.city' ng-blur="settings.autoSave('city');" ng-placeholder="City" required />

              <div class="row">
                <div class="l-6 m-12 indent">
                  <label>Preferred Pronoun<span class="autosave" ng-show="settings.autosaved.gender">saved!</span></label>
                  <select ng-model='settings.settingsItem.gender' ng-blur="settings.autoSave('gender');" ng-options="gender.des as gender.name for gender in settings.gender_options">
                  </select>
                </div>

                <div class="l-6 m-12">
                  <label class="signupdob">Date of Birth<span class="autosave" ng-show="settings.autosaved.dob">saved!</span></label>
                  <input type="date" ng-model='settings.settingsItem.dob' ng-blur="settings.autoSave('dob');" required />
                </div>
              </div>
              <label>Email Address<span class="autosave" ng-show="settings.autosaved.email">saved!</span></label>
              <input type="email" ng-model='settings.settingsItem.email' ng-blur="settings.autoSave('email');" required />
            </div>

          </div>
        </div>
        <div class="password-section" ng-show="settings.showSettings">
          <div id="passwordSettings" class="section-title">
            <h1>PASSWORD & PRIVACY SETTINGS</h1>
            <hr class="margin-top-small" />
          </div>
          <div class="password-section-content">
            <div class="row tablet-col margin-bottom-medium" ng-if="!settings.settingsItem.social_login">
              <p class="margin-bottom-medium" ng-show="settings.passwordError">There was an error when trying to save your password.</p>
              <div class="l-3 m-12 margin-right-medium tablet-margin-right-none">
                <label>Current Password</label>
                <input class="margin-bottom-none talet-margin-bottom-medium" type="password" ng-model='settings.current_password'>
              </div>
              <div class="l-3 m-12 tablet-margin-bottom-medium">
                <label>New Password</label>
                <input class="margin-bottom-none" type="password" ng-model='settings.new_password'>
              </div>
                <a class="btn-green h-right text-center bottom m-12" ng-click='settings.changePassword()'><p ng-show="settings.savingPassword">SAVING...</p><p ng-hide="settings.savingPassword || settings.newPassword">SAVE PASSWORD</p><p ng-show="settings.newPassword">PASSWORD SAVED!</p></a>
            </div>
            <div class="row" ng-if="settings.password_error">invaild current password</div>
              <label>Make my profile page completely private so no one can view it<span class="autosave" ng-show="settings.autosaved.public">saved!</span></label>

              <input type="radio" ng-model='settings.settingsItem.public' ng-blur="settings.autoSave('public');" ng-value="false"><span>yes</span>
              <input type="radio" ng-model='settings.settingsItem.public' ng-blur="settings.autoSave('public');" ng-value="true"><span>no</span>
              <span class="private-description" ng-if='settings.settingsItem.public'>Your profile is currently set to public</span>
              <span class="private-description" ng-if='!settings.settingsItem.public'>Your profile is currently set to private</span>
          </div>
        </div>
        <div class="doc-section">
          <div ng-show="settings.error">Oops! An unexpected error occured.</div>
          <div class="row tablet-col">
              <a ng-click="settings.showSettings = false;" class="btn-grey m-12 tablet-margin-bottom-medium text-center">Read our privacy policy</a>
              <a ng-click="settings.showSettings = false;" class="btn-grey m-12 tablet-margin-bottom-medium text-center">Read our terms of service</a>
              <a class="btn-green h-right tablet-h-center s-12" ng-click="settings.saveUserSettings();"><p ng-show="settings.saving">SAVING...</p><p ng-hide="settings.saving || settings.saveConfirmed">SAVE SETTING</p><p ng-show="settings.saveConfirmed">SAVED!</p></a>
          </div>
        </div>
      </div>
      <div class="card l-8 m-12 padding-small margin-left-medium tablet-margin-left-none tablet-margin-top-large margin-bottom-larger" ng-hide="settings.showSettings">
        <terms-and-conditions></terms-and-conditions>
      </div>
    </section>
  </div>
</div>
