<div class="onboarding-container l-7 m-10 s-12">
  <div class="ob-header">
    <img src="img/pav-logo-color.png" />
    <span class="progress-bar">
      <span ng-class="{'complete': signup.userService.getTopics()}"></span>
    </span>
  </div>
  <div class="border"></div>
    <section loader loader-context="signup.loaded">
        <h2>Before we begin, we’ll just need to confirm a few details. This will help avoid duplicate accounts, ensuring each vote is counted equally. </h2>
        <i>*All personal information is 100% secure and confidential.</i>
    <form ng-submit="signup.signup();">
        <label class="firstname">First Name
        <input type="text" ng-model='signup.additionalInformation["first_name"]' placeholder="First name" required/>
        </label>


        <label>Last Name
        <input class="surname" ng-model='signup.additionalInformation["last_name"]' type="text"  placeholder="Surname" required/>
        </label>


 <label class="signupdob" >Date of Birth
        <pav-date date='signup.additionalInformation.dob' min='1900-01-01' max='signup.max'> </pav-date>
 </label>
          <!--
        <input type="date" ng-model='signup.additionalInformation["dob"]' placeholder="MM-DD-YYYY" max="{{signup.max}}" min="1900-01-01" required/>
        -->
        </label>


        <label>Zipcode (to help us find your voting district)

    <input type="text" placeholder="eg. 90210" ng-model='signup.additionalInformation["zipcode"]' required>
        </label>

        <section class="col l-12 gender-select-container">
        <label class="gender-label padding-bottom-small">Gender</label>
          <div class="row padding-bottom-medium">
              <div class="row" ng-repeat="gender in signup.gender_options">
                  <input ng-model='signup.additionalInformation["gender"]' type="radio" id="{{gender.name}}" value="{{gender.name}}" name="gender">
                  <p style="font-size: 12px;" class="padding-right-small">
                    {{gender.des}}
                  </p>
              </div>
          </div>

        </section>







        <p class="register-error" ng-class="{'show': signup.user_exists_error}">A User with this email has already been created<span class="bold click" ng-click="signup.location.path('/login').search('forgot=true');">Forgot your password?</span></p>
        <p class="register-error" ng-class="{'show': signup.no_gender}">Please select a gender before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_zip}">Sorry! That Zipcode doesn't look correct, please try again</p>
        <p class="register-error" ng-class="{'show': signup.error}">Oops! An unexpected error occured</p>
        <p class="register-error" ng-class="{'show': signup.invalid_user}">The User details you entered are invalid.</p>
        <p class="register-error" ng-class="{'show': signup.invalid_dob}">Please enter a date of birth before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_first_name}">Please enter a first name before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_last_name}">Please enter a last name before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_topics}">Please select a number of topics you may be interested in</p>
        <p class="register-error" ng-class="{'show': signup.invalid_gender}">Please select a gender before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_password}">Please provide a password before continuing</p>
        <p class="register-error" ng-class="{'show': signup.invalid_email}">Please provide an email address before continuing</p>
        <button type="submit">Continue</button>
        </form>
        </section>
</div>
