<div>
<div class="profile-timeline">
       <aside>
       </aside>
       <section infinite-scroll="profile.getTimeLineEvents();" infinite-scroll-distance="0.5">
          <div class="timeline-events" ng-repeat="event in timeline" ng-switch on="event.type">
                  <!-- Vote -->
                  <div ng-switch-when="vote">
                    <span class="time-stamp">{{event.timestamp | date:'medium'}}</span>
                    <div class="event-card event-vote">
                    <div class="event-icon event-icon-vote">
                      <i class="icon-logo"></i>
                    </div>
                    <vote event="event" user="profile.user"></vote>
                    </div>
                  </div>
                  <!-- follow -->
                  <div ng-switch-when="followinguser">
                  <span class="time-stamp">{{event.timestamp | date:'medium'}}</span>
                    <following event="event" user="profile.user"></following>
                  </div>
                  <!-- followed -->
                  <div ng-switch-when="followeduser">
                  <span class="time-stamp">{{event.timestamp | date:'medium'}}</span>
                    <followed event="event" user="profile.user"></followed>
                  </div>
                  <!-- comment liked -->
                  <div class="timeline-likeComment" ng-switch-when="likecomment">
                  <span class="time-stamp">{{event.comment.timestamp | date:'medium'}}</span>
                  <div class="event-card c-card--comment c-card c-card--comment-event">
                  <div class="event-icon event-icon-like">
                   <i class="icon-thumbs-up"></i>
                   </div>
                    <span class="event-label"><a ng-click="location.path('profile/' + profile.user.user_id)">{{profile.user.first_name}} {{profile.user.lastname}}</a> upvoted a comment:</span>
                    <comment comment="event.comment" feed="true"></comment>
                    </div>
                  </div>
                  <!-- comment disliked -->
                  <div class="timeline-dislikeComment" ng-switch-when="dislikecomment">
                    <span class="time-stamp">{{event.comment.timestamp | date:'medium'}}</span>
                    <div class="event-card c-card--comment c-card c-card--comment-event">
                    <div class="event-icon event-icon-dislike">
                    <i class="icon-thumbs-down"></i>
                    </div>
                    <span class="event-label"><a ng-click="location.path('profile/' + profile.user.user_id)">{{profile.user.first_name}} {{profile.user.lastname}}</a> downvoted a comment:</span>
                    <!-- <comment-event comment="event.comment"></comment-event> -->
                    <comment comment="event.comment" feed="true"></comment>
                    </div>
                  </div>
                  <!-- comment post -->
                  <div class="timeline-comment" ng-switch-when="comment">
                  <span class="time-stamp">{{event.timestamp | date:'medium'}}</span>
                  <div class="event-card c-card--comment c-card c-card--comment-event">
                    <div class="event-icon event-icon-comment">
                    <i class="icon-comment"></i>
                    </div>
                   <span class="event-label"><a ng-click="location.path('profile/' + profile.user.user_id)">{{profile.user.first_name}} {{profile.user.lastname}}</a> made a comment.</span>
                    <comment comment="event" feed="true"></comment>
                    </div>
                  </div>
                  <!-- issue event -->
                  <div ng-switch-when="issue" class="issue-event" ng-hide="event.issueDelete">
                    <span class="time-stamp">{{event.timestamp | date:'medium'}}</span>
                    <div class="event-card">
                      <div class="event-icon event-icon-issue">
                        <i class="icon-issues"></i>
                      </div>
                      <issue issue="event"></issue>
                    </div>
                  </div>
          </div>
       </section>
</div>
</div>
