<div class="profile-timeline">
  <div class="timeline-events" ng-repeat="event in timeline">
    <div class="event" ng-switch on="event.type">
      <div class="card" ng-switch-when="vote">
        <vote event="event" user="profile.user"></vote>
      </div>
      <div class="card" ng-switch-when="followinguser">
        <following event="event" user="profile.user"></following>
      </div>
      <div class="card" ng-switch-when="followeduser">
        <followed event="event" user="profile.user"></followed>
      </div>
      <div class="card" class="timeline-likeComment" ng-switch-when="likecomment">
        <span>{{profile.user.first_name}} {{profile.user.lastname}} upvoted a comment,</span>
        <comment comment="event.comment"></comment>
      </div>
      <div class="card" class="timeline-dislikeComment" ng-switch-when="dislikecomment">
        <span><a>{{profile.user.first_name}} {{profile.user.lastname}}</a> downvoted a comment,</span>
        <comment comment="event.comment"></comment>
      </div>
      <div class="card" class="timeline-comment" ng-switch-when="comment">
       <span>{{profile.user.first_name}} {{profile.user.lastname}} in {{event.bill_id}}: {{event.bill_title}},</span>
        <comment comment="event"></comment>
      </div>
    </div>
  </div>
</div>
