	<div class="onboarding-container l-7 m-10 s-12">
		<header>
			<img src="img/pav-logo-color.png" />
			<span class="progress-bar"></span>
		</header>
		<div class="border"></div>
		<section>
		<h2>Welcome to Placeavote!</h2>
		<p>To get you started, please select the topics that interest you</p>
		<div class="topics">
		<div class="topic-container topic-selected">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<div class="topic-container">
			<div class="topic">
				<!-- image -->
				<p>Title</p>
				<div class="topic-tick"></div>
			</div>
		</div>
		<button ng-click="go('/user-signup')">Continue</button>
		</div>
		</section>

	</div>