<div class="onboarding-container l-7 m-10 s-12">
	<header>
		<img src="img/pav-logo-color.png" />
		<span class="progress-bar">
			<span></span>
		</span>
	</header>
	<div class="border"></div>
	<section>
	<h2>Welcome to Placeavote!</h2>
	<p>To get you started, please select the topics that interest you</p>
	<div class="topics">
			<div class="topic-container" ng-repeat="interest in register.interests" ng-class="{'topic-selected': interest.selected}" ng-click="register.select(interest.name)">
				<div class="topic">
					<span class="{{interest.icon}}"></span>
					<p>{{interest.name}}</p>
					<div class="topic-tick"><div class="icon-check-mark"></div></div>
				</div>
			</div>
	<button ng-click="register.go('/user-signup')">Continue</button>
	</div>
	</section>	
</div>
