<div class="data-trends">
<div class="data-trending" ng-repeat="trend in data">
<div class="row">
<div class="feed-icon">
	<i class="{{trend.icon}}"></i>
</div>
<div>
<h3 ng-click="trend.goToPage(location, this.bill_id)">
  {{trend.short_title || trend.official_title}}
</h3>
<p ng-click="trend.goToPage(location, this.bill_id)"><span>{{trend.comment_count}}</span> comments / <span>{{trend.majorityVote().percent}}</span> Vote {{trend.majorityVote().majority}}</p>
</div>
</div>
<hr />
</div>
</div>


