<div class="onboarding-container l-7 m-10 s-12">
		<header>
			<img src="img/pav-logo-color.png" />
			<span class="progress-bar"></span>
		</header>
		<div class="border"></div>
		<section>
		<h2>We just need a few more details and then you'll be ready to go.</h2>
		<form>
		<label class="firstname">First Name
		<input type="text" placeholder="First name" />
		</label>
		

		<label>Surname
		<input class="surname" type="text" placeholder="Surname" />
		</label>
		

		<label class="signupdob" >Date of Birth
		<input  type="date" placeholder="MM/DD/YYYY" />
		</label>
		

		<label>Country
		<input type="text" placeholder="Please choose a country" />
		</label>
		<label class="email-label">Email Address
		<input type="email" placeolder="example@example.com" />
		</label>	
		<button>Continue</button>
		</form>
		</section>

	</div>
