<div class="col">
  <p class="large-margin-bottom">Find out where your taxes go by adding your household income.</p>
  <div>
  <rzslider rz-slider-model="question.income" rz-slider-options="question.sliderConfig"></rzslider>
  </div>
  <!-- <input type="text" ng-model="question.zip" /> -->
  <div ng-show="question.sectors" class="spending-table medium-margin-top">
    <div ng-repeat="sector in question.sectors" class="row spending-table-row">
      <h3 class="layout-left v-layout-middle">{{sector.name}}</h3>
      <div class="layout-right row">
        <h3 class="text-left v-layout-middle bold lightblue medium-margin-right">{{sector.contribution | currency}} Per month</h3> 
        <button class="blue-button medium-button">CHANGE THIS</button>
      </div>
    </div>
  </div>
  <div class="spending-table-total l-5 m-7 s-12 row">
    <h3 class="v-layout-middle layout-left">Total: </h3>
    <h3 class="v-layout-middle layout-right red bold">Total</h3>
  </div>
</div>
