<section ng-controller="WizardCtrl as wizard" class="card wizard-container">
  <div ng-show="wizard.currentQuestion" ng-switch on="wizard.currentQuestion.type">
    <div class="top-wizard-controller row">
      <h3 class="no-margin-bottom layout-left v-layout-middle">Question {{wizard.currentQuestionIndex + 1}} of {{wizard.questions.length}}</h3>
      <div class="layout-right">
        <span ng-click="wizard.skipQuestion()" class="v-layout-middle red click">Skip</span>
        <i class="icon-close red click"></i>
      </div>
    </div>
    <hr />
    <slider ng-switch-when="slider" question="wizard.currentQuestion"> </slider>
    <dad ng-switch-when="dragdrop" question="wizard.currentQuestion"> </dad>
    <hr />
    <div class="bottom-wizard-controller row medium-margin-top">
      <button class="btn-green btn-small l-2 layout-right" ng-click="wizard.answerQuestion()">NEXT</button>
    </div>
  </div>
</section>
