   .map-container {
    display: inline-block;
    width: 70%;
    @include media(700px){
    width: 100%;
    }
      background: white;
      border-radius: 3px;
      border: 1px solid $grey;
      padding: 25px;
      @include media(600px){
      padding: 10px;
      }
    }

      .contact {
        a {
          padding-bottom: 20px;
          color: $blue;
          text-decoration: none;
          display: block;
        }
      
    }