@mixin font-face($fontfamily, $fontname) {
  @font-face {
    font-family: '#{$fontfamily}';
    src: url('../font/#{$fontname}.eot');
    src: url('../font/#{$fontname}.eot?#iefix') format('embedded-opentype'), url('../font/#{$fontname}.woff2') format('woff2'), url('../font/#{$fontname}.woff') format('woff'), url('../font/#{$fontname}.ttf') format('truetype'), url('../font/.svg##{$fontfamily}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face(whitneymedium, whitney-medium-bas-webfont) ;

@include font-face(whitneymediumital, whitney-mediumital-bas-webfont) ;

@include font-face(whitneybook, whitney-book-bas-webfont) ;

@include font-face(whitneylight, whitney-light-bas-webfont) ;

@include font-face(whitneylight_italic, whitney-lightital-bas-webfont) ;
$font-bold: 'whitneybook', sans-serif;
$font-normal: 'whitneymedium', sans-serif;
$font-normalitalic: 'whitneymediumital', sans-serif;
$font-light: 'whitneylight', sans-serif;
$font-italic: 'whitneylight_italic', sans-serif;


// //700
// $font-bold: "Whitney SSm A", "Whitney SSm B";


// //500
// $font-normal: "Whitney SSm A", "Whitney SSm B";
// $font-normalitalic: "Whitney SSm A", "Whitney SSm B";


// //400
// $font-light: "Whitney SSm A", "Whitney SSm B";
// $font-italic: "Whitney SSm A", "Whitney SSm B";
