body,
html,
div,
.wrapper {
  height: 100%;
  position: relative;
}

body {
  background-color: $bgcolor;
  font-family: $font;
  position: relative;
}

body::-moz-selection {
  color: $purple;
  background: lighten($purple, 20%);
}

body::selection {
  color: $purple;
  background: lighten($purple, 20%);
}

.vanish {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.wrapper {
  top: 0;
  position: absolute;

  &.ng-leave,
  &.ng-enter {
    transition: all 0.25s ease;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-enter {
    opacity: 0;
    transition-delay: 0.25s;
    animation-delay: 0.25s;
  }

  &.ng-enter.ng-enter-stagger {
  }

  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }
}

input {
  -webkit-appearance: none;
}



nav {
  @include media(600px){
  padding: 20px 10px !important;
    ul {
      display: none !important;
        &.open { 
          display: block !important;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: white;
          li {
            a {
              &:nth-child(1) {
                padding-top: 60px;
              }
              @include font-size(26px);
              color: $purple;
              text-align: center;
              padding: 20px;
              display: flex;
              justify-content: center;
                }
          }
        } 
    }
  }
}

.mobile-menu {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid white;
  border-radius: 3px;
  display: none;
  position: fixed;
  height: auto;
  z-index: 9999;
  top: 0;
  height: auto;
  padding: 7px;
  right: 10px;
  top: 18px;
  
  @include media(600px) {
    display: block;
    cursor: pointer;
  }
   .burger { 
    position: relative;
    padding-right: 70px;
      span {
        background-color: white;
        border-radius: 5px;
        position: absolute;
        width: 20px;
        top: 0;
        display: block;
        height: 2px;
        &:nth-child(2) {
          top: 6px;
        }
        &:nth-child(3) {
          top: 12px;
        }
      }

    }
    .menu-label, .menu-close {
      color: white;
      text-align: right;
      @include font-size(14px);
    }
    .menu-close {
      display: none;
    }
     &.close {
      .burger {
          span {
            transform: rotate(45deg);
            top: 5px;
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
                transform: rotate(135deg);
                top: 5px;
            }
          }
        }
       .menu-label {
        display: none;
       }
       .menu-close {
        display: block;
       }
      }
}
nav {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  z-index: 9998;
  top: 0;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease;

  .logo-color {
    opacity: 0;
    width: 140px;
    position: absolute;
    height: 23px;
    left: 40px;
    top: 20px;
    @include media(600px) {
      left: 10px;
    }
  }

  .logo-white {
    opacity: 1;
    width: 140px;
    height: 23px;
  }

  ul {
    display: flex;
    margin-left: auto;

    li {
      flex-direction: column;

      a {
        @include font-size(14px);
        text-decoration: none;
        color: white;
        line-height: 21px;
        font-weight: $font-normal;
        margin:0 0 0 20px;  
        -webkit-box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);
        box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);     
      }
      a:hover {
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
  }
    }
  }
} 
 a.btn-signup {
          background-color: $green;
          border: 1px solid darken($green, 20%);
          padding:10px;
          border-radius:3px;
        }
  a.btn-signin {
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid $white;
    border-radius:3px;
    padding:10px;
  }
.navscroll {
  z-index: 9998;
  .logo-white {
    opacity: 0;
  }
  a.btn-signup {color:$white;}
  a.btn-signin {border:1px solid $purple;text-shadow:none;}
  .logo-color {
    opacity: 1;
  }
  background-color: white;
  opacity: 0.9;
  z-index: 9998;
  background-color: #fff;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 

  ul {
    li {
      a {
        color: $purple;
        box-shadow:none;
      }
    }
  }
}
