/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
}

.col:first-child {
  margin-left: 0;
}

/*  ALIGNMENT  */

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;

  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.l-12 {
  float: left;
  width: 100%;
}

.l-11 {
  float: left;
  width: 91.63%;
}

.l-10 {
  float: left;
  width: 83.3%;
}

.l-9 {
  float: left;
  width: 74.97%;
}

.l-8 {
  float: left;
  width: 66.64%;
}

.l-7 {
  float: left;
  width: 58.31%;
}

.l-6 {
  float: left;
  width: 50%;
}

.l-5 {
  float: left;
  width: 41.65%;
}

.l-4 {
  float: left;
  width: 33.33%;
}

.l-3 {
  float: left;
  width: 25%;
}

.l-2 {
  float: left;
  width: 16.66%;
}

.l-1 {
  float: left;
  width: 8.33%;
}

@media screen and (max-device-width: 900px), screen and (max-width: 900px) {
  .m-12 {
    float: left;
    width: 100%;
  }

  .m-11 {
    float: left;
    width: 91.63%;
  }

  .m-10 {
    float: left;
    width: 83.3%;
  }

  .m-9 {
    float: left;
    width: 74.97%;
  }

  .m-8 {
    float: left;
    width: 66.64%;
  }

  .m-7 {
    float: left;
    width: 58.31%;
  }

  .m-6 {
    float: left;
    width: 50%;
  }

  .m-5 {
    float: left;
    width: 41.65%;
  }

  .m-4 {
    float: left;
    width: 33.33%;
  }

  .m-3 {
    float: left;
    width: 25%;
  }

  .m-2 {
    float: left;
    width: 16.66%;
  }

  .m-1 {
    float: left;
    width: 8.33%;
  }
}

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
  .s-12 {
    float: left;
    width: 100%;
  }

  .s-11 {
    float: left;
    width: 91.63%;
  }

  .s-10 {
    float: left;
    width: 83.3%;
  }

  .s-9 {
    float: left;
    width: 74.97%;
  }

  .s-8 {
    float: left;
    width: 66.64%;
  }

  .s-7 {
    float: left;
    width: 58.31%;
  }

  .s-6 {
    float: left;
    width: 50%;
  }

  .s-5 {
    float: left;
    width: 41.65%;
  }

  .s-4 {
    float: left;
    width: 33.33%;
  }

  .s-3 {
    float: left;
    width: 25%;
  }

  .s-2 {
    float: left;
    width: 16.66%;
  }

  .s-1 {
    float: left;
    width: 8.33%;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}