<div class="c-card c-card--feed-bill margin-top-medium">

    <image-smart img="bill.featured_img_link" class="c-card__background-image"></image-smart>

    <div class="c-card__overlay"
     ng-show="bill.featured_img_link"></div>

    <div class="click c-card__content"
         ng-click="bill.goToPage(location)">

      <h1 ng-click="bill.goToPage(location)">{{bill.subject}}</h1>
      <h1 class="c-card__content_bill-id" ng-click="bill.goToPage(location)">{{bill.bill_id_short}}</h1>

      <hr />

      <h2 ng-click="bill.goToPage(location)">{{bill.feed_title}}</h2>

    </div>

    <div class="c-feed-bill__info">

      <p>
       <span class="bold">{{bill.comment_count}}</span> comments
       &nbsp;
       <span ng-if="!bill.noVotes"><span class="bold">{{bill.majorityVote().percent}}</span> Vote {{bill.majorityVote().majority}}</span><span ng-show="bill.noVotes">No votes</span>
      </p>

      <div class="c-feed__social">
          <i class="icon-facebook click" ng-click="shareToFacebook()"></i>

          <a target="_blank" ng-href="https://twitter.com/intent/tweet?text={{getShareMessage()}}&url={{billLocation}}" data-size="large">
          <i class="icon-social-twitter"></i>
          </a>
      </div>
    </div>

</div>
