<!DOCTYPE html>
<html ng-app="pavApp">
 <head>
  <meta charset="UTF-8">

  <meta name="fragment" content="!">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>Placeavote</title>

  <meta name="description" content="Read, debate and vote on every bill before congress.">
  <meta property="og:description" content="Read, debate and vote on every bill before congress.">
  <meta property="og:site_name" content="Placeavote">
  <meta property="og:image" content="http://s29.postimg.org/v86d7ur2v/og_fb_img.jpg">
  <meta property="og:title" content="Placeavote">
  <meta property="fb:app_id" content="{{ fb_app_id }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@placeavote">
  <meta name="twitter:title" content="Placeavote">
  <meta name="twitter:description" content="Read, debate and vote on every bill before congress.">
  <meta name="twitter:image:src" content="http://s29.postimg.org/v86d7ur2v/og_fb_img.jpg">


  <meta name="theme-color" content="#564a88">
  <meta name="msapplication-navbutton-color" content="#564a88">
  <meta name="apple-mobile-web-app-status-bar-style" content="#564a88">
  <link rel="icon" sizes="192x192" href="img/icons/pav192x192white.png">
  <link rel="shortcut icon" href="img/favicon_pav.ico" type="image/vnd.microsoft.icon">
  <style>
    .pre-app__container {
      background: white;
      z-index: 10000; width: 100%; position: fixed; height: 100%;
    }
    .pre-app__icons {
      width: 30%;
      margin: 0 auto;
      margin-top: 10%;
    }
    .pre-app__spinner--container {
      width: 30%;
      margin: 0 auto;
      margin-top: 10%;
    }
    .pre-app__spinner--logo {
      width: 100%;
      -webkit-transition: -webkit-transition: .2s ease-in;
      transition: transform .2s ease-in;
    }
    @-webkit-keyframes spin {
      100% { -webkit-transform: rotate(90deg); }
    }
    @-moz-keyframes spin {
      100% { -moz-transform: rotate(90deg); }
    }
    @keyframes spin {
      100% {
        -moz-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        transform:rotate(90deg);
      }
    }
    .pre-app__meter {
      margin: 0 auto;
      height: 10px;  /* Can be anything */
      background: white;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      padding: 5px;
      box-sizing: content-box;
    }
    .pre-app__meter--container {
      width: 100%;
      margin-top: 20%;
    }
    .pre-app__meter .pre-app__progress_bar {
      line-height: 0px;
      display: block;
      height: 100%;
      width: 15%;
      border-radius: 20px;
      background: #81C05C;
      position: relative;
      overflow: hidden;
      transition: width, 1s;
    }
    .pre-app__sayings {
      padding-top: 10%;
      color: grey;
      text-align: center;
      font-family: "Whitney SSm A", "Whitney SSm B", Arial, sans-serif;
    }
    .pre-app__text-logo {
      padding-top: 20%;
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    body {
      padding: 0;
      margin: 0;
    }
  </style>
 </head>
 <body>
   <div id="preloading-spinner" class="pre-app__container">
     <div class="pre-app__icons">
       <div class="pre-app__spinner--container">
         <img class="pre-app__spinner--logo" src="/img/mark_full_color.svg" alt="placeavote" />
       </div>
       <img class="pre-app__text-logo" src="/img/just-text.svg" alt="placeavote" />
       <div class="pre-app__meter--container">
         <div class="pre-app__meter">
           <div id="pre-app__progress" class="pre-app__progress_bar"></div>
         </div>
         <div class="pre-app__sayings">
           <span id="pre-text"></span>
         </div>
       </div>
     </div>
   </div>

   <div finished-render id="post-app">
     <invalid> </invalid>
     <header-nav> </header-nav>
    <div ng-view autoscroll id="view">
  </div>
<div>
<!-- ASYNC OUR APP -->
<script async src="{{initialPath}}"></script>
 </body>
</html>
