<!DOCTYPE html>
<html ng-app="pavApp">
 <head>
  <meta charset="UTF-8">

  <meta name="fragment" content="!">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>Placeavote</title>

  <meta name="description" content="Read, debate and vote on every bill before congress.">
  <meta property="og:description" content="Read, debate and vote on every bill before congress.">
  <meta property="og:site_name" content="Placeavote">
  <meta property="og:image" content="http://s29.postimg.org/v86d7ur2v/og_fb_img.jpg">
  <meta property="og:title" content="Placeavote">
  <meta property="fb:app_id" content="{{ fb_app_id }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@placeavote">
  <meta name="twitter:title" content="Placeavote">
  <meta name="twitter:description" content="Read, debate and vote on every bill before congress.">
  <meta name="twitter:image:src" content="http://s29.postimg.org/v86d7ur2v/og_fb_img.jpg">


  <meta name="theme-color" content="#564a88">
  <meta name="msapplication-navbutton-color" content="#564a88">
  <meta name="apple-mobile-web-app-status-bar-style" content="#564a88">
  <link rel="icon" sizes="192x192" href="img/icons/pav192x192white.png">
  <link rel="shortcut icon" href="img/favicon_pav.ico" type="image/vnd.microsoft.icon">
  <style>
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    .pre-app__spinner {
      z-index: 10000; background-color: #6B55AD !important; width: 100%; position: fixed; height: 100%;
    }
    .pre-app__meter {
      margin: 0 auto;
      height: 10px;  /* Can be anything */
      background: white;
      -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px;
      padding: 5px;
    }
    .pre-app__spinner .pre-app__meter .pre-app__progress_bar {
      line-height: 0px;
      display: block;
      height: 100%;
      border-radius: 20px;
      background: #81C05C;
      position: relative;
      overflow: hidden;
      transition: width, 1s;
    }
  </style>
 </head>
 <body style="padding:0; margin: 0;">

   <div id="preloading-spinner" class="pre-app__spinner">
     <div style="width: 30%; margin: 0 auto; margin-top: 10%;">
       <img style="width: 100%; animation: spin 4s linear infinite;" src="/img/pav_icon.svg" alt="placeavote" />
       <div style="width: 100%; margin-top: 20%;">
         <div class="pre-app__meter">
           <div id="pre-app__progress" class="pre-app__progress_bar" style="width: 15%"></div>
         </div>
       </div>
     </div>
   </div>

   <div finished-render style="display: none;" id="post-app">
     <invalid> </invalid>
     <header-nav> </header-nav>
    <div ng-view autoscroll id="view">
  </div>
<div>
<!-- ASYNC OUR APP -->
<script async src="src/initial_loads.js"></script>
 </body>
</html>
