header {
  transition: all 0.2s ease;
  &.ng-hide-remove {
    // top: -55px;
    transform: translateY(-150%);
  }
  &.ng-hide-add {
    // top: 10px;
    transform: translateY(0);
  }
  &.ng-hide-add-active {
    // top: -55px;
    transform: translateY(-150%);
  }

  &.ng-enter.ng-enter-active {
    // opacity: 0.2;
    transform: translateY(0%);
  }

  .profile-image-holder {
    border-color: darken($blue, 30%);
  }

  @include linear-gradient(#564a88, #445a95);
  z-index: 9999;
  height: 50px;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2a385f;
 

  .row-header {
    @include max-width();
    @include media(1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    img.pav-icon {
      height: 30px;
      cursor: pointer;
    }
    @include media(560px) {
      display: block;
      img.pav-icon {
        position: absolute;
        left: 10px;
        opacity: 1;
        transition: all 0.3s ease;
      }
      .notification {
        position: absolute;
        right: 10px;
        opacity: 1;
        transition: all 0.3s ease;
      }
      img.pav-icon.header-focus, .notification.header-focus {
        opacity: 0;
      }
    }
  }

  .not-logged-in {

    .blue-button {
      border-color: rgba(255,255,255,0.8);
    }

    @include media(630px) {
      position: absolute;
      width: 100%;
      top: 40px;
      left: 0;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px;
      .medium-button {
        width: 40%;
      }
      .blue-button {
        border-color: darken($blue, 20%);
      }
    }
  }

}

