header {
  transition: all 0.2s ease;
  &.ng-hide-remove {
    top: -55px;
  }

  &.ng-enter.ng-enter-active {
    opacity: 0.2;
    top: 10px;
  }

  @include linear-gradient(#564a88, #445a95);
  z-index: 9999;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2a385f;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  .row {
    @include max-width();
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img.pav-icon {
      height: 30px;
    }

    section.search {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      height: 30px;
      position: relative;

      input {
        width: 100%;
        height: 26px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: white;
        color: $black;
        @include font-size(12px);
        padding-left: 10px;
      }

      img {
        position: absolute;
        top: 6px;
        right: 10px;
        height: 16px;
      }
    }

    section.notification {
      img {
        height: 30px;
      }

      img.user-img {
        height: 30px;
        border-radius: 5px;
        padding-left: 10px;
      }
    }
  }
}