header {
  transition: all 0.2s ease;
  &.ng-hide-remove {
    top: -55px;
  }

  &.ng-enter.ng-enter-active {
    opacity: 0.2;
    top: 10px;
  }

  @include linear-gradient(#564a88, #445a95);
  z-index: 9999;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2a385f;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  .row {
    @include max-width();
    @include media(1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrin: 0;
    img.pav-icon {
      height: 30px;
      cursor: pointer;
    }

    section.search {
      @include media(560px) {
        display: none;
      }
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      height: 30px;
      position: relative;

      input {
        width: 100%;
        height: 26px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: white;
        color: $black;
        @include font-size(12px);
        padding-left: 10px;
      }

      img {
        position: absolute;
        top: 6px;
        right: 10px;
        height: 16px;
      }
    }

    section.notification {
      img {
        height: 30px;
      }
      .dropdown-container {
        background:$white;
        border-radius:3px;
        font-size:12px;
        width:130px;
        position:relative;
        @include shadow();
        border:1px solid $grey;
        ul {
          li {
            text-align:center;
            font-weight:normal;
            cursor:pointer;
            padding:10px 10px;
            &:hover {
            background:$greylight;
          }
          }
        }
      }
.dropdown-container:before {
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  @include media(600px) {
    display: none;
  }
}

.dropdown-container:before {
    border-bottom-color: $white;
    border-width: 9px;
    margin-top: -18px;
    left: 80%;
}


      img.user-img-inside{
        height:20px;
        border-radius:3px;
        border:1px solid $grey;
        vertical-align: top;
        margin-right:5px;
      }
      img.user-img {
        cursor: pointer;
        height: 30px;
        border-radius: 3px;
        border:1px solid darken($blue, 90%);
        @include shadow();
        &:hover {
          -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
        }
      }
    }
  }
}