header {
  transition: all 0.2s ease;
  &.ng-hide-remove {
    top: -55px;
  }

  &.ng-enter.ng-enter-active {
    opacity: 0.2;
    top: 10px;
  }

  @include linear-gradient(#564a88, #445a95);
  z-index: 9999;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2a385f;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

  .row {
    @include max-width();
    @include media(1200px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    img.pav-icon {
      height: 30px;
      cursor: pointer;
    }
    @include media(560px) {
      display: block;
      img.pav-icon {
        position: absolute;
        left: 10px;
        opacity: 1;
        transition: all 0.3s ease;
      }
      .notification {
        position: absolute;
        right: 10px;
        opacity: 1;
        transition: all 0.3s ease;
      }
      img.pav-icon.header-focus, .notification.header-focus {
        opacity: 0;
      }
    }
  }
}

