  .no-notifications {
    opacity: 0.4;
  }
    .notification-new-event {
      display: inline-block;
      background-color: $red;
      color: $white;
      position: absolute;
      top: 0;
      right: 0;
      @include font-size(8px);
      padding: 4px 2px;
      border-radius: 3px;
    }
    .notification-counter {
        background: $red;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        position: absolute;
        top: 0px;
        right: 50px;
        animation: notify 1s ease;
        p {
          width: 12px;
          line-height: 1;
          color: $white;
          @include bold();
          @include font-size(8px);
          text-align: center;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      @keyframes notify {
        0% {
          transform: scale(0,0);
        }
        30% {
          transform: scale(1.2,1.2);
        }
        70% {
          transform: scale(1.2,1.2);
        }
        100% {
          transform: scale(1,1);
        }
      }
    section.notification {
      .notifications-icon {
        height: 30px;
        margin-right: 24px;
        position: absolute;
        right: 25px;
      }
      // img.user-img {
      //   margin-left: 20px;
      // }
      // position: absolute;

    .notifications-container {
      position: fixed;
      top:53px;
      right:89px;
      background: $white;
      border:1px solid $grey;
      @include shadow();
      @include media(600px) {
        right: 9px;
      }
      .notifications-boundary { 
        max-height:300px;
        width:300px;
        overflow: scroll;
        // position: relative;
        .notification-event {
          padding: 10px;
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid $grey;
          &:hover {
            background: lighten($grey, 18%);
          }
          .user-img-border {
            position: relative;
            img {
              height: auto;
            }
          }
          .time-stamp {
            @include font-size(10px);
          }
          &.notification-comment-reply {
            .notification-comment-reply-info {
              padding-left: 10px;
              @include font-size(12px);
              @include light();
              .profile-link {
                color: $red;
                text-decoration: none;
              }
              .bill-link {
                color: $blue;
                @include bold;
                text-decoration: none;
              }
            }
          }
        }
      }
      
    }

.dropdown-container {
  background:$white;
  border-radius:3px;
  font-size:12px;
  width:130px;
  top: 44px;
  right: 0px;
  position:absolute;
  @include shadow();
  border:1px solid $grey;
  ul {
    li {
      .profile-image-holder {
        width: 20px;
        height: 20px;
        border-color: $grey;
      }
      text-align:center;
      font-weight:normal;
      cursor:pointer;
      padding:10px 10px;
      &:hover {
      background:$greylight;
    }
    }
  }
}

.notifications-container:before, .dropdown-container:before {
  top: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: $white;
  border-width: 9px;
  margin-top: -18px;
  right: 5px;
  z-index: 9999;
}

.notifications-container:before {
  @include media(600px) {
    right:55px;
  }
}

      img.user-img-inside{
        height:20px;
        border-radius:3px;
        border:1px solid $grey;
        vertical-align: top;
        margin-right:5px;
      }
      img.user-img {
        cursor: pointer;
        height: 30px;
        border-radius: 3px;
        border:1px solid darken($blue, 25%);
        @include shadow();
        &:hover {
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
        }
      }
    }

.loader-holder {
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  // height: 0;
  width: 100%;
  background: white;
  border-top: 1px solid lighten($blue, 35%);
  box-shadow: inset 0px 1px 10px rgba(0,0,0,0.1);
  .box-loader {
    height: 40px;
  }
  &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
    transition: all 0.3s ease;
  }
  &.ng-hide-add,&.ng-hide-add-active {
    transition-delay: 0.3s;
  }
  &.ng-hide-remove {
    height: 0px;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    height: 40px;
  }
  &.ng-hide-add {
    height: 40px;
  }
  &.ng-hide-add.ng-hide-add-active {
    height: 0px;
  }
}
// .notifications-loader {
//   display: inline-block;
//   background: red;
// }

.reaction-image-holder {
  position: relative;
  img {
    width: 32px;
  }
}
