.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  height: 30px;
  position: relative;
  input {
    width: 100%;
    height: 26px;
    border-radius: 3px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    @include font-size(12px);
    padding-left: 10px;
  }

  .loader {
    position: absolute;
    right: 7px;
    z-index: 9999;
    top: 8px;
    height: 15px;
    width: 15px;
  }

  .has-results {
    display: flex !important;
  }

  .search-results {
  display: none;
  position: absolute;
  z-index: 9999;
  top:30px;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  border: 1px solid $widgetborder;
  overflow: hidden;
    .search-category {
      border-top: 1px solid lighten($widgetborder, 7%);
      background: $pale;
      p {
        color: $blue;
        @include bold();
        @include font-size(10px);
        padding: 5px;
      }
    }
    ul {
      li {
        display: flex;
        flex-direction: row;
        padding: 10px 5px;
        align-items: center;
        cursor: pointer;
        border-top: 1px solid lighten($widgetborder, 7%);
        &:hover {
          background: $pale;
        }
        p {
          @include font-size(12px);
          font-style: italic !important;
          padding-left: 10px;
          padding-right: 5px;
        }
      }
    }
    #bill-results {
      li {
        p {
          @include bold();
          color:$blue;
        }
      }      
    }
    #user-results {
      .profile-image-holder {
        border-color: $greylight;
      }
      li {
        img {
          height: 30px;
          width: 30px;
          border-radius: 3px;
        }
        p {
          color: $red;
        }
      }
    }
    .text-select {
      background: darken($pale, 5%);
      color: lighten($blue, 5%);
    }
    .selected {
      background: $pale;
    }
}
  .results-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    @include linear-gradient(#5b7da8, #746898);
    i {
      color: white;
      @include font-size(16px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      line-height: 2.2;
      left: 0;
      height: 30px;
      width: 100%;
      text-align: center;
    }
  }
}

@include media(560px) {
    .search {
      width: 50%;
      position: absolute;
      z-index: 9998;
      left: 50px;
      // right: 0;
      // margin: 0 auto;
    }
    .search.search-focus {
       width: 100%;
       left: 0;
       right: 0;
       margin: 0 auto;
    }
    .search input {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 3px;
      transition: all 0.3s ease;
    }
    .search input:focus {
      background: white;
      border-radius: 3px;
      left: 0px;
      top: -5px;
      height: 40px;
      z-index: 9999;
      width: 100%;
      margin: 0 auto;
    }

    .search .search-results {
      height: 90vh;
      overflow: scroll;
    }
}
