.btn-green {
  background: $green;
    &:hover {
      background: lighten($green, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #9fb66c;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 44px;
  @include font-size(14px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.btn-red {
  background: $red;
  &:hover {
    background: lighten($red, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #bf4734;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 44px;
  @include font-size(14px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}
.btn-grey {
  background: #e3e3e3;
  &:hover {
    background: lighten(#e3e3e3, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #B7B7B7;
  border-radius: 3px;
  color: #696868;
  height: 46px;
  line-height: 44px;
  @include font-size(14px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.9);
  transition: all 0.3s ease;
}

.btn-red, .btn-green {
    span {
    transition: all 0.3s ease;
    line-height: 0;
    position: absolute;
    left: 34px;
    @include font-size(23px);
    top: 12px;
  }
}