.btn-blank {
  color: $grey;
  background-color: transparent;
  border: 1px solid transparent;
  height: 46px;
  line-height: 46px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-green {
  background: $green;
    &:hover {
      background: lighten($green, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #9fb66c;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 46px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.btn-blue {
  background: $blue;
    &:hover {
      background: lighten($blue, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid darken($blue, 30%);
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 46px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.btn-red {
  background: $red;
  &:hover {
    background: lighten($red, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #bf4734;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 46px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}
.btn-grey {
  background: #e3e3e3;
  &:hover {
    background: lighten(#e3e3e3, 4%);
  }
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  color: #939191;
  height: 46px;
  line-height: 46px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 0px transparentize(white, 0.4);
  transition: all 0.3s ease;
  box-shadow: inset 0px 0px 9px 1px rgba(255,255,255,0.2);
}

.btn-red, .btn-green, .btn-blue {
  box-shadow: inset 0px 0px 9px 1px rgba(255,255,255,0.1);
  display: inline-block;
    span {
    transition: all 0.3s ease;
    line-height: 0;
    position: absolute;
    left: 20px;
    @include font-size(14px);
    top: 15px;
  }
}

.edit-btn {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  @include font-size(9px);
  backgrund: white;
  border: 1px solid $grey;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  padding: 0px 10px;
  background: $white;
  @include medium();
}

.btn-small {
  height: 30px;
  line-height: 28px;
}

button {
  @include light();
}

.small-button {
  text-decoration: none;
  border-radius: 3px;
  color: white;
  padding: 3px 10px;
  // height: 20px;
  // line-height: 20px;
  @include font-size(10px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.medium-button {
  text-decoration: none;
  border-radius: 3px;
  color: white;
  padding: 7px 10px;
  // height: 30px;
  // line-height: 30px;
  @include bold();
  vertical-align: middle;
  @include font-size(10px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.large-button {
  text-decoration: none;
  border-radius: 3px;
  color: white;
  // height: 45px;
  // line-height: 45px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.blue-button {
  background: $blue;
  border: 1px solid darken($blue, 10%);
    &:hover {
      background: lighten($blue, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
}

.green-button {
  background: $green;
  border: 1px solid darken($green, 10%);
    &:hover {
      background: lighten($green, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($green, 0.8);
    }
  }
}



.twitter-share, .facebook-share {
  @include font-size(14px);
  @include light();
  font-family: $font-normal;
  border-radius: 3px;
  text-align: center;
  // display: inline-block;
  text-decoration: none;
  line-height: 28px;
  padding: 5px 15px 5px 36px;
  color: white;
  position: relative;
    span {
      position: absolute;
      top: 7px;
      left: 10px;
      @include font-size(20px);
    }

  @include media(600px) {
    @include font-size(11px);
  }
}

.twitter-share {
  border: 1px solid darken($twblue, 10%);
  background: $twblue;
  &:hover {
    background: lighten($twblue, 4%);
    span {
    text-shadow: 0px 3px 5px transparentize($twblue, 0.8);
    }
  }
}

.facebook-share {
  border: 1px solid darken($fbblue, 10%);
  background: $fbblue;
  &:hover {
    background: lighten($fbblue, 4%);
    span {
    text-shadow: 0px 3px 5px transparentize($fbblue, 0.8);
    }
  }
}

.signup-modal-button {
  cursor: pointer;
  @include font-size(14px);
  @include light();
  font-family: $font-normal;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  padding: 5px 15px 5px 15px;
  color: white;
  position: relative;
}

// .follow-me {
// .btn-green {
//     &.ng-enter {
//       transition-delay: 1s;
//       transition: all 1s ease;
//       opacity: 0;
//     }
//     &.ng-enter.ng-enter-active {
//       opacity: 1;
//     }
//   }
// }
