.btn-blank {
  color: $grey;
  background-color: transparent;
  border: 1px solid transparent;
  height: 46px;
  line-height: 42px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}

.btn-green {
  background: $green;
    &:hover {
      background: lighten($green, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #9fb66c;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 42px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.btn-blue {
  background: $blue;
    &:hover {
      background: lighten($blue, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid darken($blue, 30%);
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 42px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}

.btn-red {
  background: $red;
  &:hover {
    background: lighten($red, 4%);
    span {
      text-shadow: 0px 3px 5px transparentize($black, 0.8);
    }
  }
  border: 1px solid #bf4734;
  border-radius: 3px;
  color: white;
  height: 46px;
  line-height: 42px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 1px transparentize($black, 0.6);
  transition: all 0.3s ease;
}
.btn-grey {
  background: #e3e3e3;
  &:hover {
    background: lighten(#e3e3e3, 4%);
  }
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  color: #939191;
  height: 46px;
  line-height: 42px;
  @include font-size(12px);
  cursor: pointer;
  outline: none;
  position: relative;
  text-shadow: 0px 1px 0px transparentize(white, 0.4);
  transition: all 0.3s ease;
  box-shadow: inset 0px 0px 9px 1px rgba(255,255,255,0.2);
}

.btn-red, .btn-green, .btn-blue {
  box-shadow: inset 0px 0px 9px 1px rgba(255,255,255,0.1);
    span {
    transition: all 0.3s ease;
    line-height: 0;
    position: absolute;
    left: 20px;
    @include font-size(14px);
    top: 15px;
  }
}

button {
  @include light();
}