.card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  height: auto;
  border: 1px solid $widgetborder;
  padding: 20px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  .box-loader {
    background: white;
  }
  .row-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
}

.card-message {
  h2 {
    @include font-size(20px);
    text-align: center;
    margin: 30px 0;
  }
}
