.card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  height: auto;
  border: 1px solid $widgetborder;
  padding: 20px;
  flex-shrink: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);

  .row-layout {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
}