 section.comment-vote {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
      @include font-size(12px);
      font-family: $font-bold;
      color: $green;

      &.opposed {
        color: $red;
      }
      line-height: 15px;
    }

    img {
      width: 13px;
      height: 13px;
      padding-left: 10px;
    }
  }