 section.comment-vote {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
      @include font-size(12px);
     @include bold();
      color: $green;

      &.opposed {
        color: $red;
      }
      line-height: 15px;
    }

    i.thumbs {
      cursor: pointer;
      @include font-size(13px);
      color: $grey;
      margin-left: 10px;
      height: 15px;
      text-align: center;
      width: 15px;
      transition: all 0.1s ease;
      line-height: 15px;
      &:active {
        font-size: 9px;
      }

      &.icon-thumbs-up:hover {
        color: $green;
      }

      &.icon-thumbs-down:hover {
        color: $red;
      }
    }
    .reply-btn {
      color: $blue;
      text-transform: uppercase;
      margin-left: 10px;
      cursor: pointer;
      transition: all 0.3 ease;
      &:hover {
        color: lighten($blue, 10%);
      }
    }
  }