@charset "UTF-8";

@font-face {
  font-family: "pav";
  src:url("../font/pav.eot");
  src:url("../font/pav.eot?#iefix") format("embedded-opentype"),
    url("../font/pav.woff") format("woff"),
    url("../font/pav.ttf") format("truetype"),
    url("../font/pav.svg#pav") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pav" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pav" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-exclamation:before {
  content: "b";
}
.icon-building:before {
  content: "c";
}
.icon-gun:before {
  content: "d";
}
.icon-ipad:before {
  content: "e";
}
.icon-money:before {
  content: "f";
}
.icon-police:before {
  content: "g";
}
.icon-religion:before {
  content: "h";
}
.icon-smoking-area:before {
  content: "i";
}
.icon-tank:before {
  content: "j";
}
.icon-check-mark:before {
  content: "k";
}
.icon-arrow-down:before {
  content: "l";
}
.icon-arrow-up:before {
  content: "m";
}
.icon-reply:before {
  content: "n";
}
.icon-thumbs-down:before {
  content: "o";
}
.icon-thumbs-up:before {
  content: "p";
}
.icon-loc:before {
  content: "q";
}