@charset "UTF-8";
//http://cdn.placeavote.com/
@font-face {
  font-family: "pav";
  src:url("../font/pav.eot");
  src:url("../font/pav.eot?#iefix") format("embedded-opentype"),
    url("../font/pav.woff") format("woff"),
    url("../font/pav.ttf") format("truetype"),
    url("../font/pav.svg#pav") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pav" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pav" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\6c";
}
.icon-facebook:before {
  content: "\61";
}
.icon-building:before {
  content: "\63";
}
.icon-gun:before {
  content: "\64";
}
.icon-ipad:before {
  content: "\65";
}
.icon-money:before {
  content: "\66";
}
.icon-police:before {
  content: "\67";
}
.icon-religion:before {
  content: "\68";
}
.icon-smoking-area:before {
  content: "\69";
}
.icon-tank:before {
  content: "\6a";
}
.icon-check-mark:before {
  content: "\6b";
}
.icon-exclamation:before {
  content: "\62";
}
.icon-arrow-up:before {
  content: "\6d";
}
.icon-reply:before {
  content: "\6e";
}
.icon-thumbs-down:before {
  content: "\6f";
}
.icon-thumbs-up:before {
  content: "\70";
}
.icon-loc:before {
  content: "\71";
}
.icon-committee:before {
  content: "\72";
}
.icon-enacted:before {
  content: "\73";
}
.icon-introduced:before {
  content: "\74";
}
.icon-passed-house:before {
  content: "\75";
}
.icon-passed-senate:before {
  content: "\76";
}
.icon-logo:before {
  content: "\77";
}
.icon-add:before {
  content: "\78";
}
.icon-comment:before {
  content: '\79';
}
.icon-trending-graph:before {
  content: "\7a";
}
.icon-close:before {
  content: "\41";
}
.icon-drag:before {
  content: "\42";
}
.icon-issues:before {
  content: "\43";
}
