.post-message {
  border-radius: 3px;
  border: 1px solid $greylight;
  resize: none;
  color: $black;
  height: 40px;
  font-fmaily: $font;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.1);
  @include medium();
  @include font-size(14px);
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $black;
  }
}
