.post-message {
  border-radius: 3px;
  border: 1px solid $greylight;
  resize: none;
  color: $black;
  height: 40px;
  font-fmaily: $font;
  box-shadow: inset 1px 1px 4px rgba(0,0,0,0.1);
  @include light();
  @include font-size(14px);
  &:focus {
    outline: none;
  }
  &::-webkit-input-placeholder {
    color: $black;
  }
}

.input-text {
  border-radius: 3px;
  border: 1px solid $greylight;
  height: 40px;
  font-family: $font;
  &:focus {
    border-color: $purple;
    outline: none;
  }
}

input[type=radio] {
  -webkit-tap-highlight-color: initial !important;
  -webkit-appearance: radio;
}
