.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-m {
  @include media(900px) {
    flex-direction: column;
  }
}

.row-m {
  @include media(900px) {
    flex-direction: row;
  }
}


.layout-right {
  align-self: flex-start;
  margin-left: auto;
}

.layout-left {
  align-self: flex-start;
}

.layout-bottom {
  align-self: flex-end;
}

//No Margins

.no-margin-bottom {
  margin-bottom: 0;  
}

.no-margin-top {
  margin-top: 0;  
}

.no-margin-left {
  margin-left: 0;  
}

.no-margin-right {
  margin-right: 0;  
}

//Small Margins
$margin-small: 10px;
.small-margin-bottom {
  margin-bottom: $margin-small;  
}

.small-margin-top {
  margin-top: $margin-small;  
}

.small-margin-left {
  margin-left: $margin-small;  
}

.small-margin-right {
  margin-right: $margin-small;  
}

@include media(900px) {
  .small-margin-bottom-m {
    margin-bottom: $margin-small;  
  }

  .small-margin-top-m {
    margin-top: $margin-small;  
  }

  .small-margin-left-m {
    margin-left: $margin-small;  
  }

  .small-margin-right-m {
    margin-right: $margin-small;  
  }
}

//Medium Margins
$margin-medium: 15px;
.medium-margin-bottom {
  margin-bottom: $margin-medium;  
}

.medium-margin-top {
  margin-top: $margin-medium;  
}

.medium-margin-left {
  margin-left: $margin-medium;  
}

.medium-margin-right {
  margin-right: $margin-medium;  
}

@include media(900px) {
  .medium-margin-bottom-m {
    margin-bottom: $margin-medium;  
  }

  .medium-margin-top-m {
    margin-top: $margin-medium;  
  }

  .medium-margin-left-m {
    margin-left: $margin-medium;  
  }

  .medium-margin-right-m {
    margin-right: $margin-medium;  
  }
}

//Large Margins
$margin-large: 20px;
.large-margin-bottom {
  margin-bottom: $margin-large;  
}

.large-margin-top {
  margin-top: $margin-large;  
}

.large-margin-left {
  margin-left: $margin-large;  
}

.large-margin-right {
  margin-right: $margin-large;  
}

@include media(900px) {
  .large-margin-bottom-m {
  margin-bottom: $margin-large;  
  }

  .large-margin-top-m {
  margin-top: $margin-large;  
  }

  .large-margin-left-m {
  margin-left: $margin-large;  
  }

  .large-margin-right-m {
  margin-right: $margin-large;  
  }
}

@include media(900px) {
  .no-margin-bottom-m {
    margin-bottom: 0;  
  }

  .no-margin-top-m {
    margin-top: 0;  
  }

  .no-margin-left-m {
    margin-left: 0;  
  }

  .no-margin-right-m {
    margin-right: 0;  
  }
}
