.message-error {
  @include font-size(12px);
}

.event-message {
  &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
    transition: all 0.3s ease;
  }
  &.ng-hide-add,&.ng-hide-add-active {
    transition-delay: 0.3s;
  }
  &.ng-hide-remove {
    opacity: 0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
  &.ng-hide-add {
    opacity: 1;
  }
  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }
}
