.loaded {
	opacity: 1;
	transition-delay: 0.2s;
	transition: all 0.2s ease;
	&.ng-hide-remove {
		opacity: 0;
	}
}

.pre-loader.ng-hide {
	width: 1px;
	height: 1px;
	opacity: 0;
}

.pre-loader {
  display: flex;
  align-self: center;
  transform: translate(-50%, -50%);
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  transition: all 0.2s ease;
  opacity:1;
}

.pre-loader hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

.pre-loader :first-child {
  background: transparentize($purple, 0.5);
  animation-delay: -1.5s;
}

.pre-loader :nth-child(2) {
  background: transparentize($purple, 0.5);
  animation-delay: -1s;
}

.pre-loader :nth-child(3) {
  background: transparentize($purple, 0.5);
  animation-delay: -0.5s;
}

.pre-loader :last-child {
  background: transparentize($purple, 0.5);
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }

  25% {
    transform: translate(160%);
  }

  50% {
    transform: translate(160%, 160%);
  }

  75% {
    transform: translate(0, 160%);
  }
}