.pre-loader {
  width:100%;
  height: 100px;
  background: url('//cdn.placeavote.com/img/preloaders/loader.gif') no-repeat center center;
  background-size: 40px 40px;
  display:block;
}


.loader {
  height: 10px;
  width:  10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparentize($blue, 0.75)
    transparentize($blue, 0.75) transparentize($blue, 0.25) transparentize($blue, 0.25);
  border-radius: 100%;
  // transform: scaleZ(1,1); 
  animation: clockwise 0.5s linear infinite;

}

.box-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      height: 20px;
      width: 20px;
      // animation: bounceOut 0.5s ease;
    }
    &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
      transition: all 0.3s ease;
    }
    &.ng-hide-add.ng-hide-add-active {
      transition-delay: 0.3s;
      opacity: 0;
      .loader {
       animation: bounce 0.3s ease;
       transform: scale(0);
      }
    }
}



@keyframes clockwise
{
  to {transform: rotate(360deg) translatez(0);}
}

@keyframes bounce {
  0% { transform: scale(1.1);}
  50% { transform: scale(1.6);}
  100% { transform: scale(0);}
}

