.pre-loader {
  width:100%;
  height: 100px;
  background: url('//cdn.placeavote.com/img/preloaders/loader.gif') no-repeat center center;
  background-size: 40px 40px;
  display:block;
}


.loader {
  height: 10px;
  width:  10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparentize($blue, 0.75)
    transparentize($blue, 0.75) transparentize($blue, 0.25) transparentize($blue, 0.25);
  border-radius: 100%;
  animation: clockwise .5s linear infinite;

  &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
  	transition: all 0.3s ease;
  }
  &.ng-hide-add {
  	opacity: 1;
  }
  &.ng-hide-add.ng-hide-add-active {
  	opacity: 0;
  }
  &.ng-hide-remove {
  	opacity: 0;
  }
  &.ng-hide-remove.ng-hide-remove-active {
  	opacity: 1;
  }
}

.box-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.8);
    margin: 0;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    .loader {
      height: 20px;
      width: 20px;
    }
    &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
      transition: all 0.3s ease;
    }
    &.ng-hide-add {
      opacity: 1;
    }
    &.ng-hide-add.ng-hide-add-active {
      opacity: 0;
    }
    &.ng-hide-remove {
      opacity: 0;
    }
    &.ng-hide-remove.ng-hide-remove-active {
      opacity: 1;
    }
}



@keyframes clockwise
{
  to {transform: rotate(360deg) translatez(0);}
}
