.progress-bar {
  @media screen and (max-device-width: 1020px), screen and (max-width: 1020px) {
  display: none;
  }
  width: 200px;
  height: 15px;
  background-color: $greylight;
  position: absolute;
  right: 29px;
  top: 52px;
  border-radius: 3px;
  overflow: hidden;

  span {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    height: 30px;
    @include linear-gradient(#6769a0, #7f538e);

    &.complete {
      width: 100%;
      animation: fullbar 2s ease;
    }
  }
}

@keyframes fullbar {
  0% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

