.tool-tip {
  background: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
  display: inline-block;
  padding: 4px;
  white-space: nowrap;
  border-radius: 2px;
  text-align: center;
  padding: 0 5px;
  @include font-size(12px);
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 1s;
 }

.tool-tip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  background: transparent;
  border-top-color: rgba(0,0,0,0.7);
  border-width: 5px;
  margin-left: -5px;
}
