/*------------------------------------*\
    #COMPONENT-SEARCH
\*------------------------------------*/

/**
* Search bar is a child of the header component
* and is the parent of autocomplete search results.
*/

.search-container {
    position: fixed;
    top: 11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 30px;
    z-index: 9001;
}


/**
* Search Icon
*/
.search-container svg {
    height: 20px;
    width: 20px;
    fill: $grey;
    position: absolute;
    top: 5px;
    right: 5px;
}


.search-container input {
    width: 100%;
    height: 100%;
    padding-left: 11px;
    border-radius: $border-radius;
}
