path.opposed_line {
	fill: none;
	stroke: $red;
	stroke-width: 2;
}

path.for_line {
	fill: none;
	stroke: $green;
	stroke-width: 2;
}

path.domain {
    stroke: none;
    fill: none;
	stroke-width: 2;
}

.y.axis {
	.domain {
		stroke: none;
	}
}

.x.axis, .y.axis {
	.tick {
		text {
			font-size: 12px;
			fill: #798796;
			@include medium();
		}
	}
}

.y.axis {
	.tick {
		text {
	padding-right: 10px;
		}
	}
}

.y.axis {
	.tick {
		line {
			stroke: #798796;
			stroke-dasharray: 6;
		}

		.baseline {
			stroke: #fca393;
			stroke-dasharray: none;
		}
	}
}