.issue-card {
  p {
    @include font-size(12px);
    .bill-ref {
      border: 1px solid $widgetborder;
      border-radius: 3px;
      padding: 3px 6px;
      display: inline-flex;
      max-width: 360px;
      @include font-size(11px);
    }
  }

  .timestamp {
    @include font-size(10px);
  }
  .icon-issues {
    @include font-size(13px);
  }
  .issue-article {
    position: relative;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    h2, a {
      transition: all 0.3s ease;
      text-shadow: 0px 1px 5px rgba(0,0,0,0);
    }
    h2 {
      z-index: 2;
      position: relative;
      @include font-size(14px);
    }
    p {
      position: relative;
      z-index: 2;
      color: white;
      text-decoration: none;
      @include font-size(10px);
    }
    border-radius: 3px;
    overflow: hidden;
    background-position: center center;
    background-size: 100%;
    transition: all 0.3s ease;
    &:hover {
      .backdrop {
        background: rgba(0,0,0,0.2);
      }
      background-size: 110%;
      h2, a {
        text-shadow: 0px 1px 3px rgba(0,0,0,0.6);
      }
    }
    .backdrop {
      transition: all 0.5s ease;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 1;
    }
  }
}

.reactions {
  .reaction {
    overflow: hidden;
    position:relative;
    min-width: 25px;
    width: auto !important;
    background: transparent;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    height: 25px;
    transition: all 1s ease;
    &:nth-child(1), &:nth-child(2) {
      margin-right: 5px;
    }
    span {
      @include font-size(10px);
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      width: 0;
      display: inline-block;
      opacity: 0;
      transition-delay: 2s;
      transition: all 1s ease;
      margin-right: 0px;
      margin-left: 0px;
    }
    &.reaction-active {
      background: $greylight;
      border: 1px solid $grey;
      width: 100%;
      span { width: 100%; opacity: 1;
      margin-right: 8px;
      margin-left: 29px;}
    }
    img {
      position: absolute;
      top: 1px;
      left: 1px;
      width: 21px;
      height: 21px;
      &.ng-hide-add, &.ng-hide-remove, &.ng-hide-remove-active, &.ng-hide-add-active {
        transition: all 0.3s ease;
      }
      &.ng-hide-add {
        opacity:1;
        // transform: scale(1);
      }
      &.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        // transform: scale(0);
      }
      &.ng-hide-remove {
        opacity: 0;
        // transform: scale(0);

      }
      &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
        // transform: scale(1);
      }
    }
  }
  // .reaction-active {
  //   background: $greylight;
  //   border: 1px solid $grey;
  //   // transition: all 1s ease;
  //   span { width: 100%; opacity: 1;
  //     margin-right: 7px;
  //     margin-left: 29px;}
  // }
  .reaction.reaction-positive {
    border-color: $green;
    background: lighten($green, 32%);
    span {
      color: $green;
      width: 100%; opacity: 1;
    }
  }
  .reaction.reaction-neutral {
    border-color: #C1712F;
    background: lighten(#FFEBB3, 5%);
    span {
      color: #C1712F;
      width: 100%; opacity: 1;
    }
  }
  .reaction.reaction-negative {
    border-color: $red;
    background: lighten($red, 32%);
    span {
      width: 100%; opacity: 1;
      color: $red;
    }
  }

}


.issue-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  background: rgba(255,255,255,0.5);
  .card {
    max-width: 500px;
    top: 100px;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
  }
}
