.issues-container {
  .issues-title {
    i {
      line-height: 10px;
    }
    i, p {
        @include medium();
        @include font-size(12px);
      }    
  }

  .card {
    overflow: hidden;
  }
  
  .issues-title {
      i {
        line-height: 10px;
      }
      i, p {
          @include medium();
          @include font-size(12px);
        }    
    }

  .profile-image-holder {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .post-message {
    margin-bottom: 32px;
    padding-left: 45px;
  }
  .issues-options {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $widgetborder;
    border-right: 1px solid $widgetborder;
    border-top-right-radius: 3px;
    p {
      @include font-size(12px);
      @include medium();
    }
    div {
      &:nth-child(1) {
        padding: 7px 10px;
      }
      &:nth-child(1), &:nth-child(2) {
        border-right: 1px solid $widgetborder;
      }
      &:nth-child(2), &:nth-child(3) {
        position: relative;
        margin: 0px auto;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover {
          background: darken($pale, 2%);
          & .tool-tip {
            display:inline-block;
          }
        }
      }
      i {
        font-family: "pav" !important;
      }
    }
    .icon-links {
      color: #AEADB3;
      @include font-size(15px);
    }
    .icon-bills {
      color: #AEADB3;
      @include font-size(16px);
    }
  }
}
