.issues-container {
  .issues-title {
    i {
      line-height: 10px;
    }
    i, p {
        @include medium();
        @include font-size(12px);
      }    
  }

  .card {
    // overflow: hidden;
    padding-bottom: 42px;
  }
  
  .issues-title {
      i {
        line-height: 10px;
      }
      i, p {
          @include medium();
          @include font-size(12px);
        }    
    }

  .profile-image-holder {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .post-message {
    padding-left: 45px;
  }
  .flat-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .issues-options {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $widgetborder;
    border-right: 1px solid $widgetborder;
    border-top-right-radius: 3px;
    p {
      @include font-size(12px);
      @include medium();
    }
    div {
      &:nth-child(1) {
        padding: 7px 10px;
      }
      &:nth-child(1), &:nth-child(2) {
        border-right: 1px solid $widgetborder;
      }
      &:nth-child(2), &:nth-child(3) {
        position: relative;
        margin: 0px auto;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover {
          background: darken($pale, 2%);
          & .tool-tip {
            display:inline-block;
          }
        }
      }
      i {
        font-family: "pav" !important;
      }
    }
    .icon-links {
      color: #AEADB3;
      @include font-size(15px);
    }
    .icon-bills {
      color: #AEADB3;
      @include font-size(16px);
    }
  }
}

.issues-container {
  .bill-search {
    width: 100%;
    position: relative;
    .loader {
      position: absolute;
      top: 15px;
      right: 15px;
      height: 10px;
      width: 10px;
    }
    input {
      @include font-size(12px);
      width: 100%;
      background: $pale;
      border:none;
      font-family: $font;
      @include medium();
      height: 35px;
      padding-left: 10px;
      border: 1px solid $widgetborder;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      &:focus {
        outline: none;
      } 
      &::-webkit-input-placeholder {
        color: lighten(desaturate($blue, 20%), 15%);
     }
    }
  }
}
