<div class="c-card c-stats__text--light">
<h1>District Rankings</h1>
<hr />
  <div class="c-stats__district-league" ng-show="league.isAvailable()">
  This table shows which districts are the most represented on PlaceAVote accross the country. The higher your districs representation the more your congressman will be forced to follow the sentiment coming from you, the citizens of {{league.stateName}}'s {{league.district}}.
    <table class="c-table">
      <tr class="c-table__head">
        <th>Pos.</th>
        <th>District</th>
        <th>Score <br /><span class="c-stats__text--small"> (Representation) </span></th>
      </tr>
      <tr ng-repeat="ranking in league.generateLeague()" class="c-table__row" ng-class="{'c-table__row--selected': ranking.current }">
        <td>{{ ranking.position }}</td>
        <td>{{ ranking.stateName }}'s {{ ranking.district }}</td>
        <td>{{ ranking.percentage }} &#37;</td>
      </tr>
    </table>
  </div>

  <div class="c-stats__district-league" ng-hide="league.isAvailable()">
    We haven't gathered enough votes yet to display a true representation leader board for this bill.
    Make sure you spread the word and vote on all bills that you're interested in to help us make a difference.
  </div>
</div>
