<!-- Banner -->
<div class="c-bill-banner">

  <update-meta property="og:image" content="{{bill.metaImage}}"></update-meta>
  <update-meta property="og:title" content="{{bill.body.getTitle()}}"></update-meta>

  <update-meta name="twitter:title" content="{{bill.body.getTitle()}}"></update-meta>

  <update-meta name="twitter:image:src" content="{{bill.metaImage}}"></update-meta>

  <update-meta name="description" content="Do you agree or disagree? Join the discussion and place your vote today!"></update-meta>

  <update-meta property="og:description" content="
Do you agree or disagree? Join the discussion and place your vote today!"></update-meta>
  <update-meta name="twitter:description" content="Do you agree or disagree? Join the discussion and place your vote today!"></update-meta>

    <image-smart img="bill.body.billData.featured_img_link" class="c-bill-banner__bg"></image-smart>

    <div class="c-bill-banner__overlay"
         ng-show="bill.body.billData.featured_img_link"></div>

    <div class="c-bill-banner__content"
         ng-show="bill.body.billData">

        <!-- Title -->
        <h1
        ng-class="{'h1--no-tags' : !bill.body.billData.pav_tags }"
        >{{bill.body.getTitle()}}</h1>

        <!-- Tags Container -->
        <div
        class="c-bill-banner__tags row"
        ng-show="bill.body.billData.pav_tags">

            <span>Tags:</span>

            <div class="c-tag"
            ng-repeat="tag in bill.body.billData.pav_tags">
                {{tag}}
            </div>

        </div>

        <!-- Social Sharing -->
        <div class="c-bill-banner__social">

            <i class="icon-facebook click"
            ng-click="bill.shareToFacebook()">
            </i>
            <a class="icon-twitter click"
            ng-href="https://twitter.com/intent/tweet?text={{bill.getShareMessage()}}&url={{bill.getLocation()}}" target="_blank"  data-size="large"><a>

        </div>

    </div>
</div>



<!-- Menu -->
<div class="c-side-menu-wrapper">

    <ul class="c-side-menu c-side-menu--bill">
        <li
        ng-class="{'c-side-menu--selected': bill.view === 'summary'}"
        ng-click="bill.view = 'summary'; bill.location.update_path('bill/' + bill.id + '/summary');">
            <i class="icon-document"></i>
            <p>Summary</p>
            <i class="icon-arrow-right"></i>
        </li>
        <li
        ng-class="{'c-side-menu--selected': bill.view === 'info'}"
        ng-click="bill.view = 'info'; bill.location.update_path('bill/' + bill.id + '/info');">
            <i class="icon-bill-info"></i>
            <p>Bill Info</p>
            <i class="icon-arrow-right"></i>
        </li>
        <li
        ng-class="{'c-side-menu--selected': bill.view === 'comments', 'c-side-menu--last-item': bill.hasVoted}"
        ng-click="bill.view = 'comments'; bill.location.update_path('bill/' + bill.id + '/comments');">
            <i class="icon-chat"></i>
            <p>Comments</p>
            <i class="icon-arrow-right"></i>
        </li>
        <li class="c-side-menu__vote"
        ng-click="bill.userVote()"
        ng-show="bill.hasVoted === false">
            <i class="icon-logo"></i>
            <p>I'm ready to vote!</p>

        </li>

        <li class="c-side-menu__vote"
        ng-show="bill.hasVoted === true">
            <i class="icon-logo"></i>
            <p>You already voted on this bill</p>
        </li>
    </ul>

</div>


<!-- Content Wrapper -->

<div class="c-bill-content-wrapper" loader loader-context="bill.body.billData">

    <div class="c-bill-content" ng-switch on="bill.view" ng-show="bill.body.billData">

        <bill-summary ng-cloak ng-switch-when="summary"></bill-summary>

        <bill-info ng-cloak ng-switch-when="info"></bill-info>

        <bill-comments ng-cloak ng-switch-when="comments"></bill-comments>

        <bill-statistics ng-cloak ng-switch-when="statistics"></bill-statistics>

    </div>

</div>

<div class="c-comment__button"
     ng-click="bill.userVote()"
     ng-show="bill.hasVoted === false">
  <h1>I'm Ready To Vote</h1>
</div>

<vote-modal></vote-modal>

<vote-confirmed></vote-confirmed>
