<div class="c-card__bill-status">
  <ul>
    <li 
    ng-class="{'c-card__status-icon--active': bill.body.billData.status === 'INTRODUCED'}">
      <div class="c-card__status-icon">
        <i class="icon-introduced"></i>
      </div>
      <h2>Bill Introduced</h2>
      <p>
        Meaning: This bill has been introduced by its sponsors.
      </p>
    </li>
    <li
      ng-class="{'c-card__status-icon--active': bill.body.billData.status === 'REPORTED'}">
      <div class="c-card__status-icon">
        <i class="icon-committee"
        style="font-size: 32px;"></i>
      </div>
      <h2>Reported by Committee</h2>
      <p>
      Meaning: A committee has issued a report to the full chamber recommending that the bill be considered further. Only about 1 in 4 bills are reported out of committee.
      </p>
    </li>
    <li
      ng-class="{'c-card__status-icon--active': bill.body.billData.status === 'CONFERENCE:PASSED:SENATE'}">
      <div class="c-card__status-icon">
        <i class="icon-passed-senate"
        style="font-size: 32px;"></i>
      </div>
      <h2>Passed Senate</h2>
      <p>
      Meaning: The bill was passed in a vote in the Senate. It goes to the House next. The vote was by Unanimous Consent so no record of individual votes 
      </p>
    </li>
    <li
      ng-class="{'c-card__status-icon--active': bill.body.billData.status === 'CONFERENCE:PASSED:HOUSE'}">
      <div class="c-card__status-icon">
        <i class="icon-passed-house"></i>
      </div>
      <h2>Passed House</h2>
      <p>
      Meaning: The bill was passed by both chambers in identical form. It goes to the President next who may sign or veto the bill. The vote was by voice vote so no record of individual votes was made.
      </p>
    </li>
    <li
      ng-class="{'c-card__status-icon--active': bill.body.billData.status === 'ENACTED:SIGNED'}">
      <div class="c-card__status-icon">
        <i class="icon-enacted"></i>
      </div>
      <h2>Enacted</h2>
      <p>
      Meaning: The President signed the bill and it became law.
      </p>
    </li>
  </ul>
</div>
