<div class="c-modal__wrapper" 
ng-show="bill.showVoteModal"
ng-class="{'c-modal__wrapper--active' : bill.showVoteModal}"
ng-cloak>

    <div class="c-modal c-modal--vote">

        <div class="c-modal__vote">

          <image-smart img="bill.body.billData.featured_img_link" class="c-modal__vote-background"></image-smart>

            <div class="c-modal__vote__overlay"
            ng-class="{'c-modal__vote_overlay-gradient' : !bill.body.billData.featured_img_link }">
            </div>

            <i class="icon-close-badge click"
            ng-click="bill.showVoteModal = false"></i>

            <h1>
            {{bill.body.getTitle()}}
            </h1>

            <hr />

            <div class="row tablet-col padding-large">

              <button 
              class="
              c-button c-button--large c-button--green
               l-6 m-12 margin-right-large tablet-margin-right-none"
               ng-click="bill.voteOnBill(true)">
              <span class="icon-arrow-up"></span>
              Vote In Favor
              </button>

              <button class="
              c-button c-button--large c-button--red m-12
              l-6 tablet-margin-top-large"
              ng-click="bill.voteOnBill(false)">
              <span class="icon-arrow-down"></span>
              Vote Against
              </button>

            </div>

        </div>

    </div>

</div>



