<div class="c-card c-stats__text--light c-card__bill-representation">
  <h1>Demographics</h1>
  <hr />
  <div>
    <p>To gain the most accurate possible voting data we also try an ensure key demoragraphics are filled to make sure every voice in your district is heard. Below are the age demographics for {{demographics.stateName}}'s {{demographics.numberSuffixer(demographics.district)}} District.</p>
  </div>
  <div class="row c-stats__demographic-breakdown">
      <!-- Population -->
      <div class="c-stats__demographic-breakdown-section">
          <p class="c-stats__text--large">Population</p>
          <p class="c-stats__text--large bold">{{demographics.population | number}}</p>
      </div>
      <!-- Votes -->
      <div class="c-stats__demographic-breakdown-section">
        <div>
          <div>
            <svg width="100" height="100">
              <circle cx="50" cy="50" r="40" class="c-stats__demographic-votes-graph" />
            </svg>
          </div>
          <div class="c-stats__demographic-chart-text">
            <p class="bold">{{demographics.demographics.votes.total}}</p>
            <p class="">VOTES</p>
          </div>
        </div>
      </div>
      <!-- Needed -->
      <div class="c-stats__demographic-breakdown-section">
        <div>
          <div>
            <svg width="100" height="100">
              <circle cx="50" cy="50" r="40" class="c-stats__demographic-sample-size-graph" />
            </svg>
          </div>
          <div class="c-stats__demographic-chart-text">
            <p class="bold">{{demographics.demographics.sampleSize}}</p>
            <p class="">NEEDED</p>
          </div>
        </div>
      </div>
  </div>
  <div>
    <bill-gender-breakdown ico="'M'" gender="'Male'" total="demographics.demographics.votes.total" ranges="demographics.demographics.gender.male.ranges" ></bill-gender-breakdown>
    <bill-gender-breakdown ico="'../svgs/female.svg'" gender="'Female'" total="demographics.demographics.votes.total" ranges="demographics.demographics.gender.female.ranges" ></bill-gender-breakdown>
    <bill-gender-breakdown ico="'B'" gender="'Non Binary'" total="demographics.demographics.votes.total" ranges="demographics.demographics.gender.nonBinary.ranges" ></bill-gender-breakdown>
  </div>
</div>
