<div class="row tablet-col l-12">
    
    <div class="
    l-6 
    m-12 
    margin-right-medium 
    tablet-margin-right-none">
        
      <div class="c-card">

        <h1>Short Summary</h1>

        <hr />


      </div>

    </div>



    <div class="
    col 
    l-6 
    m-12">
        
        <div class="
        c-card 
        margin-bottom-medium">

          <h1>Points In Favor</h1>
          
          <hr />

        </div>

        <div class="
        c-card 
        m-12">

          <h1>Points Against</h1>
          
          <hr />

        </div>

    </div>


</div>







<div class="
row 
tablet-col 
l-12 
margin-top-medium">

    <div class="
    l-6 
    m-12 
    margin-right-medium 
    tablet-margin-right-none">
      
      <div class="c-card">
        <h1>Top Comment in Favor</h1>
        <hr />
      </div>
    
    </div>

    <div class="
    l-6 
    m-12">
      
      <div class="c-card">
        <h1>Top Comment in Favor</h1>
        <hr />
      </div>

    </div>

</div>
