<div class="c-card c-card__bill-representation-card">
  <h1>Voting Statistics ({{demographics.state}} {{demographics.district}} District) </h1>
  <hr />
  <div class="row tablet-row">

    <div class="c-card c-stats__underrepresneted-statistics-chart">
        <div style="width: 100%;">
          <pie-chart data="demographics.stats"></pie-chart>
        </div>
    </div>

    <div>
      <div class="row tablet-row">
        <div class="c-stats__gender-icon--large">
            <img style="height: 100%; width: 100%;" alt="female" src="../../svgs/female.svg" ng-show="demographics.underRepresentedGenderGroup.gender === 'female'" />
        </div>
        <div class="c-stats__text--light">
          <p>
            <span ng-show="demographics.underRepresentedGenderGroup.gender === 'female'">Women</span>
            <span ng-show="demographics.underRepresentedGenderGroup.gender === 'male'">Men</span>
            are under represented on this bill
          </p>
          <p class="red bold">{{demographics.underRepresentedGenderGroup.percentage}}&#37;
          </p>
          <p>of voters are {{demographics.underRepresentedGenderGroup.gender}} </p>
        </div>

        <div class="c-stats__text--large bold">{{demographics.minorityAgeRange.ageRange}}</div>

        <div class="c-stats__text--light">
            <p>
            {{demographics.minorityAgeRange.ageRange}} Make up the least represented demographic:
            </p>
            <p class="red bold"> {{demographics.minorityAgeRange.percentage}}&#37;</p>
            <p>
            of voters are {{demographics.minorityAgeRange.ageRange}}
            </p>
        </div>
      </div>
      <div class="row">
        <social-box>Lets work together to make every single voice in your district heard. Invite people in these under represented demographics to vote on this bill</social-box>
      </div>
    </div>
  </div>
</div>
