<div class="faq">
<section class="faq-wrapper">
<h1>Frequently Asked Questions</h1>
<p>Placeavote lets you read, debate and vote on every bill before congress. The difference is now your representative knows how to represent you.</p>
<div class="faq-container">
	<section ng-cloak ng-repeat="question in faq.questions">
		<div class="question" >
		<img src="img/badge-question.png" />
		<p>
			{{question.question}}
		</p>
		</div>
		<div class="answer">
		<p>{{question.answer}}</p>
		</div>
	</section>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	<ul style="display: none;">
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</section>
<div class="intro">
</div>


</div>