<div class="press">
<section class="press-wrapper">
<div class="title">
<h1>Press</h1>
<div class="press-kit-container">
<h2>Download your press kit</h2>
	<section class="download-container">
		<div>
<p>Placeavote logo’s, style guide & 
brand usage guidelines</p>
<a href="downloads/placeavote_style_guide.zip">Styleguide.zip</a>		
		</div>
		<div class="style-guide">
		<a href="downloads/placeavote_style_guide.zip"><img src="img/file-zipped-download.png" /></a>
		</div>
	</section>
</div>
</div>
<div class="press-container">
<h1>See for yourself what people are saying about Placeavote.</h1>
	<div class="press-body group">
		<section ng-cloak ng-repeat="article in press.articles" class="article-ref">
			<div class="quote">
				<p>
			{{article.quote}}
				</p>
			</div>
			<div>
				<a href=""><img ng-src="{{article.img}}" /></a>
			</div>
		</section>
	</div>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	<ul style="display: none;">
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</section>
<div class="intro">
</div>
</div>