<div class="press">
<section class="press-wrapper">
<div class="title">
<h1>Press</h1>
<div class="featured">
<h2>Featured In</h2>
<a target="_blank" href="http://motherboard.vice.com/read/the-startup-trying-to-replace-congress-with-software-has-two-candidates-running"><img src="img/vice-logo.png" /></a>
<a href=""><img src="img/tc-logo.png" /></a>
</div>
</div>
<div class="press-container">
<h1>Logos & Press Kit</h1>
<p>
Dear Press, we know your job is hard and we thought we could ease your pain and suffering by providing these easy assets. We've put all versions of our logo in a zip file along with profile pictures of our team and some other goodies. <a href="/#/contact">Contact</a> us if you need anything more or would like to schedule an interview.
</p>
<section class="dl-container group">
	<div class="l-9">
	<h2>
Placeavote logo’s, style guide and brand usage guidelines</h2>
	<a href="downloads/placeavote_style_guide.zip">Styleguide.zip</a>
	</div><div class="l-3">
	<a href="downloads/placeavote_style_guide.zip"><img src="img/file-zipped-download.png" /></a>
	</div>
</section>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	<ul style="display: none;">
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</section>
<div class="intro">
</div>
</div>