/*------------------------------------*\
    #PAV-TRUMPS
\*------------------------------------*/

/**
* Trumps are the classes that are designed to override
* anything in its way!
*/


.vanish {
  display: none;
}



#intercom-container .intercom-launcher {
  @include media($tablet-portrait) {
    bottom: 100px !important;
  }
}
