.contact {
    hr {
        border: 0;
        height: 1px;
        background: $greylight;
    }
    span {
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
    }
    a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: $green;
    }
    .l-4 {
        padding-right: 20px;
    }
    textarea,
    input {
        @include light();
        margin-top: 10px;
        margin-bottom: 15px;
        width: 100%;
        background: white;
        font-size: 16px;
        height: auto;
        padding: 20px;
        transition: all 0.2s ease;
        outline: none;
        border: 1px solid $grey;
        border-radius: 3px;
    }
    &:focus {
        border: 1px solid $purple;
    }
    button {
        height: 50px;
        border: 1px solid darken($green, 20%);
        background-color: $green;
        line-height: 40px;
        color: white;
        font-size: 18px;
        text-align: center;
        width: 200px;
        display: inline-block;
        transition: all 0.2s ease;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        @include media(480px) {
            margin-bottom: 20px;
        }
        &:hover {
            background-color: lighten($green, 5%);
        }
    }
    .has-err {
        color: $red;
    }
    .has-success {
        color: $green;
    }

}