.faq {
  position: relative;

  nav {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    top: 0;
    position: absolute;
    width: 100%;

    .logo-white {
      width: 140px;
      height: 23px;
    }

    .logo-color {
    }

    ul {
      display: flex;
      margin-left: auto;

      li {
        flex-direction: column;

        a {
          @include font-size(14px);
          text-decoration: none;
          color: white;
          padding: 10px;
          font-weight: $font-light;
        }
      }
    }
  }

  .intro {
    z-index: 1;
    height: 545px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    background: #87e0fd;

    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #87e0fd), color-stop(0%, #5b7da8), color-stop(100%, #746898));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* IE10+ */
    background: linear-gradient(135deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#746898', GradientType=1 );

    /* IE6-9 fallback on horizontal gradient */
  }
}

.faq-wrapper {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  width: calc(100% - 80px);
  z-index: 2;
  margin: auto;
  @include media(600px){
  width: calc(100% - 40px);
  }

  h1 {
    @include font-size(30px);
    line-height: 34px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-weight: $font-normal;
  }

  p {
    @include font-size(20px);
    line-height: 24px;
    color: white;
    font-weight: $font-light;
    text-align: center;
    padding: 0px 20%;
    @include media(812px){
    padding: 0 5%;
    }
    margin-bottom: 40px;
  }

  .faq-container {
    background: white;
    border-radius: 3px;
    border: 1px solid $grey;
    padding: 40px;
    @include media(600px){
    padding: 10px;
    }
  }

  section {
    display: inline-block;

    // width: calc(50% - 40px);
    width: 50%;
    vertical-align: top;

    &:nth-child(2n+ 2) {
      padding-left: 40px;
    }
    @include media(900px){
    width: 100%;
    margin-bottom: 20px;

      &:nth-child(2n + 2) {
        padding-left: 0px;
      }
    }

    .question {
      position: relative;
      background: #f7f7f7;
      border-bottom: 1px solid $grey;

      img {
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 27px;
        display: inline-block;
      }

      p {
        padding: 10px 20px 10px 65px;
        color: $black;
        margin: 0px;
        text-align: left;
        font-weight: $font-normal;
        @include font-size(14px);
        line-height: 20px;
      }
    }

    .answer {
      p {
        color: #767676;
        font-weight: $font-normal;
        @include font-size(14px);
        line-height: 20px;
        text-align: left;
        padding: 15px 2px;
        margin-bottom: 0px;
      }
    }
  }

  footer {
    // display: flex;
    // flex-direction: column;
    height: 60px;
    position: relative;
    display: block;

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    display: flex;
    position: initial;
    flex-direction: column;
    height: auto;
    }

    span {
      position: absolute;
      display: block;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      position: initial;
      align-self: center;
      padding-top: 30px;
      }
      top: 25px;
      left: 40px;
      color: $black;
      font-weight: $font-light;
      @include font-size(14px);

      // margin-right: auto;
    }

    ul {
      padding-top: 20px;
      padding-bottom: 20px;
      position: absolute;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      display: flex;
      position: initial;
      align-self: center;
      }
      right: 25px;

      // display: flex;
      // flex-direction: row;
      // margin-left: auto;
      li {
        display: inline-block;
        padding: 0px 15px;

        a {
          text-decoration: none;
          color: $black;
          font-weight: $font-light;
          @include font-size(14px);
        }
      }
    }
  }
}