.home {
  position: relative;
  .home-btns {
    display: flex;
    flex-direction: row;
    @include media(900px) {
      flex-direction: column;
      height:200px;
      justify-content: flex-start;
    }
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .intro a {
    &:nth-child(1) {
      margin-right: 20px;
    }
    @include media(900px) {
      width: 100% !important;
      marign-rigth: 0;
    }
    margin-top: 10px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    color: $white;
    font-size: 16px;
    font-weight: $font-normal;
    display:inline-block;
    transition: all 0.2s ease;
    border-radius: $radius;
    cursor: pointer;
    outline: none;
    text-align: center;
    width:300px; 
    -webkit-box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);
    box-shadow: 0px 5px 4px -3px rgba(0,0,0,0.17);
    img {
    vertical-align: text-bottom;
    margin-right: 10px;
    width: 20px} 
  }
   a:hover {
    -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.32);
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.8);
  }
  .signup-facebook {
                    background-color: $green;
                    border: 1px solid darken($green, 20%);
                   }
  .signup-email   {
                    background-color: rgba(0, 0, 0, 0.0);
                    border: 2px solid $white;
                  }
//  label {
//    margin-bottom: 20px;
//    @include font-size(28px);
//    display: block;
//    text-align: center;
//    color: $black;
//    font-weight: $font-light;
//  }
  .intro {
    z-index: 1;
    overflow: hidden;
    position: relative;
    // top: 0;
    background: #87e0fd;
    // max-height:500px;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #87e0fd), color-stop(0%, #5b7da8), color-stop(100%, #746898));

    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* IE10+ */
    background: linear-gradient(135deg, #87e0fd 0%, #5b7da8 0%, #746898 100%);

    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#746898', GradientType=1 );

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    // display: flex;
    // flex-direction: column;
    // max-height: 545px;
    }
    @include media(600px){
    // padding-top:40px;
    }
    section {
              text-align:center;
              padding:10% 10%;
      @include media(1200px) {

      }
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      padding-top: 70px;
      max-width: 100%;
      color: white;
      margin-bottom: -105px;
      }
      padding-top: 125px;
      color: white;

      h1 {
        @include font-size(50px);
        font-weight: $font-normal;
        line-height: 72px;
        padding:0% 5% 2% 5%;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
            @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
     font-size: 2.2rem;
    font-weight: 400;
    line-height: 45px;
    }
      }


         
      h2 {
        @include font-size(18px);
        line-height: 20px;
        font-weight: $font-light;
        padding-bottom: 20px;
        opacity:0.9;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23)
      }
      h3 {
        font-weight: $font-light;
        @include font-size(11px);
      }
    }

    .signup-mobile {
      &.ng-hide-remove {
        transition: all 0.3s ease;
        opacity: 1;
      }
      &.ng-hide {
        opacity: 0;
      }
      margin-bottom: 20px;
      text-decoration: none;
      height: 50px;
      border: 1px solid darken($green, 20%);
      background-color: $green;
      line-height: 50px;
      color: white;
      font-size: 18px;
      text-align: center;
      font-weight: $font-light;
      width: 100%;
      transition: all 0.2s ease;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      @include media(600px){
      display: inline-block;
      }

      &:hover {
        background-color: lighten($green, 5%);
      }
    }
  }

  .phone {
    height: 549px;
    width: 310px;
    position: absolute;
    bottom: -145px;
    right: 150px;

    img {
      position: absolute;

      // width: 100%;
      top: 0;
    }

    video {
      width: 278px;
      position: absolute;
      top: 47px;
      left: 16px;
    }

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    position: relative;
    display: flex;
    right: 0;
    left: 0;
    align-self: center;

      // flex-grow: 2;
    }
  }

  .home-box {
    // width: 50%;
    // float: left;

    // &.last {
    //   padding: 16px 16px 16px 10px;

    //   @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    //   padding: 0px 16px 16px 16px;
    //   }
    // }
    display: flex;
    flex-direciton: row;
    @include media(900px) {
      flex-direction: column;
    }
    padding: 16px;
    color: #3b3b3b;

    section {
      border: 1px solid #d6d4e1;
      background: white;
      padding: 60px 40px;
      border-radius: 3px;
      width: calc(50% - 10px);
      &:nth-child(1) {
        margin-right: 20px;
        @include media(900px) {
          margin-bottom: 20px;
        }
      }
      // &:nth-child(2) {
      //   margin-left: 10px;
      // }

        @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        padding: 16px;
        max-height: 100%;
        height: auto;
        flex-direction: column;
        width: 100%;
        }
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
      }

      h1 {
        @include font-size(24px);
        padding-bottom: 40px;
        @include bold();
      }

      p {
        @include font-size(22px);
        padding-bottom: 40px;
        @include light();
        line-height: 28px;
      }
    }
  }

  .shoutout {
    background: url('../img/web/mission-bg.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 400px;

    h1 {
      padding: 0px 50px;
      align-self: center;
      text-align: center;
      color: white;
      font-weight: $font-normalitalic;
      @include font-size(20px);
      line-height: 24px;
      padding-bottom: 20px;
    }
    p {
      text-align: center;
      @include font-size(18px);
      color:white;
    }
  }

  .about {
    height: auto;

    h1 {
      flex-direction: row;
      padding: 50px;
      color: $black;
      text-align: center;
      @include font-size(30px);
      font-weight: $font-light;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      padding: 50px 20px;
        @include font-size(24px);
      line-height: 30px;
      }
    }

    div {
      display: flex;

      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      flex-direction: column;
      padding: 0px 40px 40px 40px;
      }

      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:last-child {
          margin: 0px 70px 70px 35px;

          @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
          margin: 0px;
          }
        }
        height: 300px;

        @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        height: auto;
        max-height: 100%;
        margin: 0px 0px 40px 0px;
        width: 100%;
        }
        margin: 0px 35px 70px 70px;
        color: $black;
        border: 1px solid #d6d4e1;
        background: white;
        padding: 60px 40px;
        border-radius: 3px;

        h2 {
          color: $black;
          text-align: center;
          @include font-size(22px);
          font-weight: $font-normal;
          padding-bottom: 20px;
        }

        p {
          color: $black;
          text-align: center;
          @include font-size(18px);
          line-height: 24px;
          font-weight: $font-light;
        }
      }
    }
  }

  .sign-up-home {
    height: 350px;
    background: white;
    border-top: 1px solid #d6d4e1;
    border-bottom: 1px solid #d6d4e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;
    .signup-container {
      width: 70%;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
      h1 {
        font-weight: $font-light;
        text-align: center;
        margin-bottom: 40px;
        @include font-size(28px);
        color: $black;

        @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        line-height: 38px;
        }
      }

      a {
        text-decoration: none;
        height: 50px;
        border: 1px solid darken($green, 20%);
        background-color: $green;
        line-height: 50px;
        color: white;
        font-size: 18px;
        text-align: center;
        font-weight: $font-light;
        width: 50%;
        @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
        width: 80%;
        }
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        transition: all 0.2s ease;
        border-radius: 5px;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: lighten($green, 5%);
        }
      }
       &.ng-leave {
          transition: all 0.2s ease;
          left: 0;
        }

        &.ng-leave-active {
          left: -5000px;
        }

        &.ng-enter {
          transition: all 0.2s ease;
          transition-delay: 2s;
          right: -5000px;
        }

        &.ng-enter-active {
          right: 0;
        }
    }
  }

  #footer {
    // display: flex;
    // flex-direction: column;
    // float:left;
    width:100%;
    // height: 200px;
    background:$white;
    // position: relative;
    // display: block;
    .footer-row {
      display: flex;
      flex-direction: row;
    }
    .column {
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    // display: block;
    // position: initial;
    flex-direction: column;
    height: auto;
    text-align: center;
    }
    .left {
      padding:30px 40px 0;
    }
    p {
      color:$grey;
      @include font-size(14px);
    }
    span {
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      align-self: center;
      text-align: center;
      padding-top: 30px;
      }
      padding: 30px 0px 0px;
      position: initial;
      text-align:left;
      color: $black;
      @include bold();
      text-transform: uppercase;
      @include font-size(13px);

      // margin-right: auto;
    }

    ul {
      padding-top: 20px;
      padding-bottom: 20px;
      // position:initial;
      text-align:left;
      @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
      display: inline;
      position: initial;
      padding: 20px;
      text-align: center;
      font-weight:$font-normal;
      }
      // display: flex;
      // flex-direction: row;
      // margin-left: auto;
      li {
        display: block;
        padding: 0px 0 15px;;
        a {
          text-decoration: none;
          color: $blue;
          font-weight: $font-light;
          line-height:20px;
          @include font-size(14px);
          &:hover {
            color:$red;
            box-shadow:none;
            text-shadow:none;
          }
        }
      }
    }
    img {
      width:200px;
      margin-bottom: 10px;
      @media screen and (max-device-width: 600px), screen and (max-width: 600px) {
      width:120px;
      text-align:center;
      }
      &.social {
        width:15px;
        margin-left:-5px;
        padding-bottom:0;
        &:hover {
        opacity:0.8;
      }
      }
    }
  }
}

#mc_embed_signup {
  &.ng-leave {
    transition: all 0.2s ease;
    left: 0;
  }

  &.ng-leave-active {
     left: -5000px;
  }

  &.ng-enter {
    transition: all 0.4s ease;
    right: -5000px;
  }

  &.ng-enter-active {
    right: 0;
  }
}

#mc_embed_signup {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    width: 50%;
    @include media(600px) {
      width: 80%;
    }
  }

  input[type="email"] {
    margin-bottom: 10px;
    text-decoration: none;
    height: 50px;
    border: 1px solid $grey;
    background-color: lighten($greylight, 10%);
    line-height: 50px;
    color: $black;
    font-size: 18px;
    text-align: center;
    font-weight: $font-light;
    width: 100%;

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    width: 100%;
    }
    display: inline-block;
    transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }

  label {
    margin-bottom: 20px;
    @include font-size(28px);
    display: block;
    text-align: center;
    color: $black;
    font-weight: $font-light;
  }

  input[type="submit"] {
    text-decoration: none;
    height: 50px;
    border: 1px solid darken($green, 20%);
    background-color: $green;
    line-height: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: $font-light;
    width: 100%;

    @media screen and (max-device-width: 900px), screen and (max-width: 900px) {
    width: 100%;
    }
    display: inline-block;
    transition: all 0.2s ease;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: lighten($green, 5%);
    }
  }
}