@function calculateRem($size) {
  $remSize: $size / 16px;

  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

// @mixin gradient($colorOne, $colorTwo) {
// }