<div class="c-modal__wrapper c-modal__wrapper--active c-issue--modal">
  <div class="c-card--modal">
    <div class="c-card">
      <issue issue="issue" modal single></issue>
    </div>
    <!-- Comments -->
      <div class="c-comment__input row tablet-col l-12">
      <h1>Add a Comment</h1>
        <div class="c-user-photo">
          <div ng-style="{'background-image': 'url(' + img_url + ')'}">
          </div>
        </div>

        <textarea rows="1" ng-model="commentBody" placeholder="Write your comment here" msd-elastic></textarea>
        <button ng-click="postComment()" class="c-comment__post-btn btn-blank">Post</button>
      </div>

      <div class="red-bg" ng-show="errorMessage">
      <p class="white padding-small">{{errorMessage}}</p>
      </div>
      <div
      ng-if="comments.length > 0"
      class="c-card c-card--comment"
      loader loader-context="fetchingComments"
      truthy
      ng-class="{'c-card--comment--loading': fetchingComments, 'c-comment--scroll-loader': checkingComments }">

        <div class="c-comment__filter">
          <ul>
            <li>
            Sort By
            </li>
            <li
            ng-click="fetchComments('highest-score');"
            ng-class="{'c-comment__filter-selected': commentOrder === 'highest-score'}">
            Highest Rated
            </li>
            <li
            ng-click="fetchComments('latest');"
            ng-class="{'c-comment__filter-selected': commentOrder === 'latest'}">
            Most Recent
            </li>
          </ul>
        </div>

        <h1 class="c-card--comment--h1">COMMENTS</h1>

        <hr />

        <comments ng-show="comments" comments='comments'></comments>
        <button ng-click="commentsCheck()" ng-if="lastComment" class="c-button c-button--grey c-button--medium l-12">More comments</button>
      </div>
    </div>
</div>
