

.feed-wrapper {
  width: 100%;

  .feed-column {
    width: 100%;

    .bill-container {
      margin-top: 20px;
      @include shadow();

      .bill {
        @include bill();

        h3 {
          @include font-size(11px);
          @include bold();
          color: $blue;
          text-transform: uppercase;
          cursor: pointer;
        }

        hr {
          margin-top: 18px;
          margin-bottom: 18px;
          border: none;
          border-bottom: 1px solid $widgetborder;
        }

        .bill-summary-container {
          display: flex;
          flex-direction: row;

          .bill-subject {
          }

          .bill-summary {
            display: flex;
            flex-direction: column;

            h6 {
              @include medium(italic);
              @include font-size(14px);
              color: $blue;
              cursor: pointer;
            }

            p {
             @include medium();
              @include font-size(16px);
              line-height: 22px;
              color: $black;
            }
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-shrink: 0;

        button {
          outline: none;
          cursor: pointer;
          background-color: #f4f2fe;
          color: $black;
          height: 35px;
          @include medium();
          @include font-size(10px);
          border: none;
          outline: none;
          width: 33.333%;
          border-radius: 0;
          transition: all 0.3s ease;
          display: flex;
          flex-direction: row;
          justify-content: center;
          position:relative;
          padding-left: 30px;
          img {
            position: absolute;
            left: 10px;
            top: 10px;
            height: 12px;
          }

          &:nth-child(1) {
            border: 1px solid $widgetborder;
            border-top: none;
            border-bottom-left-radius: 3px;
          }

          &:nth-child(2) {
            border-top: none;
            border-bottom: 1px solid $widgetborder;
          }

          &:nth-child(3) {
            border: 1px solid $widgetborder;
            border-top: none;
            border-bottom-right-radius: 3px;
          }

          &:hover {
            background-color: darken(#f4f2fe, 2%);
          }
        }
      }
    }
  }

  .trending {
    width: 40%;
  }
}

.card.welcome-message {
  padding: 40px;
  @include media(560px) {
    padding: 20px;
  }
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  // align-content: stretch;
  flex-shrink: 0;
  // @include media(900px) {
  //   flex-direction: column;
  // }
  img.logo-full-color {
    // display: flex;
    height: 100px;
    @include media(900px) {
      display: none;
    }
    // justify-content: center;
  }

  img.close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    cursor: pointer;
  }

  section {
    padding-left: 40px;
    @include media(900px) {
      padding-left: 0;
    }
    display: flex;
    flex-direction: column;
    h1 {
      @include font-size(28px);
      text-transform: none;
      @include bold();
      color: $black;
      padding-bottom: 20px;
    }

    p {
      @include font-size(14px);
      @include medium();
      color: $black;
      line-height: 24px;
    }
  }
}
