

.feed-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  @include media(900px) {
    flex-direction: column;
  }
  .feed-column {
    margin-bottom: 20px;
    .bill-container {
      margin-top: 20px;
      @include shadow();

      .bill {
        .bill-summary-container {
          width: 100%;
          margin-left: 8px;
          .bill-summary {
            // display: flex;
            // flex-direction: column;

            h6 {
              @include medium(italic);
              @include font-size(14px);
              color: $blue;
              cursor: pointer;
            }

            p {
             @include light();
              @include font-size(13px);
              line-height: 22px;
              color: $black;
            }
          }
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-shrink: 0;

        section {
          outline: none;
          cursor: pointer;
          background-color: #f4f2fe;
          color: $black;
          height: 35px;
          line-height: 35px;
          @include medium();
          @include font-size(13px);
          border: none;
          outline: none;
          width: 50%;
          border-radius: 0;
          transition: all 0.3s ease;
          display: flex;
          flex-direction: row;
          justify-content: center;
          position:relative;
          span.bold {
            @include bold();
          }
          &:nth-child(1) {
            border: 1px solid $widgetborder;
            border-top: none;
            border-right: none;
            border-bottom-left-radius: 3px;
          }

          // &:nth-child(2) {
          //   border-top: none;
          //   border-bottom: 1px solid $widgetborder;
          // }

          &:nth-child(2) {
            border: 1px solid $widgetborder;
            border-top: none;
            border-bottom-right-radius: 3px;
          }

          &:hover {
            background-color: darken(#f4f2fe, 2%);
          }
        }
      }
    }
  }

  .trending {
    width: 40%;
  }
}

.card.welcome-message {
  padding: 40px;
  @include media(560px) {
    padding: 20px;
  }
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;
  img.logo-full-color {
    height: 100px;
    @include media(900px) {
      display: none;
    }
  }

  img.close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 15px;
    cursor: pointer;
  }

  section {
    padding-left: 40px;
    @include media(900px) {
      padding-left: 0;
    }
    display: flex;
    flex-direction: column;
    h1 {
      @include font-size(28px);
      text-transform: none;
      @include bold();
      color: $black;
      padding-bottom: 20px;
    }

    p {
      @include font-size(14px);
      @include medium();
      color: $black;
      line-height: 24px;
    }
  }
}

.feed-wrapper {
  .trends-container {
    @include media(900px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
    margin-top: 20px;
    margin-left: 20px;
    background: #DAD9E2;
    padding: 20px;
    border-radius: 3px;
    height: 100%;
    border: 1px solid #CDCCD4;
    h2 {
      color: $blue;
      @include bold();
      @include font-size(10px);
      i {
        color: $red;
        @include font-size(10px)
        margin-right: 5px;
      }
    }
    h3 {
      cursor: pointer;
      @include medium(italic);
      color: $blue;
      @include font-size(12px);
    }
    p {
      cursor: pointer;
      color: $black;
      @include font-size(11px);
      @include medium();
      span {
        @include bold();
      }
    }
    hr {
      border: none;
      border-bottom: 1px solid $grey;
    }
  .data-trends {
    .data-trending:last-child {
      hr {
        display: none;
      }
    }
  }
  }
}

.feed-icon {
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  @include linear-gradient(#5b7da8, #746898);
  i {
    color: white;
    @include font-size(30px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.9;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
  }
}

.data-trends {
  .data-trending {
    .row {
      align-items: center;
      .feed-icon {
        margin-right: 10px;
      }
    }
  }
}

