<website-nav></website-nav>

<div ng-controller="FaqCtrl as faq" id="pav-wrapper" class="wrapper s-12 m-12 l-12">
<div class="team">
<section class="team-wrapper">
<h1>Contact Us</h1>
<p>We'd love your input: questions, bug reports, feature requests – every little bit helps. Let us know what we can do to improve Placeavote.</p>
<div class="team-container row">
		<div class="l-4">
			<h1>Contact Details</h1>
			<hr />
		</div>
		<div class="l-8">test</div>
</div>
</section>
<div class="intro">
</div>


</div>

</div>