<website-nav></website-nav>
<div ng-controller="FaqCtrl as faq" id="pav-wrapper" class="wrapper s-12 m-12 l-12">
    <div class="team contact">
        <section class="team-wrapper">
            <h1>Contact Us</h1>
            <p>We'd love your input: questions, bug reports, feature requests – every little bit helps. Let us know what we can do to improve Placeavote.</p>
            <div class="team-container row">
                <div class="s-12 l-4">
                    <h4>Contact Details</h4>
                    <hr />
                    <span>Placeavote is made in Los Angeles, California</span>
                    <a href="tel:+1 (844) 427-1000">+1 (844) 427-1000</a>
                    <a href="mailto:hello@placeavote.com">hello@placeavote.com</a>
                </div>
                <div class="l-8 s-12">
                    <input type="text" name="FirstName" placeholder="Firstname Lastname">
                    <input type="email" name="email" placeholder="example@example.com">
                    <textarea rows="10" cols="0" placeholder="Put your message here"></textarea>
                    <button>Send Message</button>
                </div>
            </div>
        </section>
        <div class="intro">
        </div>
    </div>
</div>