<website-nav></website-nav>
<div class="PressCtrl as press" class="press">
<section class="press-wrapper">
<div class="title">
<h1>Contact</h1>
<div class="featured contact">
<a href="tel:+1 (844) 427-1000">+1 (844) 427-1000</a>
<a href="mailto:hello@placeavote.com">hello@placeavote.com</a>
</div>
</div>
<div class="map-container">
<img style="width: 100%;" src="img/web/contact/location.png" /></div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	<ul style="display: none;">
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</section>
<div class="intro">
</div>
</div>