<div ng-controller="MenuCtrl as menu" ng-hide="menu.hide" class="wrapper s-12 m-12 l-12">
    <div  ng-click="menu.mobile()" ng-class="{'close': !menu.menu}" class="mobile-menu">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
        <p class="menu-label">MENU</p>
        <p class="menu-close">CLOSE</p>
    </div>
  <nav ng-cloak sticky-nav id="nav" >
    <a href="#/"><img class="logo-white" src="img/logo-white.png" /></a>
    <a href="#/"><img class="logo-color" src="img/pav-logo-color.png" /></a>
    <ul>
      
    </ul>
    <ul ng-class="{'open': !menu.menu}">
      <li><a class="btn-signup sign" href="#/signup">Sign Up</a></li>
      <li><a class="btn-signin sign" href="#/login">Sign In</a></li>
      <li>
        <a ng-click="menu.mobile()" href="#/team">Team</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/faq">FAQ</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/press">Press</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/contact">Contact</a>
      </li>
    </ul>
  </nav>

<div ng-controller="FaqCtrl as faq" id="pav-wrapper" class="wrapper s-12 m-12 l-12">
<div class="faq">
<section class="faq-wrapper">
<h1>Frequently Asked Questions</h1>
<p>Placeavote lets you read, debate and vote on every bill before congress. The difference is now your representative knows how to represent you.</p>
<div class="faq-container">
	<section ng-cloak ng-repeat="question in faq.questions">
		<div class="question" >
		<img src="img/web/badge-question.png" />
		<p>
			{{question.question}}
		</p>
		</div>
		<div class="answer">
		<p>{{question.answer}}</p>
		</div>
	</section>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	<ul style="display: none;">
		<li>
			<a href="#">Sign Up</a>
		</li>

		<li>
			<a href="#">Sign In</a>
		</li>

		<li>
			<a href="#">Press</a>
		</li>

		<li>
			<a href="#">Jobs</a>
		</li>
	</ul>
	</footer>
</section>
<div class="intro">
</div>


</div>
</div>