<footer id="footer">

            <div class="column footer-logo m-6 l-6 left">
                <img alt="Placeavote Logo Color SVG" src=
                "img/web/placeavote-logo-color.svg"><br>
                <p>&copy; Placeavote 2015</p>
            </div>

            <div class="footer-links">
            	<section>
		          <div class="column right">
		                <span>Company</span>
		                <ul>
		                    <li>
		                        <a href="/team">Team</a>
		                    </li>
		                </ul>
		            </div>
		         </section>
		         <section>
	                <div class="column right">
	                    <span>Support</span>
	                    <ul>
	                        <li>
	                            <a href="/contact">Contact</a>
	                        </li>
	                        <li>
	                            <a href=
	                            "/terms-of-service-and-privacy-policy">Terms of
	                            Service &amp; Privacy Policy</a>
	                        </li>
	                    </ul>
	                </div>
	                <div class="column right">
	                    <span>Social</span>
	                    <ul>
	                        <li>
	                            <a href="mailto:hello@placeavote.com">Email</a>
	                        </li>
	                        <li>
	                            <a href="http://facebook.com/placeavote"><img alt=
	                            "Contact us on Facebook" class="social" src=
	                            "img/web/logo-facebook-footer.svg"></a>
	                        </li>
	                        <li>
	                            <a href="https://twitter.com/placeavote"><img alt=
	                            "Contact us on Twitter" class="social" src=
	                            "img/web/logo-twitter-bird.svg"></a>
	                        </li>
	                    </ul>
	                </div>
              	</section>
              	</div>
    </footer>
