<div ng-controller="MenuCtrl as menu" ng-hide="menu.hide" class="wrapper s-12 m-12 l-12">
    <div  ng-click="menu.mobile()" ng-class="{'close': !menu.menu}" class="mobile-menu">
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
        <p class="menu-label">MENU</p>
        <p class="menu-close">CLOSE</p>
    </div>
  <nav ng-cloak sticky-nav id="nav" >
    <a href="#/"><img class="logo-white" src="img/logo-white.png" /></a>
    <a href="#/"><img class="logo-color" src="img/pav-logo-color.png" /></a>
    <ul>
      
    </ul>
    <ul ng-class="{'open': !menu.menu}">
      <li><a class="btn-signup sign" href="#/signup">Sign Up</a></li>
      <li><a class="btn-signin sign" href="#/login">Sign In</a></li>
      <li>
        <a ng-click="menu.mobile()" href="#/team">Team</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/faq">FAQ</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/press">Press</a>
      </li>
      <li>
        <a ng-click="menu.mobile()" href="#/contact">Contact</a>
      </li>
    </ul>
  </nav>
<div ng-controller="PressCtrl as press" class="press">
<section class="press-wrapper">
<div class="title">
<h1>Press</h1>
<div class="press-kit-container">
<h2>Download your press kit</h2>
	<section class="download-container">
		<div>
<p>Placeavote logo’s, style guide & 
brand usage guidelines</p>
<a href="downloadables/placeavote_style_guide.zip">Styleguide.zip</a>		
		</div>
		<div class="style-guide">
		<a href="downloadables/placeavote_style_guide.zip"><img src="img/web/file-zipped-download.png" /></a>
		</div>
	</section>
</div>
</div>
<div class="press-container">
<h1>See for yourself what people are saying about Placeavote.</h1>
	<div class="press-body group">
		<section ng-cloak ng-repeat="article in press.articles" class="article-ref">
			<div class="press-quote">
				<p>
			{{article.quote}}
				</p>
				<a ng-show="article.link" href="{{article.link}}" target="_blank" alt="{{article.title}}">Read article</a>
			</div>
			<div>
				<img ng-src="{{article.img}}" />
			</div>
		</section>
	</div>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	</footer>
</section>
<div class="intro">
</div>
</div>