<website-nav></website-nav>
<div ng-controller="PressCtrl as press" class="press">
<section class="press-wrapper">
<div class="title">
<h1>Press</h1>
<div class="press-kit-container">
<h2>Download your press kit</h2>
	<section class="download-container">
		<div>
<p>Placeavote logo’s, style guide & 
brand usage guidelines</p>
<a href="downloadables/placeavote_style_guide.zip">PressKit.zip</a>		
		</div>
		<div class="style-guide">
		<a href="downloadables/placeavote_style_guide.zip"><img src="img/web/file-zipped-download.png" /></a>
		</div>
	</section>
</div>
</div>
<div class="press-container">
<h1>See for yourself what people are saying about Placeavote.</h1>
	<div class="press-body group">
		<section ng-cloak ng-repeat="article in press.articles" class="article-ref">
			<div class="press-quote">
				<p>
			{{article.quote}}
				</p>
				<a ng-show="article.link" href="{{article.link}}" target="_blank" alt="{{article.title}}">Read article</a>
			</div>
			<div>
				<img ng-src="{{article.img}}" />
			</div>
		</section>
	</div>
</div>
<footer class="l-12">
	<span style="padding-bottom: 20px;">Placeavote 2015</span>
	</footer>
</section>
<div class="intro">
</div>
</div>