/*------------------------------------*\
    #TOOLS-MIXINS
\*------------------------------------*/


/**
 * Rem converts pixel value into rem value.
 */

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}





/**
 * font-size returns font-size property with pixel and 
 * rem values.
 */

@mixin font-size($size) {
    font-size: $size; 
    font-size: calculateRem($size);
}





/**
 * media query mixin that wraps around properties you pass
 * into it.
 */

@mixin media($width) {
  @media screen and (max-device-width: $width), screen and (max-width: $width) {
    @content;
  }
}





/**
* Grid mixin
*/

@mixin grid($viewport-name, $columns) {
    @for $x from 1 through $columns {
        #{$viewport-name}-grid-#{$x} {
            $col-width: 100/$columns*$x;
            width: #{$col-width}#{%}; 
        }
    }
}
