<!-- This is the top comment when a user has voted -->

<!--           <div class="card comment-preview" ng-show="bill.commentCard.set">
              <h1>{{bill.commentCard.status}}</h1>
              <hr />
              <aside class="row-layout">
              <div class="user-img-border">
                <img ng-src="{{bill.forComment.author_img_url}}" />
              </div>
              <div class="top-comment-body">
              <h2><a href="#/profile/{{bill.forComment.author}}">{{bill.commentCard.author_first_name}}</a></h2>
            <section class="comment-vote no-reply"><span ng-class="{'score-down': comment.score < 0, 'score-none': bill.forComment.score == 0}">{{bill.forComment.score}}</span><i class="icon-thumbs-up thumbs" ng-class="{'score-up': bill.forComment.liked == true}" ng-click="bill.forComment.like(bill.commentService)"></i><i class="icon-thumbs-down thumbs" ng-class="{'score-down': bill.forComment.disliked == true}" ng-click="bill.forComment.dislike(bill.commentService)"></i></section>
              <p>{{bill.commentCard.body}}</p>
              </div>

              </aside>
            <div class="reply-comment" ng-show="bill.commentCard.replyInput">
            <textarea type="text" placeholder="Reply" ng-model="bill.commentCard.replyText"></textarea><span ng-click="bill.commentCard.reply(bill.id, bill.commentService)" class="btn-green btn-modal">POST</span>
            </div>
          <div class="row reply-modal">

           <button class="btn-blue" ng-click="bill.commentCard.showReplyInput()"><span class="icon-reply"></span> Reply to Comment </button>
           <button class="btn-grey" ng-click="bill.hideVoteModal()"> Take me back to bill </button>
          </div>
        </div> -->
