<div class="c-social-box row tablet-col l-12 padding-medium margin-top-large">
  <div class="l-6 m-12 middle margin-right-medium tablet-margin-right-none tablet-margin-bottom-medium">
    <p ng-transclude></p>
  </div>
  <div class="col l-6 m-12">
    <a class="c-button
              c-button--medium
              c-button--facebook
              margin-bottom-medium"
       style="padding-top: 10px; padding-bottom: 10px;"
       ng-click="shareToFacebook()">
      <icon icon="icon-facebook"></icon>
      Share on Facebook</a>
    <a class="c-button
              c-button--medium
              c-button--twitter"
              style="padding-top: 10px; padding-bottom: 10px;"
              href=""
              ng-click="shareToTwitter()" tar>
      <icon icon="icon-social-twitter"></icon>
      Share on Twitter</a>
  </div>
</div>
