/*------------------------------------*\
    #COMPONENT-BUTTONS
\*------------------------------------*/

/**
* Buttons, glorious buttons!
*
* Lets start with the biggest and boldest,
* the ones we vote with :) - They can be found
* on the Bills page/bill_vote.html partial.
*
* Though the name will be descriptive of the button
* type, as in size and colour.
*/


.c-button {
  color: white;
  @include font-size(14px);
  @include light();
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 3px;
  box-shadow: 0px 1px 0.91px 0.09px rgba(0, 0, 0, 0.15);
  text-indent: 1px;
  text-shadow: 0px 1px 0.91px rgba(0, 0, 0, 0.46);

  span {
    text-indent: 1px;
    text-shadow: 0px 1px 0.91px rgba(0, 0, 0, 0.46);
    transition: all 0.3s ease;
    line-height: 0;
    position: absolute;
    left: 20px;
    @include font-size(16px);
    top: 16px;
  }

}





/**
* Button Sizes.
*/


.c-button--large {
  padding: 15px 0px;
}





/**
* Button Colours.
*/


.c-button--green {
  border: 1px solid rgb(142, 165, 91);  
  background-image: -moz-linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
}


.c-button--red {
  border: 1px solid rgb(172, 52, 34);
  background-image: -moz-linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
}


.c-button--blue {
  border: 1px solid rgb(65, 79, 124);
  background-image: -moz-linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
}


.c-button--grey {
  color: $greydark;
  border: 1px solid rgb(183, 183, 183);
  background: #e3e3e3;
  text-shadow: none;
}
