/*------------------------------------------*\
    #BILL-REPRESENTATION-PANEL
\*------------------------------------------*/

/**
*/
.bill-representation-panel {
  // margin: -4% 0% 0 -4%;
  position: absolute;
  @include media(768px) {
    margin:0;
  }
}

// .row__wrap {
//   @include media(768px) {
//     display: flex;
//     flex-wrap: wrap;
//   }
// }

.bill-representation-panel__content {
  margin-top: 100px;
  @include media(768px) {
    margin:0;
  }
}

// .bill-representation__content_text--light {
//   font-size: 80%;
//   margin-right: 1%;
// }

.bill-representation-panel__stats-banner {
  position: absolute;
  left: -20px;
  top: -20px;
  width: calc(100% + 20px);
  @include shadow();
  p {
    font-weight: 100;
    font-size: 80%;
    text-align:center;
    padding: 2%;
  }

  @include media($tablet) {
    width: 100%;
    position:initial;
    left: 0;
    top: 0;
  }
}

.bill-representation-panel__stats-banner--required {
  background-color: $red;
  color: $white;
}

.bill-representation-panel__stats-banner--sample {
  background-color: $white;
}


.c-card__bill-representation-breakdown-cards {
  display: flex;
  justify-content: space-between;
}
