
/*------------------------------------*\
    #COMPONENT-STATS
\*------------------------------------*/

/**
* Vote statistics area for bill page. At
* time of writing this is located below the
* the bill menu.
*/

.c-bill-vote-stats {
  position: absolute;
  width: 230px;
  top: 141px;
}
