/*------------------------------------*\
    #COMPONENT-PROFILE-PHOTO
\*------------------------------------*/

/**
* The profile photo is common component througout
* the app. It can be found in the header, profile, issues
* comments, etc. This means various modifier classes may exist
* mostly to alter its dimensions.
*/


.c-user-photo {
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid darken($blue, 15%);
    div {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #413B4C;
    }
}
