
/*------------------------------------*\
    #TABLE
\*------------------------------------*/

/**
* Table styling
*/
.c-table {
  border: solid $grey 1px;
  width: 100%;
  color: $greydark;
  text-align: left;
  @include font-size(14px);
  @include light();
  margin-top: 2%;
  td {
    padding: 1% 5% 1% 7%;
  }
  th {
    padding: 2% 5% 2% 7%;
  }
}

.c-table__head {
  background-color: $purple;
  color: $white;
  @include shadow();
}

.c-table__row {
  border: solid $greylight 1px;
}

.c-table__cell {
  padding: 0% 5% 0% 5%;
}

.c-table__row--selected {
  background-color: $greylight;
}
