/*------------------------------------*\
    #COMPONENT-TRANSITIONS
\*------------------------------------*/

/**
* This where Anguar Animation transitons live
* the four stages help animate elements during
* ng-show/ng-hide switch.
*/


/**
* Fade Toggle
*/
.c-feed__events-container,
.c-issue,
.c-card__response-message,
.c-bill-content,
.c-bill-banner__overlay,
.c-bill-banner__content {
  &.ng-hide-add,
  &.ng-hide-remove {
    transition: 0s linear all;
  }

  &.ng-hide-add-active,
  &.ng-hide-remove-active {
    transition: 1s ease all;
  }

  &.ng-hide-add {
    opacity: 1;
  }

  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }

  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
}


/**
* Fade toggle trigged by ng-if
*/
.c-feed__events {
  &.ng-enter, &.ng-leave {
     transition: 0.2s linear all;
  }
  &.ng-enter {
     opacity: 0;
  }

  &.ng-enter.ng-enter-active {
     opacity:1;
  }

  &.ng-leave {
     opacity:1;
  }

  &.ng-leave.ng-leave-active {
     opacity:0;
  }
}


@include media($tablet) {
  .c-feed__events {
    &.ng-enter, &.ng-leave {
       transition: 0.2s linear all;
    }
    &.ng-enter {
       opacity:1;
       transform: translateX(100%);
    }

    &.ng-enter.ng-enter-active {
       opacity:1;
       transform: translateX(0);
    }

    &.ng-leave {
       opacity:1;
       transform: translateX(0);
    }

    &.ng-leave.ng-leave-active {
       opacity:1;
       transform: translateX(-100%);
    }
  }
}
