/*------------------------------------*\
    #COMPONENT-COMMENT-FILTER
\*------------------------------------*/

/**
* Comment filter is a small menu style 
* component that can be found to the top
* right of the bill comments area.
*/


.c-comment__filter {
  position: absolute;
  top: 0;
  right: 11px;
  z-index: 2;

  @include media($tablet) {
    position: initial;
  }
}


.c-comment__filter ul {
  @include media($tablet) {
    width: 100%;
  }
}

.c-comment__filter ul li {
  margin-left: 20px;
  display: inline-block;
  color: $blue;
  @include font-size(12px);
  @include bold();
  text-transform: uppercase;
  padding: 11px 0px 4px;
  border-bottom: 5px solid transparent;
  cursor: pointer;

  &:nth-child(1) {
    color: $greydark;
    cursor: auto;
  }

  @include media($tablet) {
    &:nth-child(1) {
      width: 33.3333333%;
      text-align: left;
    }
    width: 33.3333333%;
    margin-left: -3px;
    text-transform: initial;
    text-align: center;
    padding: 0px 4px 12px 3px;
    margin-bottom: -3px;
    @include medium();
    &.c-comment__filter-selected {
      border-color: $red !important;
      border-width: 2px;
      @include bold();
    }
  }

}


.c-comment__filter-selected {
  border-color: $blue !important;
}
