
/*------------------------------------*\
    #COMPONENT-BILL-STATUS
\*------------------------------------*/

/**
* Bill Status containings a stacked list
* of potential bill statuses. It can be found
* in it's own bill_status.html partial
*/


.c-card--bill-status {
  width: 260px;
  @include media($tablet) {
    width: 100%;
  }

}


.c-card__bill-status {

}

.c-card__bill-status ul {
  padding-left: 0;
}


.c-card__bill-status ul li {
  list-style-type: none;
  position: relative;
  // padding-bottom: 20px;
  padding-right: 11px;
  width: 100%;
  h2, p, i {
    transition: all 0.3s ease;
  }
}


.c-card__bill-status ul li h2 {
  @include font-size(14px);
  @include bold();
  color: $grey;
  align-self: center;
  padding-left: 8px;
}


.c-card__bill-status ul li p {
  @include font-size(12px);
  line-height: 22px;
  color: $grey;
  padding-top: 6px;
}


.c-card__status-icon {
  position: relative;
  // left: -28px;
  // top: 0;
  border-width: 1px;
  border-color: rgb(214, 212, 225);
  border-style: solid;
  border-radius: 3px;
  background-color: rgb(232, 231, 238);
  width: 40px;
  height: 40px;

  i {
    color: $grey;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    line-height: 0.9;
    transform: translateY(-50%);
    @include font-size(18px);
  }
}
.c-stats__text--small {
  @include light();
  @include font-size(10px);
}

.c-card__status-icon--active,
.c-card__bill-status li:hover {
  i { color: $blue; }
  h2, p { color: $black !important; }
}


.c-bill-info {
  align-items: flex-start;
}
