/*------------------------------------*\
    #COMPONENT-BUTTONS
\*------------------------------------*/

/**
* Buttons, glorious buttons!
*
* Lets start with the biggest and boldest,
* the ones we vote with :) - They can be found
* on the Bills page/bill_vote.html partial.
*
* Though the name will be descriptive of the button
* type, as in size and colour.
*/


.c-button {
  color: white;
  @include font-size(14px);
  @include light();
  cursor: pointer;
  outline: none;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 3px;
  box-shadow: 0px 1px 0.91px 0.09px rgba(0, 0, 0, 0.15);
  text-indent: 1px;
  text-shadow: 0px 1px 0.91px rgba(0, 0, 0, 0.46);

  span {
    text-indent: 1px;
    text-shadow: 0px 1px 0.91px rgba(0, 0, 0, 0.46);
    transition: all 0.3s ease;
    line-height: 0;
    position: absolute;
    left: 20px;
    @include font-size(16px);
    top: 16px;
  }

}





/**
* Button Sizes.
*/


.c-button--large {
  padding: 15px 0px;
}


.c-button--medium {
  padding: 5px 10px;
  @include font-size(12px);
}


.c-button--small {
  padding: 3px 7px;
  @include font-size(10px);
}





/**
* Button Colours.
*/


.c-button--green {
  border: 1px solid rgb(142, 165, 91);
  background-image: linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(165,204,113) 0%, rgb(188,230,133) 100%);
}


.c-button--red {
  border: 1px solid rgb(172, 52, 34);
  background-image: linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(230,74,51) 0%, rgb(237,86,64) 100%);
}


.c-button--blue {
  border: 1px solid rgb(65, 79, 124);
  background-image: linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(107,85,160) 0%, rgb(77,110,179) 0%, rgb(68,96,156) 0%, rgb(77,110,179) 100%);
}


.c-button--grey {
  color: $greydark;
  border: 1px solid rgb(183, 183, 183);
  background: #e3e3e3;
  text-shadow: none;
}


.c-button--twitter {
  position: relative;
  background: #55acee;
}


.c-button--facebook {
  position: relative;
  background: #3b5999;
}

.c-button--facebook, .c-button--twitter {
  padding-left: 30px;
}

.c-button--gmail {
  position: relative;
  background: #e2584c;
  color: white;
  border: 1px solid darken(#e2584c, 10%);
  padding-left: 15px;
  padding-right: 15px;
}

.c-button--email {
  padding-left: 15px;
  padding-right: 15px;
}

.c-button--invite {
  position: relative;
  width: calc(100% - 15px);
  margin-top: 15px;
}


.c-button--invite p {
  margin-bottom: 0 !important;
  padding-left: 5px;
}


.c-button--invite svg {
  position: absolute;
  left: 10px;
  height: 12px;
  width: 12px;
  fill: white;
  top: 50%;
  transform: translateY(-50%);
}


.c-button--invite svg.icon-check-mark {
  top: 45% !important;
}


.c-button--gmail img {
  height: 20px;
  top: 50%;
  left: 12px;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.2);
  transform: translateY(-50%);
  position: absolute;
}


.c-button--facebook svg {
  fill: white;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  position: absolute;
}


.c-button--twitter svg {
  fill: white;
  width: 15px;
  height: 17px;
  top: 46%;
  left: 7px;
  transform: translateY(-50%);
  position: absolute;
}
