/*------------------------------------*\
    #COMPONENT-TRANSITIONS
\*------------------------------------*/

/**
* This where Anguar Animation transitons live
* the four stages help animate elements during
* ng-show/ng-hide switch.
*/


/**
* Fade Toggle
*/
.c-card__response-message,
.feed-events,
.c-bill-content,
.c-bill-banner__overlay,
.c-bill-banner__content {
  &.ng-hide-add, 
  &.ng-hide-remove {
    transition: 0s linear all
  }

  &.ng-hide-add-active,
  &.ng-hide-remove-active {
    transition: 1s ease all;
  }

  &.ng-hide-add {
    opacity: 1;
  } 

  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }

  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
}


/**
* Fade and Height Toggle
*/
// .c-card__response-message {
//   overflow: hidden;
//   &.ng-hide-add, 
//   &.ng-hide-remove {
//     transition: 0s linear all
//   }

//   &.ng-hide-add-active,
//   &.ng-hide-remove-active {
//     transition: 0.2s ease all;
//   }

//   &.ng-hide-add {
//     opacity: 1;
//     height: 20px;
//   } 

//   &.ng-hide-add.ng-hide-add-active {
//     opacity: 0;
//     height: 0;
//   }

//   &.ng-hide-remove {
//     opacity: 0;
//   }

//   &.ng-hide-remove.ng-hide-remove-active {
//     opacity: 1;
//   }
// }
