/*------------------------------------------*\
    #COMPONENT-BILL-REPRESENTATION-BANNER
\*------------------------------------------*/

/**
* This is a small type based component for
* a banner for an underrepresented bill.
*/

.c-bill-representation-banner {
  margin: -4%;
  @include shadow();
  .c-bill-representation-underrepresented {
    background-color: $red;
    p {
      color: $white;
    }
  }
  .c-bill-representation-sample {
    background-color: $white;
  }
  p {
    font-weight: 100;
    font-size: 80%;
    text-align:center;
    padding: 2%;
  }
}
.c-bill-representation-content {
  margin: 7%;
  color: $grey;
}
