
/*------------------------------------*\
    #COMPONENT-TAGS
\*------------------------------------*/

/**
* Tags, like on most sites, are keywords that
* are asociated with the viewed content. They
* largely resemble buttons.
*/

.c-tag {
  border-width: 1px;
  border-color: rgb(131, 165, 86);
  border-style: solid;
  border-radius: 3px;
  background-image: linear-gradient( 90deg, rgb(137,191,66) 0%, rgb(158,194,110) 100%);
  box-shadow: 0px 1px 0px 0px rgba(58, 75, 37, 0.004);
  color: white;
  text-transform: uppercase;
  @include bold();
  @include font-size(10px);
  padding: 3px 10px;
  min-width: 80px;
  text-align: center;
}
