/*--------------------------------*\
      #COMPONENT-BILL-CHART
\*--------------------------------*/

/**
*/

.bill-representation-stats-container {
  min-width: 500px;
}

.bill-representation-chart {
  border: none !important;
  box-shadow: none !important;
  min-width: 215px;
  margin-right: 20px;
}

.bill-representation-gender-icon {
  min-width: 8%;
  margin-right: 1%;
}

.bill-representation-stats-gender {
  font-size: 80%;
  margin-right: 1%;
}
.bill-representation-age-range {
  font-size: 80%;
  margin-right: 1%;
}

.bill-stats-percentage-large {
  display: inline-block;
  font-size: 270%;
  color: $greydark;
  margin-right: 1%;
}

.bill-representation-social {
  background-color: $greylight;
  font-size: 70%;
  color: $greydark;
  border: solid $grey 1px;
  padding: 4%;
  margin-top: 5%;
  float: right;
  div {
    display: inline-block;
    width: 45%;
    margin-right: 3%;
    a {
      display: block;
      padding-top: 7%;
      margin-bottom: 7%;
      text-align: center;
      color: $white;
      background-color: $blue;
      padding-bottom: 7%;
      padding-right: 7%;
      span {
        margin-right:10%;
      }
    }
  }
}
