/*------------------------------------*\
    #COMPONENT-CARD
\*------------------------------------*/

/**
* The card is one of the most common component throughout
* the PlaceAVote App.
*/

.c-card {
  border: 1px solid $widgetborder;
  border-radius: 3px;
  background: white;
  padding: 15px 11px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);

  /**
  * On mobile the card is stripped of 
  * border radius and border style
  */
  @include media($tablet) {
    border-radius: 0;
    border: none;
  }
}


.c-card h1 {
  @include font-size(12px);
  color: $blue;
  font-weight: $font-bold;
  text-transform: uppercase;
  line-height: 11px;
  vertical-align: baseline;
  margin-bottom: 11px;
  z-index: 1;
  position: relative;
}


/**
* Some headers have icons to let
* of the header title. The icons
* are absolutely position so we
* use the below modifier class to
* adjust the poisition of the h1 tag
*/

.c-card--icon h1 {
  padding-left: 20px;
}


.c-card--icon i {
  position: absolute;
}


.c-card hr {
  margin-bottom: 11px;
}


.c-card .c-card__content p {
  @include font-size(12px);
}



.c-card .c-card__content ul {
  @include font-size(12px);
  list-style-type: disc;
  padding-left: 15px;
}



/**
* Bill card modifier switches header
* style to $pale pruple on tablet and
* mobile.
*/

.c-card--bill {
  @include media($tablet) {
    &:before {
      content: '';
      background: $pale;
      height: 38px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }    
  }
}



/**
* Footer button can be found on several
* cards around the application. As I write 
* it is in two places on Bill Summary and 
* Bill Information.
*/

/**
* footer-btn Modifier class to sit along 
* side c-card.
*/

.c-card--footer-btn {
  padding-bottom: 51px;
}


.c-card__footer-btn {
  border-top: 1px solid $widgetborder;
  width: 100%;
  background: $pale;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  color: $blue;
  @include font-size(12px);
  cursor: pointer;
  a {
    color: $blue;
    text-decoration: none;
  }
  @include media($tablet) {
    background: transparent;
    border: none;
    color: $red;
    text-align: left;
    padding: 15px 11px;
  }
}


/**
* Card messages provide fallbacks when 
* data is not available.
*/

.c-card__message {
  text-align: center;
  @include font-size(19px);
  padding: 20px 40px 31px 40px;

  @include media($tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }
} 

.c-card__message--comments {

}
