/*------------------------------------*\
    #COMPONENT-TRENDS
\*------------------------------------*/

/**
* Trends only appears on desktop on the
* right had side of the feed column
*/

.c-trends__container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  right: 0;
  left: 0;
  top: 26px;

  @include media(1200px) {
    display: none;
  }
}

.c-trends {
  position: absolute;;
  right: 0;
  width: 360px;
  background: #DAD9E2;
  padding: 11px;
  border-radius: 3px;
  border: 1px solid #CDCCD4;
  h2 {
    color: $blue;
    @include bold();
    @include font-size(10px);
      i {
      color: $red;
      @include font-size(10px)
      margin-right: 5px;
      }
    }
    h3 {
    cursor: pointer;
    @include medium(italic);
    color: $blue;
    @include font-size(12px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
      &:hover {
      -webkit-line-clamp: 5;
      }
    }
    p {
    cursor: pointer;
    color: $black;
    @include font-size(11px);
    @include medium();
      span {
      @include bold();
      }
    }

    hr {
    border: none;
    border-bottom: 1px solid $grey;
    }

    .c-trends__content .c-trends__data:last-child hr {
      display: none;
    }
}

.feed-icon {
  @include media(400px) {
    display: none;
  }
  margin-right: 11px;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  @include linear-gradient(#5b7da8, #746898);
  i {
    color: white;
    @include font-size(30px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.9;
    left: 0;
    height: 50px;
    width: 100%;
    text-align: center;
  }
}
