/*------------------------------------*\
    #COMPONENT-MODAL
\*------------------------------------*/

/**
* The modal is a popup with a fullscreen popup.
*/

.c-modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.6);
    z-index: 99999;
    opacity: 0 !important;

    @include media($tablet) {
      background: transparent;
    }

    &.c-modal__wrapper--active {
      opacity: 1 !important;
    }
 }


.c-modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    transition: 0.5s ease all;
}

/**
* Zip Entry modal styling.
*/

.c-modal--zip {
  border-radius:3px;
    max-width: 600px;
    width: 100%;
    color: white;
    border: 1px solid $widgetborder;
    @include media($tablet) {
      top: 49px;
      transform: translateY(0);
      height: 100%;
      max-width: 100%;
    }
    h1, h3 {
      text-align: center;
      padding:20px 0px 0px 0px;
    }
    h3 {
      color: $greylight;
      font-size: 90%;
      padding:1px 0px 20px 0px;
    }
    button {

    }
}
.c-modal__zip_btn_column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  button {
    color: $greydark;
  }
}

.c-modal__zip {
    width: 100%;
    background-size: cover;

    @include media($tablet) {
      height: 100%;
    }
}

.c-modal__zip__overlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.c-modal__zip_overlay-gradient {
    @include linear-gradient($purple, $blue);
}

.c-modal__zip_button-reply-update {
  transition: all 0.1s ease;
  &:hover {
    color: lighten($green, 10%);
  }
}

.c-modal__zip_button-reply-cancel {
  transition: all 0.1s ease;
  &:hover {
    color: lighten($red, 10%);
  }
}

.c-modal__zip-invalid {
  transition: all 0.1s ease;
  border-color: $red !important;
}

.c-modal__zip_form-body {
  background:$white;
  color: $greydark;
  padding-left: 10%;
  padding-right: 10%;
  @include medium();
  input {
    width: calc(100% - 40px);
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid $grey;
    @include font-size(14px);
    color: $purple;
    padding-left: 10px;
    outline: none;
    transition: all 0.2s ease;
    &:focus {
      border: 1px solid darken($grey, 40%);
          }
          &::-webkit-input-placeholder {
            color: $grey;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: $grey;
          }
          &:-ms-input-placeholder {
            color: $grey;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: $grey;
          }
      }
}



/**
* Vote modal styling.
*/


.c-modal--vote {
    max-width: 600px;
    width: 100%;
    color: white;
    transoform: translate(-50%);

    @include media($tablet) {
      top: 0;
      transform: translateY(0);
      height: 100%;
      max-width: 100%;
    }

}


.c-modal__vote {
    width: 100%;
    background-size: cover;

    @include media($tablet) {
      height: 100%;
    }
}


.c-modal__vote-background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.c-modal__vote__overlay {
    position: absolute;
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.c-modal__vote_overlay-gradient {
    @include linear-gradient($purple, $blue);
}


.c-modal--vote .icon-close-badge {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    @include font-size(20px);
}

.c-modal__vote h1, {
    padding: 30px;
    text-align: center;
    position: relative;

    @include media($tablet) {
      padding-top: 50px;
    }
}


.c-modal__vote hr {
    width: calc(100% - 60px);
    margin-left: 30px;
    border-color: #ffffff;
    position: relative;
}


.c-modal--vote-confirmed {
  background: #ffffff;
}


.c-modal__vote-confirmed {
  @include linear-gradient(lighten($purple, 10%), lighten($blue, 10%));
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 30px;
}

.c-modal__vote-confirmed img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  opacity: 0.1;
  top: 50%;
  transform: translateY(-50%) scale(1.2, 1.2);
}


.c-modal__vote-confirmed h1,
.c-modal__vote-confirmed h2 {
  position: relative;
}


.c-modal__vote-confirmed h1 {
  @include font-size(28px);
}

.c-modal__comment {
  padding: 20px 20px 0px 20px;

  @include media($tablet) {
    padding: 0;
  }

}


.c-modal__comment .c-card {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}


.c-modal__comment .c-comment__input {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  @include media($tablet) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/**
* Centres card modal
* Fullscreen for mobile
*/

.c-card--modal {
  max-width: 600px;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 100px;
  left: 0;
  right: 0;
  @include media($tablet) {
    top: 0;
  }
}




/**
* Added to body when modal is
* active to prevent scrolling
*/

.c-modal__body--active {
  overflow: hidden;
}






/**
* Animation for Modal
**/

.c-modal__wrapper {

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: 0s linear all
  }

  &.ng-hide-add-active,
  &.ng-hide-remove-active {
    transition: 0.2s ease all;
  }

  &.ng-hide-add {
    opacity: 1;
  }

  &.ng-hide-add.ng-hide-add-active {
    opacity: 0;
  }

  &.ng-hide-remove {
    opacity: 0;
  }

  &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }

}
