/*------------------------------------*\
    #COMPONENT-SIDE-MENU
\*------------------------------------*/

/**
* The side menu is currently only
* present on the bills page can be 
* found in the 
* partials/bills/bill_wrapper.html partial. 
*
* It is stacked on desktop but moves to a
* row layout on tablet and mobile.
*/


.c-side-menu-wrapper {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 1200px;

  @include media(1200px) {
    padding-left: 20px;
  }

  /**
  * The following breakpoint is to
  * initiate the a row based menu
  * positioned beneath the bill-banner
  * with more overlap. All subsequent
  * breakpoints at 768px are to achieve
  * this styling.
  */

  @include media(768px) {
    position: relative;
    padding-left: 0;
    height: 52px;
    overflow: hidden;
  }

}


.c-side-menu {
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 230px;
  overflow: hidden;
  box-shadow: 1.923px 0.551px 0.91px 0.09px rgba(0, 0, 0, 0.02);
  z-index: 3;

  @include media(768px) {
    width: 100%;
  }

}


/*
* On the bills page this modifier
* sets the menu to overlap the banner
* on desktop viewport.
*/

.c-side-menu--bill {
  top: -83px;
 
  @include media(768px) {
    position: initial;
    top: initial;
  }
}


.c-side-menu li {
  border-bottom: 1px solid #edecf1;
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s ease;
  overflow: hidden;

  @include media(768px) {
    display: inline-block;
    box-sizing: border-box;
    height: 52px;
    width: 33.33333%;
    margin-right: -4px;
    text-align: center;
    border-right: 1px solid $grey;
    border-bottom-color: $grey;
    padding: 19px 5px;
  }


  /**
  * i is the icon element, they are
  * aligned to the left of the p tags
  * the icon-arrow-right only shows
  * when selected.
  */

  i {
    position: absolute;
    @include font-size(20px);
    color: $blue;
    left: 17px;
    top: 12px;

    
    &.icon-arrow-right {
      display: block;
      right: 16px;
      top: 19px;
      left: initial;
      opacity: 0;
      color: white;
      transform: translateX(-50px);
      transition: all 0.3s ease;
    }


     @include media(768px) {
      display: none;
    }

  }

}


.c-side-menu li p {
  @include font-size(14px);
  margin-left: 50px;

  @include media(768px) {
    @include font-size(12px);
    color: $blue;
    margin-left: 0;
  }
}


li.c-side-menu__vote {
  border: none;
  background-image: linear-gradient( 180deg, rgb(77,110,179) 0%, rgb(107,85,160) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(77,110,179) 0%, rgb(107,85,160) 100%);

  p, i {
    color: white;
    text-indent: 1px;
    text-shadow: 0px 1px 0.91px rgba(0, 0, 0, 0.46);
  }

  @include media(768px) {
    display: none;
  }

}


li.c-side-menu--selected {
  border-bottom-color: $red;
  
  p {
    font-weight: 700;
  }

  i {
    color: $red;

    &.icon-arrow-right {
      color: $red;
      transform: translateX(0px);
      opacity: 1;
      @include font-size(12px);
      @include media(768px) {
        display: none;
      }
    }
  }

}
