/*------------------------------------*\
    #COMPONENT-ISSUE
\*------------------------------------*/

/**
* Issues are present on the feed.
*/

.c-issue__comments-wrapper {
  width: 100%;
}


.c-issue--modal {
  overflow-y: scroll;
  height: 100vh;
  @include media($tablet) {
    z-index: 99999;
    background: white;
  }
}
