/*------------------------------------*\
    #COMPONENT-CARD
\*------------------------------------*/

/**
* The card is one of the most common component throughout
* the PlaceAVote App.
*/

.c-card {
  border: 1px solid $widgetborder;
  border-radius: 3px;
  background: white;
  padding: 15px 11px;
}


.c-card h1 {
  @include font-size(12px);
  color: $blue;
  font-weight: $font-bold;
  text-transform: uppercase;
  line-height: 11px;
  vertical-align: baseline;
  margin-bottom: 11px;
}
