/*------------------------------------*\
    #COMPONENT-BAR-DEMOGRAPHICS
\*------------------------------------*/

/**
* Basic horizontal bar designed for
* demographics breakdown box.
*/

.c-bar__stats-demographics-age-bar {
  display: block !important;
  // width: 150px !important;
  height: 20px !important;
  // margin: 2%;
}
