.onboarding-container {
  section.ng-hide {
    opacity: 0;
  }
 section.ng-hide-remove {
  opacity: 0;
 }
 section {
  .box-loader {
    background: rgba(255,255,255,0.9);
  }
  transition: all 0.3s ease;
  opacity: 1;
 }
  position: absolute;
  margin: 40px auto 40px auto;
  left: 0;
  right: 0;
  max-width: 750px;
  transition: all 0.3s ease;
  @include media(480px){
  padding: 0;
  background-color: white;
  margin-bottom: 0;
  margin-top: 0;
  }
  border-radius: 3px;
  background-color: white;
  border: 1px solid $widgetborder;
  @include media(480px){
  border: none;
  }
  padding: 35px 20px;
  height: auto;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);

  .ob-header {
    @include media(480px){
    background-color: $greylight;
    position: relative;
    height: 100px;
    }
    border-bottom: 1px solid $widgetborder;

    img {
      width: 300px;
      padding-bottom: 20px;
      @include media(480px){
      position: absolute;
      left: 0;
      right: 0;
      top: 25px;
      margin: 0px auto;
      }
    }
  }

  .border {
    height: 0;
    @include media(480px){
    height: 7px;
    width: 100%;
      @include linear-gradient(#6769a0, #7f538e);
    }
  }

  section {
    @include media(480px){
  padding: 0px 20px;
    }

    h2 {
      color: $black;
      font-size: 16px;
     @include medium();
      padding: 10px 0 0px;
      line-height: 30px;
    }
   i {
    display:block;
    margin:10px 0px 20px;
    font-style: italic;
    font-size: 12px;
   }
    form {
      label {
        @include media(480px){
        width: 100%;
        }
        color: $black;
        font-size: 12px;
        @include medium();
        display: inline-block;
        width: calc(50% - 13px);
        select {
          @include light();
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
          background: white;
          font-size: 12px;
          height: 30px;
          padding-left: 10px;
          transition: all 0.2s ease;
          outline: none;
          border: 1px solid $grey;
          color: $purple;
          border-radius: 3px;
        }
        input {
          @include light();
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
          background: white;
          font-size: 12px;
          height: 30px;
          padding-left: 10px;
          transition: all 0.2s ease;
          outline: none;
          border: 1px solid $grey;
          border-radius: 3px;

          // &.ng-pristine {
          //   color: $grey;
          // }

          &.ng-dirty {
            color: $purple;
          }

          &:focus {
            border: 1px solid $purple;
          }
        }

        input[type="date"].ng-pristine {
          background-color: white;
          color: $grey;
        }

        input[type="date"].ng-dirty {
          color: $purple;
        }
      }

      .firstname,
      .signupdob {
        margin-right: 20px;
      }

      .email-label {
        width: 100%;

        input {
          margin-bottom: 35px;
        }
      }

      button {
        height: 50px;
        border: 1px solid darken($green, 20%);
        background-color: $green;
        line-height: 50px;
        color: white;
        font-size: 18px;
        text-align: center;
        @include medium();
        width: 100%;
        display: inline-block;
        transition: all 0.2s ease;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        @include media(480px){
        margin-bottom: 20px;
        }

        &:hover {
          background-color: lighten($green, 5%);
        }
      }
    }
  }
  .register-error {
    height: 0;
    transition: all 0.2s ease;
    overflow: hidden;
    &.show {
    height: auto;
    background: lighten($red, 20%);
    border-radius: 3px;
    border: 1px solid $red;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    }
  }
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  .gender-select-container {
    align-items: center;
    width: calc(50% - 13px);
    padding-bottom: 20px;
    padding-top: 5px;
    @include media(800px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 100%;
    }
    .gender-label {
      padding-right: 15px;
    }
  }
  .row {
    & .gender-select:first-child .gender {
      border-left: 1px solid $grey;
      border-right: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    & .gender-select:last-child .gender {
      border-left: none;
      border-right: 1px solid $grey;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .gender {
    cursor: pointer;
    background-color: white;
    border: 1px solid $grey;
    border-left: none;
    border-right: none;
    color: $black;
    height: 30px;
    width: 70px;
    line-height: 30px;
    text-align: center;
    @include font-size(12px);
  }
    input[type="radio"]:checked + .gender {
     background-color: $greylight;
     border: 1px solid $grey !important;
  }
}
