/*------------------------------------*\
    #PAV-COLORS
\*------------------------------------*/


$black: #3b3b3b;

$white: #FFFFFF;

$grey: #cccccc;

$lightgrey: #E8E7EE;

$darkgrey: #676767;

$red: #e64a33;

$green: #a5cc71;

$blue: #4d6eb3;

$lightblue: #3667B1;

$purple: #543594;

$fadedpurple: #564a88;

$lightpurple: #9283b4;

$palepurple: #f4f2fe;

$facebooklightblue: #3b5998;

$facebookdarkblue: #324b81;

$twitterblue: #4099FF;

$backgroundcolor: #e8e7ee;

$bordercolor: #d6d4e1;
