.comment-container {
  transition: all 0.1s ease;
  &.ng-hide {
    opacity: 0;
    height: 0;
  }
  &.ng-hide-remove {
    opacity: 0;
    height: 0;
    // transition-delay: 0.3s;
  }
  .comment {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    .user-img-border {
      @include media(480px) {
        width:46px;
        // height: 40px;
      }
    }
    .top-comment-body {
      margin-top: 0;
    }
    .profile-img {
      width: 50px;
      img {
        width: 100%;
      }
    }
  }
}

.bill-comments {
  &.card {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    border-bottom: none;
    transition: all 0.2s ease;
    display: block !important;
  }
}

.comment-reply {
  padding-left: 60px;
    @include media(480px) {
       padding-left:15px;
    }
}

.reply-btn-container {
  height:37px;
  overflow: hidden;
  outline: none;
  position: relative;
}

.reply-show-hide {
  outline: none;
  cursor: pointer;
  width: calc(100% - 60px);
    @include media(480px) {
        width: calc(100% - 15px);
    }
  position: absolute;
  right: 0;
  color: darken($grey, 15%);
  background: lighten($greylight, 5%);
  border-radius: 3px;
  border: 1px solid lighten($greylight,3%);
  margin-bottom: 10px;
  transition: all 0.1s ease;
  &:hover {
    background: lighten($greylight, 10%);
  }
}

.reply-comment {
  margin-top: 10px;
  width: 100%;
  textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid $greylight;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:10px;
    font-family:$font-normal;
    @include medium();
    color: $black;
    box-sizing: border-box;
    @include font-size(10px);
  }
  .reply-actions {
    float: right;
    .btn-green, .btn-blank {
      width: 200px;
      text-align: center;
      height: 30px !important;
      line-height: 30px !important;
      width: 100px;
      @include media(500px) {
        padding: 0;
        display: inline-block;
        margin-left:4px;
        margin-right:0;
      }
    }
  }
}

.score-none {
  color: $grey !important;
}

.score-down {
  color: $red !important;
  animation: scored 1s ease;
}

.score-up {
  color: $green !important;
  animation: scored 1s ease;
}

@keyframes scored {
  0% {
    color: $grey;
    transform: scale(1,1);
  }
  50% {
    color: $green;
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1,1);
  }
}