.comment-container {
  transition: all 0.1s ease;
  &.ng-hide {
    opacity: 0;
    height: 0;
  }
  &.ng-hide-remove {
    opacity: 0;
    height: 0;
    // transition-delay: 0.3s;
  }
  .comment {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    // .user-img-border {
    //   max-height: 55px;
    //   @include media(480px) {
    //     min-width:46px;
    //   }
    // }
    .top-comment-body {
      margin-top: 0;
    }
    // .profile-img {
    //   width: 50px;
    //   img {
    //     width: 100%;
    //   }
    // }
  }
}

.bill-comments {
  &.card {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    border-bottom: none;
    transition: all 0.2s ease;
    display: block !important;
  }
}

.comment-reply {
  padding-left: 60px;
    @include media(480px) {
       padding-left:15px;
    }
}

.reply-btn-container {
  height:37px;
  overflow: hidden;
  outline: none;
  position: relative;
}

.reply-show-hide {
  outline: none;
  cursor: pointer;
  width: calc(100% - 60px);
    @include media(480px) {
        width: calc(100% - 15px);
    }
  position: absolute;
  right: 0;
  color: darken($grey, 15%);
  background: lighten($greylight, 5%);
  border-radius: 3px;
  border: 1px solid lighten($greylight,3%);
  margin-bottom: 10px;
  transition: all 0.1s ease;
  &:hover {
    background: lighten($greylight, 10%);
  }
}

// .reply-comment {
//   margin-top: 10px;
//   width: 100%;
//   textarea {
//     resize: none;
//     width: 100%;
//     min-height: 40px;
//     height: auto;
//     overflow-y: hidden;
//     outline: none;
//     border: 1px solid $greylight;
//     border-radius: 3px;
//     margin-top: 5px;
//     margin-bottom: 5px;
//     padding:10px;
//     font-family:$font;
//     @include medium();
//     color: $black;
//     box-sizing: border-box;
//     @include font-size(12px);
//   }
//   .reply-actions {
//     float: right;
//     .btn-green, .btn-blank {
//       width: 200px;
//       text-align: center;
//       height: 30px !important;
//       line-height: 30px !important;
//       width: 100px;
//       @include media(500px) {
//         padding: 0;
//         display: inline-block;
//         margin-left:4px;
//         margin-right:0;
//       }
//     }
//   }
// }

// .card.comment-create {
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
//   margin-bottom: 20px;
//   background-color: #f4f2fe;
//   display: flex;
//   // flex-direction: row;
//   position: relative;
//   form {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//   }

//   .profile-image-holder {
//     position: absolute;
//     left: 15px;
//     top: 15px;
//     height: 38px;
//     width: 38px;
//   }

//   textarea {
//     min-height: 44px;
//     height: auto;
//     width: 100%;
//     outline: none;
//     border-radius: 3px;
//     border: 1px solid $grey;
//     color: $black;
//     font-family: $font;
//     @include light();
//     resize: none;
//     line-height: 22px;
//     @include font-size(14px);
//     padding: 12px 60px 12px 55px;
//     overflow-y:hidden;
//     transition: all 0.3s ease;

//     &:focus {
//       border-color: $blue;
//     }
//   }
// }

.row-layout.comment {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 1;
}

.comment.ng-enter {
  opacity: 0;
}

.comment.ng-enter.ng-enter-acitve {
  opacity: 1;
}


#comment-selected {
  animation: selected 5s ease;
}

@keyframes selected {
  0% {
    border-left: 5px solid $blue;
    padding-left: 5px;
  }
  95% {
    border-left: 5px solid $blue;
    padding-left: 5px;
  }
  100% {
    border-color: white;
    padding-right: 0px;
  }
}
