.stats-demographic-card {
  margin-left: 5%;
}

.stats-demographics_population__large {
  font-size: 130%;
  font-weight: lighter;
  color: $greydark;
  text-align: center;
}
.stats-demographic_breakdown {
  margin: 3% 1% 2% 1%;
}
.stats-demographics_gender_breakdown {
  background-color: $greylight;
  color: $greydark;
  border: solid $grey 1px;
  padding: 2% 5% 2% 5%;
  margin: 2%;
}
