/*------------------------------------------*\
    #STATS-UNDERREPRESENTED
\*------------------------------------------*/

 /**
  * Styles for the votings statistics
  */
.stats-underrepresented-banner {
  @include shadow();
  p {
    font-weight: 100;
    font-size: 80%;
    text-align:center;
    padding: 2%;
  }
}

.stats-underrepresented-banner__required {
  background-color: $red;
  color: $white;
}

.stats-underrepresented-banner__sample {
  background-color: $white;
}

.stats-underrepresented-statistics_chart {
  border: none !important;
  box-shadow: none !important;
  min-width: 215px;
  margin-right: 20px;
}


.stats-underrepresented-statistics_gender_icon__large {
  min-width: 8%;
  margin: 1%;
}

.stats-underrepresented-statistics_text__light {
  font-size: 80%;
  margin-right: 1%;
}
