<div class="bill-container margin-top-medium">
    <div class="bill card padding-small">
    <h1 ng-click='bill.goToPage(location)'>{{bill.subject}}</h1>
    <hr class="margin-top-small" />
        <section class="row margin-top-small">
        <div class="feed-icon margin-right-medium">
        <i class="{{bill.icon}}"></i>
        </div>
        <div class="bill-summary-container">
        <div class="bill-summary">
        <h6 ng-click='bill.goToPage(location)'>{{bill.short_title}}</h6>
        <p>{{bill.official_title}}</p>
        </div>
        </div>
        </section>
    </div>
    <div class="stats">
    <section class="click pale-bg" ng-click='bill.goToPage(location)'>
    <span class="bold">{{bill.comment_count}} &nbsp;</span> comments</section>
    <section class="click pale-bg" ng-click='bill.goToPage(location)'><span ng-hide="bill.noVotes"><span class="bold">{{bill.majorityVote().percent}}</span> Vote {{bill.majorityVote().majority}}</span><span ng-show="bill.noVotes">No votes</span></section>
    </div>
</div>
