<div ng-repeat="event in events" ng-switch on="event.type">

  <feed-bill-event ng-switch-when="bill" bill="event">
  </feed-bill-event>

  <div ng-switch-when="issue"
       ng-hide="event.issueDelete"
       class="margin-top-medium card padding-small c-issue">
    <issue issue="event"></issue>
  </div>

  <feed-vote-event ng-switch-when="vote" vote="event">
  </feed-vote-event>

  <feed-comment-event ng-switch-when="comment" comment="event">
  </feed-comment-event>

</div>

<div class="feed-event-loader row" ng-show="scroll" loader loader-context="scroll" truthy></div>
<h1 ng-show="message" class="text-center grey margin-top-medium margin-bottom-small" style="font-size:16px;"><i class="icon-logo"></i></h1>
