<div class="card">

    <h1 ng-click="bill.goToPage(location)">{{bill.subject}}</h1>

    <hr />

    <div>

    <div>
        <icon icon="bill.icon"></icon>
    </div>

    <h1 ng-click="bill.goToPage(location)">{{bill.short_title}}</h1>

    <p>{{bill.official_title}}</p>

    </div>

</div>



  <!--   <div class="stats">
    <section class="click pale-bg" ng-click='bill.goToPage(location)'>
    <span class="bold">{{bill.comment_count}} &nbsp;</span> comments</section>
    <section class="click pale-bg" ng-click='bill.goToPage(location)'><span ng-hide="bill.noVotes"><span class="bold">{{bill.majorityVote().percent}}</span> Vote {{bill.majorityVote().majority}}</span><span ng-show="bill.noVotes">No votes</span></section>
    </div> -->
