<div class="issues-container" ng-controller="IssuesCtrl as issues">
  <div class="row issues-title margin-bottom-small margin-top-large">
    <i class="middle icon-issues"></i> <p class="margin-left-small">Create an Issue</p>  
  </div>
  <div class="card padding-small">
    <div class="profile-image-holder">
      <div ng-style="{'background-image': 'url(' + issues.rs.user.img_url + ')'}">
      </div>
    </div>

    <textarea msd-elastic ng-model="issues.post" class="padding-small post-message" placeholder="Share your opinions with people and rally around a bill or cause" rows="1"></textarea>
    <div class="row" ng-show="issues.billSearchOpen">
      <search-bar class="search" ng-class="{'search-focus':header.focus}" results="header.searchResults" focus="header.focus" query="header.search(q)" searching="header.searching" bills></search-bar>
    </div>
    <div class="row">
      <div class="issues-options pale-bg h-left">
          <div>
            <p>Add Attachment: </p>
          </div>
          <div class="row padding-left-small padding-right-small">
            <span class="tool-tip">Add a news article or website link</span>
            <i class="middle icon-links"></i>
          </div>
          <div ng-click="issues.billSearchOpen = true" class="row padding-left-small padding-right-small">
          <span class="tool-tip">Attach a bill to this issue</span>
            <i class="middle icon-bills"></i>
          </div>  
      </div>
     <!--  <div class="h-right">
        <h2 class="red bold">SHOW ME AN EXAMPLE</h2>
      --><!--  </div> -->
    </div>

  </div>

</div>

<issue></issue>
