<div class="issues-container" ng-controller="IssuesCtrl as issues">
  <div class="row issues-title margin-bottom-small margin-top-large">
    <i class="middle icon-issues tablet-margin-left-small"></i> <p class="margin-left-small">Create an Issue</p>  
  </div>
  <div class="card padding-small" loader loader-context="issues.loading" truthy>
    <div class="profile-image-holder">
      <div ng-style="{'background-image': 'url(' + issues.rs.user.img_url + ')'}">
      </div>
    </div>

    <textarea msd-elastic ng-model="issues.issue.comment" ng-class="{'flat-bottom': issues.billSearch || issues.linkAdd || issues.attachments.length > 0}" class="padding-small post-message" placeholder="Share your opinions with people and rally around a bill or cause" rows="1"></textarea>

    <div class="row issue-attachments l-12" ng-show="issues.attachments.length > 0" ng-class="{'flat-bottom': issues.billSearch || issues.linkAdd}">
        <div class="attachment row padding-left-small padding-right-small" ng-repeat="attachment in issues.attachments">
          <i class="icon-close click" ng-click="issues.deleteAttachment($index)"></i>
          <p class="middle">{{attachment.type}}: {{attachment.title}}</p>
        </div>
    </div>

    <div class="row" ng-show="issues.billSearch">
      <search-bar class="bill-search" placeholder="Start typing to search for a bill" results="issues.searchResults" focus="issues.focus" query="issues.search(q)" searching="issues.searching" attach-bill="issues.attach(bill);" bills issues></search-bar>
    </div>

    <div class="row" ng-show="issues.linkAdd">
      <form class="l-12" ng-submit="issues.validateUrl()">
        <input class="link-add" type="text" ng-model="issues.url" placeholder="Paste website link here" />
      </form>
    </div>

    <div class="row" ng-show="issues.errorMessage">
      <p class="red message-error margin-top-small margin-bottom-small">{{issues.errorMessage}}</p>
    </div>

    <div class="row">
      <div class="issues-options pale-bg h-left">
          <div>
            <p>Add Attachment: </p>
          </div>
          <div ng-click="issues.toggleLink();" ng-class="{'option-selected': issues.linkAdd}" class="row padding-left-small padding-right-small">
            <span class="tool-tip">Add a news article or website link</span>
            <i class="middle icon-links"></i>
          </div>
          <div ng-click="issues.toggleSearch();" ng-class="{'option-selected': issues.billSearch}" class="row padding-left-small padding-right-small">
          <span class="tool-tip">Attach a bill to this issue</span>
            <i class="middle icon-bills"></i>
          </div>  
      </div>
        <h2 ng-hide="dirty" ng-click="showExample();" class="show-example-button red bold click">SHOW ME AN EXAMPLE</h2>
        <button ng-show="dirty" class="green-button medium-button padding-left-large padding-right-large" ng-click="issues.postIssue();">POST</button>
    </div>

  </div>
</div>

<div ng-show="example" class="margin-top-medium card padding-small example-issue">
  <issue issue="exampleIssue" example>
  </issue>
</div>
