<div class="issue-card"
     ng-if="issueDeleted !== true || issue">
  <div class="row event-description">
     <div class="profile-image-holder middle margin-right-small click" ng-click="issue.goToProfile(location)">
        <div ng-style="{'background-image': 'url(' + issue.author_img_url + ')'}">
        </div>
     </div>
     <div class="row mobile-col middle">
      <p class="red click" ng-click="issue.goToProfile(location)">{{issue.author_first_name}} {{issue.author_last_name}} &nbsp;</p><p>shared an &nbsp;<i class="icon-issues blue"></i>&nbsp; Issue</p>
     </div>

     <span ng-if="!context.single"
            class="h-right middle blue timestamp click" ng-click="issue.goToIssue(location)"
            ng-class="{'margin-right-large': user.edit}">
            {{issue.timestamp | amCalendar}}
     </span>

     <i class="c-card__menu-icon
              icon-arrow-down
              click"
        ng-if="!context.single && user.edit"
        ng-click="user.editMenu = !user.editMenu"></i>

     <div class="c-card__menu"
          ng-if="user.editMenu"
          ng-mouseleave="user.editMenu = false">

       <div class="c-card__menu-arrow"></div>

       <ul>
          <li class="click"
              ng-click="user.showEditTools = !user.showEditTools;
                        editMenu = false">
              Edit Issue
          </li>
          <li class="click"
              ng-click="user.showDelete = !user.showDelete;
                        editMenu = false">
              Delete Issue
          </li>
        </ul>
     </div>

     <div ng-if="context.single" class="h-right row">
       <button ng-if="!context.isUserMe" ng-hide="profile.rs.notLoggedIn" ng-click="profile.follow()" class="click medium-button green-button h-right">{{follow}}</button>
       <i ng-click="profile.closeIssue()" class="margin-left-small icon-close middle grey click"></i>
     </div>

   </div>
   <hr class="margin-top-small margin-bottom-small" />
   <div class="row margin-bottom-small" ng-if="issue.bill_id">
    <p class="title">Talking About: <span ng-click="issue.goToBill(location)" class="bill-ref blue pale-bg margin-left-small mobile-margin-left-none mobile-margin-top-small medium click">{{issue.bill_title}}</span></p>
   </div>

   <div ng-if="user.showEditTools === false || user.showDelete === false" class="row issue-comment margin-bottom-small">
     <p compile="issue.comment"></p>
   </div>





   <!-- Delete -->

   <div ng-if="user.edit && user.showDelete" class="col"
        loader
        loader-context="deleteLoading"
        truthy>

          <p class="bold">
            Are you sure you want to delete this issue?
          </p>

          <p style="font-style: italic;" compile="issue.comment_sanitized"></p>

           <div class="row
                       h-right
                       margin-top-small">
                <button
                class="c-button
                      c-button--medium
                      c-button--red"

                ng-click="deleteIssue();">
                          Delete Issue</button>

                <button
                class="c-button
                       c-button--medium
                       c-button--grey
                       margin-left-small"

                ng-click="cancelDelete();">
                          Cancel</button>
           </div>

   </div>


   <!-- Edit Tools -->

   <div ng-if="user.edit && user.showEditTools" class="col"
        loader
        loader-context="editLoading"
        truthy>

         <textarea
          class="c-card__edit--textarea"
          ng-model="issue.comment_sanitized"
          msd-elastic>
         </textarea>

           <div class="row
                       h-right
                       margin-top-small">
                <button
                class="c-button
                      c-button--medium
                      c-button--green"

                ng-click="editIssue();">Update</button>

                <button
                class="c-button
                       c-button--medium
                       c-button--grey
                       margin-left-small"

                ng-click="cancelIssue();">
                          Cancel</button>
           </div>

   </div>


    <div ng-if="alertMessage.visible" class="c-card__response-message">
      <p ng-class="{'red': !alertMessage.success, 'green': alertMessage.success}">{{alertMessage.message}}</p>
    </div>

   <a ng-if="issue.article_link" ng-href="{{issue.article_link}}" target="_blank" class="column issue-article padding-small margin-bottom-small" ng-style="{'background-image': 'url(' + issue.article_img + ')'}"
   ng-class="{'margin-top-medium': user.showEditTools || user.showDelete}">
      <h2>{{issue.article_title}}</h2>
      <p>view link</p>
      <div class="backdrop"></div>
   </a>

   <div class="row margin-top-small">

     <div class="h-left row issue-share">
       <p class="medium middle">
          Share
          <i class="icon-facebook click" ng-click="shareToFacebook()"></i>

          <a target="_blank" ng-href="https://twitter.com/intent/tweet?text={{getShareMessage()}}&url={{issueLocation}}" data-size="large">
            <i class="icon-social-twitter"></i>
          </a>
       </p>
     </div>
<!-- reaction-label -->
     <div class="reaction-label">
        <p class="medium middle">What's your reaction?</p>
     </div>

     <div class="h-right reactions">
        <div class="reaction click" ng-class="{'reaction-positive': issue.emotional_response === 'positive', 'reaction-active': issue.positive_responses > 0}" ng-click="eResponse(issue.issue_id, 'positive', issue)">
          <img ng-if="issue.emotional_response !== 'positive'" src="img/reactions/smile-inactive.svg" />
          <img ng-if="issue.emotional_response === 'positive'" src="img/reactions/smile-active.svg" />
          <span ng-if="issue.positive_responses > 1 || issue.positive_responses" class="bold black">{{issue.positive_responses}}</span>
        </div>
        <div class="reaction click" ng-class="{'reaction-neutral': issue.emotional_response === 'neutral', 'reaction-active': issue.neutral_responses > 0}" ng-click="eResponse(issue.issue_id, 'neutral', issue)">
          <img ng-if="issue.emotional_response !== 'neutral'" src="img/reactions/straightface-inactive.svg" />
          <img ng-if="issue.emotional_response === 'neutral'" src="img/reactions/straightface-active.svg" />
          <span ng-if="issue.neutral_responses > 1 || issue.neutral_responses" class="bold black">{{issue.neutral_responses}}</span>
        </div>
        <div class="reaction click" ng-class="{'reaction-negative': issue.emotional_response === 'negative', 'reaction-active': issue.negative_responses > 0}" ng-click="eResponse(issue.issue_id, 'negative', issue)">
          <img ng-if="issue.emotional_response !== 'negative'" src="img/reactions/sadface-inactive.svg" />
          <img ng-if="issue.emotional_response === 'negative'" src="img/reactions/sadface-active.svg" />
          <span ng-if="issue.negative_responses > 1 || issue.negative_responses" class="bold black">{{issue.negative_responses}}</span>
        </div>
     </div>

   </div>
</div>
