<input type="text" type="text" placeholder="Search bills or people..."/>
<div class="loader" ng-show="searching"></div>
<div class="search-results" ng-class="{'has-results': results.bills.length > 0 || results.users.length > 0}">
	<div class="search-category" ng-show="results.bills.length > 0">
		<p>Bills</p>
	</div>
	<ul id="bill-results">
		<li class="result-item" ng-repeat="bill in results.bills" ng-class="{'selected': bill.selected}" ng-click="bill.goToBill(location, bill.bill_id);clearItems();">
			<div class="results-icon"><i class="{{bill.icon}}"></i></div><p ng-bind-html="bill.html"></p>
		</li>
	</ul>
	<div class="search-category" ng-show="results.users.length > 0">
		<p>People</p>
	</div>
	<ul id="user-results">
		<li class="result-item" ng-repeat="user in results.users" ng-class="{'selected': user.selected}" ng-click="user.goToProfile(location, user.user_id);clearItems();">
			<img ng-src="{{user.img_url}}" /><p ng-bind-html="user.html"></p>
		</li>
	</ul>
</div>