.profile {
	.profile-bg {
		max-height:300px;
	}
	.profile-header {
		display: flex;
  		flex-direction: column;
  		border-radius: 3px;
  		height: 300px;
  		padding: 20px;
  		flex-shrink: 0;
  	.row-layout {
	    display: flex;
	    flex-direction: row;
	    align-content: stretch;

  }
	.profile-picture {
		width:160px;
		height:160px;
		border:2px solid $white;
		-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		border-radius:3px;
		align-self:flex-end;
		margin-bottom:-70px;
		@include media(960px){
    	width: 80px;
    	height:80px;
    	}
    	@include media(460px){
    	width: 40px;
    	height:40px;
    	margin-bottom:0;
    	}
		}
	.user-title {
		display:flex;
		padding-left:5%;
		// align-self:flex-end;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		text-align: left;
	}
		// h1 {align-self:flex-end;}
		// h3 {align-self:flex-end;}
		h1 {
			@include font-size(28px);
			text-shadow: 0 2px 2px rgba(0,0,0, 0.5);
		}
		h3 {
			text-shadow: 0 2px 2px rgba(0,0,0, 0.5);
			@include light();
			@include font-size(14px);
			i {
				margin-right: 5px;
				@include font-size(12px);
			}
		}

	}
	.profile-follow {
		background:$white;
		display: flex;
	    flex-direction: row;
	    align-content: stretch;
	    @include shadow();
	    padding:1% 0 1% 18%;
	    border-top:1px solid $greylight;
	    .stats {
	    	padding-left:20px;
	    	span {font-weight:$font-bold;}
	    }
	    @include media(460px){
    	padding:1% 0 1% 0%;
    	}
	}

}

.profile-followers {
	h2 {margin-top:10px;}
}