.profile {
	.profile-bg {
		max-height:300px;
	}
	.profile-header {
  		height: 300px;
  		padding: 20px;
  		position: relative;
  	.row {
  		// align-self: center;
  		margin: 0 auto;
  		left: 0;
  		right: 0;
  		bottom: 0;
  		position: absolute;
  		width: 100%;
  		max-width: 1200px;
  	}
	.profile-picture {
		background: $greylight;
		position: absolute;
		left: 0px;
		bottom: -100px;
		width:160px;
		height:160px;
		border:2px solid $white;
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
		border-radius:3px;
		@include media(960px){
    	width: 80px;
    	height:80px;
    	}
    	@include media(460px){
    	width: 40px;
    	height:40px;
    	margin-bottom:0;
    	}
		}
	.user-title {
		display:flex;
		margin-left: 210px;
		margin-bottom: 7px;
		flex-direction: column;
		justify-content: flex-end;
		color: $white;
		text-align: left;
	}
		// h1 {align-self:flex-end;}
		// h3 {align-self:flex-end;}
		h1 {
			@include font-size(26px);
			text-shadow: 0 2px 2px rgba(0,0,0, 0.5);
			margin-bottom: 0;
			@include bold();
		}
		h3 {
			text-shadow: 0 2px 2px rgba(0,0,0, 0.5);
			@include light();
			@include font-size(14px);
			i {
				margin-right: 5px;
				@include font-size(12px);
			}
		}

	}
	.profile-follow {
		display: flex;
		justify-content: center;
		background:$white;
	    @include shadow();
	    border-top:1px solid $greylight;
	    .row {
	    	max-width: 1200px;
	    	width: 100%;
	    	padding:20px 0px 20px 210px;
	    }
	    .stats {
	    	margin-right: 40px;
	    	span {font-weight:$font-bold;}
	    }
	}

}

.profile-followers {
	h2 {margin-top:10px;}
}