.profile-header {
	background: darken($purple, 10%);
}
.profile-timeline {
	display: flex;
	flex-direction: row;
	@include media(600px) {
		position: relative;
	}
	aside {
		width: 5px;
		margin:0px 40px;
		background: $white;
		border-radius: 3px;
		display: flex;
		box-sizing: border-box;
		margin-bottom: 140px;
		border: 1px solid $widgetborder;
		@include media(600px) {
			// z-index: 8000;
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			display:block;
			height: calc(100% - 200px);
		}
	}

	section {
		width: 100%;
		padding-right: 20px;
		@include media(600px) {
			padding-right: 0;
		}
		.timeline-events {
			margin: 20px 0px;
			display: block;
			@include media(600px) {
				margin: 80px 0px;
			}
			.time-stamp {
				display:inline-block;
				width: 100%;
				@include font-size(10px);
				margin-bottom: 5px;
				@include media(600px) {
					position: relative;
					text-align: center;
					z-index: 9000;
					padding-bottom:13px;
					// margin-bottom: 60px;
				}
			}
			.event-card {
				  position: relative;
				  width: 100%;
				  display: block;
				  height: auto;
				  flex-shrink: 0;
				  border-radius: 3px;
				  border: 1px solid $widgetborder;
				  padding: 20px 20px 0px;
				  background-color: white;
				  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  span.event-label {
				  	text-align: left;
				  	@include font-size(12px);
				  	a {
				  		font-style: none;
				  		@include light();
				  		color: $red; 
				  		text-decoration: none;
				  		transition: color 0.1s ease;
				  		&:hover {
				  			color: lighten($red, 10%);
				  		}
				  	}
				  	color: $black;
				  	display: inline-block;
				  	padding-bottom: 20px;
				  }
			  	.event-bill-title {
				  		margin-top: 0;
				  		a {
				  			@include medium();
				  			text-decoration: none;
				  			color: $blue;
				  			font-style: italic;
				  		}
				  	}
				  &.event-vote {
				  	@include font-size(12px);
				  	padding-bottom: 20px;
				  	span {
				  		padding-bottom: 0;
				  	}
				  }
				  &.event-follow {
					  	@include media(600px) {
					  	text-align: center;
					  	span {
					  		text-align: center;
					  	}
					  }
					}
				  .comment-container {
				  
				  	.event-comment-body {
				  		@include font-size(12px);
				  		margin-bottom: 20px;
				  	}
				  	.reply-actions {
				  		float: none;
				  		display: flex;
				  		justify-content: flex-end;
				  		margin-bottom: 20px;
				  		margin-top: 0;
				  	}
				  	.reply-show-hide {
				  		width: 100%;
				  	}
				  	.comment-reply {
				  		padding-left: 0;
				  	}
				  	width: 100%;
				  	span {
				  		padding-bottom: 0;
				  	}

				  	.comment {
				  		padding-right: 0;
					  	span {
				  		color: $white;
				  		}
				  		.btn-blank {
				  			text-align: center;
				  			color: $grey;
				  		}
				  	}
				  	.comment-vote {
				  		padding-right: 0;
				  		flex-direction: row;
				  		justify-content: flex-end;
				  		.reply-btn {
				  			// text-align: center;
				  			color: $blue;
				  		}
				  		span {
				  			text-align: center;
				  			color: $green;
				  			}
				  		}
				  }
				}
			}
		}

}

.event-icon {
	width: 40px;
	height: 40px;
	border-radius: 3px;
	position: absolute; 
	left: -63px;
	top: -22px;
	box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
	@include media(600px) {
		left: 0;
		right: 0;
		top: -80px;
		margin: 0 auto;
	}
	&-like {
		background-color: $green;
	}
	&-dislike {
		background-color: $red;
		i {
			line-height: 0 !important;
		}
	}
	&-add {
		background-color: $green;
		i {
			line-height: 0.5 !important;
		}
	}
	&-vote {
		background-color: $purple;
		i {
			padding-top:4px;
			line-height: 1 !important;
			@include font-size(26px);

		}
	}
	i {
		color: white;
		line-height: 1;
		text-align: center;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}


.event-card:before, .event-card:after {
	right: 100%;
	top: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	@include media(600px) {
		display: none;
	}
}

.event-card:before {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $widgetborder;
	border-width: 9px;
	margin-top: -9px;
}

.event-card:after {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $white;
	border-width: 8px;
	margin-top: -8px;
}

.timeline-layout {
	display: flex;
	flex-direction: row;
	.activity-label {
		// margin-left: -20px;
		margin-bottom: 20px;
		text-align: left;
		@include font-size(18px);
		color: $black;
	}
	@include media(600px) {
		flex-direction: column;
		.activity-label {
			margin-left: 0;
			text-align: center;
		}
	}
}

