.profile-header {
	background: darken($purple, 10%);
}
.profile-timeline {
	display: flex;
	flex-direction: row;
	aside {
		width: 5px;
		margin:0px 40px;
		background: $white;
		border-radius: 3px;
		display: flex;
		box-sizing: border-box;
		height: calc(100em - 200px);
		border: 1px solid $widgetborder;
		}

	section {
		width: 100%;
		padding-right: 20px;
		.timeline-events {
			margin: 20px 0px;
			display: block;
			.event-card {
				  position: relative;
				  width: 100%;
				  display: block;
				  height: auto;
				  flex-shrink: 0;
				  border-radius: 3px;
				  border: 1px solid $widgetborder;
				  padding: 20px 20px 0px;
				  background-color: white;
				  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
				  span {
				  	@include font-size(12px);
				  	a {color: $red;}
				  	color: $black;
				  	display: inline-block;
				  	padding-bottom: 20px;
				  }
				  .comment-container {
				  	// display: block;
				  	width: 100%;
				  	span {
				  		padding-bottom: 0;
				  	}
				  	.comment {
				  		padding-right: 0;
					  	span {
				  		color: $white;
				  		}
				  		.btn-blank {
				  			color: $grey;
				  		}
				  	}
				  	.comment-vote {
				  		padding-right: 0;
				  		flex-direction: row;
				  		justify-content: flex-end;
				  		.reply-btn {
				  			color: $blue;
				  		}
				  		span {
				  			color: $green;
				  			}
				  		}
				  }
				}
			}
		}

}

.event-icon {
	width: 40px;
	height: 40px;
	border-radius: 3px;
	position: absolute; 
	left: -63px;
	top: -9px;
	&-like {
		background-color: $green;
	}
	&-dislike {
		background-color: $red;
		i {
			line-height: 0 !important;
		}
	}
	&-vote {
		background-color: $purple;
	}
	i {
		color: white;
		line-height: 1;
		text-align: center;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}


.event-card:before, .event-card:after {
	right: 100%;
	top: 12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.event-card:before {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $widgetborder;
	border-width: 9px;
	margin-top: -9px;
}

.event-card:after {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $white;
	border-width: 8px;
	margin-top: -8px;
}
