.profile-banner {
	max-height:300px;
	.profile-picture {
		margin:200px 0 0 20px;
		width:160px;
		height:160px;
		border:2px solid $white;
		-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
		border-radius:3px;
	}
	.profile-info {
		background:$white;
		height:80px;
		@include shadow();
		border-top:1px solid $widgetborder;
		padding-top:10px;
	}
	.user-title {
		margin:200px 0 0 0px;
	}
}
