/*------------------------------------------*\
    #BILL-REPRESENTATION-PANEL
\*------------------------------------------*/

/**
*/
.bill-representation-panel {
  margin: -4% 0% 0 -4%;
  @include media(768px) {
    margin:0;
  }
}

.row__wrap {
  @include media(768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.bill-representation-panel__content {
  margin: 7%;
  @include media(768px) {
    margin:0;
    text-align: center;
  }
}

.bill-representation__content_text--light {
  font-size: 80%;
  margin-right: 1%;
}

.bill-representation-panel__stats-banner {
  @include shadow();
  p {
    font-weight: 100;
    font-size: 80%;
    text-align:center;
    padding: 2%;
  }
}

.bill-representation-panel__stats-banner--required {
  background-color: $red;
  color: $white;
}

.bill-representation-panel__stats-banner--sample {
  background-color: $white;
}
