// @import '_bill-representation.scss';

.row-layout.comment {
  margin-top: 20px;
  margin-bottom: 10px;

  .top-comment-body {
    margin-top: 0;
  }
}

.top-comments {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include media(850px){
  flex-direction: column;
  width: 100%;
  }

  .card {
    width: calc(50% - 10px);
    @include media(850px){
    width: 100%;
    margin-bottom: 20px;
    }
  }
}

.top-comment-body {
  margin-top: 8px;
  margin-left: 10px;
  width: 100%;
  position: relative;
  h2 {
    a {
    text-decoration:none;
    color: $red;
    transition: color 0.1s ease;
    @include font-size(12px);
    @include media(600px) {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
     }
     &:hover {
      color: lighten($red, 10%);
     }
    }
  }

  p {
    color: $black;
    @include font-size(12px);
    margin-top: 10px;
  }
}

.bill-spec {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  @include media(850px){
  flex-direction: column;
  margin-top: 0;
  }

  .bill-sponsor {
    width: 40%;
    margin-right: 20px;
    @include media(850px){
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    }
  }

  .bill-description {
    width: calc(60% - 20px);
    @include media(850px){
    width: 100%;
    }
  }
}

.bill-description {
  p {
    @include font-size(14px);
    color: $black;
  }
}


// .user-img-border {
//   border: 1px solid $greylight;
//   border-radius: 3px;
//   max-width: 55px;
//   display: inline-table;
//   flex-shrink: 0;
//   padding: 2px;

//   img {
//     width: 100%;
//     vertical-align: top;
//     border-radius: 2px;
//   }
// }

.card {
  h1 {
    @include font-size(11px);
    line-height: 11px;
    @include bold();
    color: $blue;
    text-transform: uppercase;
  }
}

.card {
  &.bill-sponsor {
    flex-grow: 1;
    align-content: stretch;

    .senator-img {
      margin-top: 13px;
      img {
        border-radius: 3px;
        width: 80px;
        border: 1px solid $grey;
      }
    }

    .bill-sponsor-info {
      // align-content: stretch;
      // margin-top: 13px;
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        @include font-size(14px);
        // margin-bottom: 10px;
        color: $red;
        @include bold();
      }

      h3 {
        @include font-size(14px);
        color: $black;
      }
    }
  }
}


.bill-stats-vote {
  @include media(850px){
    flex-direction: column;
  }
}

.bill-stats {
  // height: 360px;
  margin-right: 20px;
  margin-bottom: 20px;
  @include media(850px){
  margin-right: 0;
  width: 100%;
  }
}

.current-vote-stats {
  // margin-bottom: 20px;

  // hr {
  //   margin-bottom: 20px;
  // }

  // h2,
  // p {
  //   text-align: center;
  // }

  // div:nth-child(1) {
  //   p {
  //     color: $green;
  //     @include bold();
  //   }
  // }

  // div:nth-child(2) {
  //   p {
  //     color: $red;
  //     @include bold();
  //   }
  // }
}

.vote-widget {
  margin-bottom: 20px;

  // hr {
  //   margin-bottom: 20px;
  // }

  button:nth-child(1) {
    margin-right: 10px;
  }

  aside.row {
    @include media(560px){
  flex-direction: column;

      .btn-green,
      .btn-red {
        width: 100%;
      }

      .btn-green {
        margin-bottom: 20px;
      }
    }
  }
}

.vote-btns-stats {
  @include media(850px) {
    flex-direction: column;
    .card {
      width: 100% !important;
    }
  }
}

.no-chart {
  .vote-widget {
    height: 100px;
    @include media(560px) {
      height: auto;
    }
  }
  .card {
    width: calc(50% - 10px);
    &:nth-child(1) {
      margin-right:20px;
    }
  }
}
