.bill-description.card {
  max-height: 184px;
  overflow: hidden;
  position: relative;
  h1 {
    margin-bottom: 13px;
  }
  .readmore {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: white;
    box-shadow: 0px -23px 42px white;
    cursor: pointer;
    p {
      @include font-size(12px);
      @include medium();
      color: $blue;
    }
  }
}
.modal {
    z-index: 9999 !important;
  .full-description.card {
    z-index: 9999;
    margin-top: 40px;
    max-height: calc(100% - 80px);
    max-width: 1200px;
    width: calc(100% - 40px);
    text-align: left;
    overflow: hidden;
    padding: 40px;
    h1 {
        text-align: center;
        @include light();
        @include font-size(20px);
        color: $black;
        padding-bottom: 20px;
    }
    section {
      overflow: scroll;
      height: 500px;
      p {
        text-align: left;
        @include font-size(14px);
        line-heihgt: 24px;
      }
    }
  @include media(500px) {
      padding: 10px;
      h1 {
        @include font-size(14px);
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
      }
      section {
        p {
        @include font-size(12px);
        }
      }
    }
  }
}