span {
  &.enacted-signed {
    width: 100%;
    animation: enacted 2s ease;
  }

  &.passed-senate {
    width: 75%;
    animation: senate 2s ease;
  }

  &.passed-house {
    width: 50%;
    animation: house 2s ease;
  }

  &.committee {
    width: 25%;
    animation: committee 2s ease;
  }

  &.bill-introduced {
    width: 0;
  }
}

@keyframes enacted {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes senate {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes house {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes committee {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

.bill-timeline {
  &.passed-senate {
    li:nth-child(5) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.passed-house {
    li:nth-child(n + 4) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.committee {
    li:nth-child(n + 3) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.bill-introduced {
    li:nth-child(n + 2) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }
}

h1.bill-title{
	flex-shrink: 0;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    @include font-size(30px);
    @include media(560px){
      @include font-size(22px);
    }
    font-family: $font-light;
  }

.bill-timeline {
  margin-bottom: 80px;
  align-self: center;
  max-width: 500px;
  @include media(560px){
  max-width: 320px;
  }
  width: 100%;
  flex-shrink: 0;
  position: relative;
  .bill-timeline-bar {
    position: absolute;
    bottom: -15px;
    margin: 0px auto;
    width: calc(100% - 88px);
    @include media(560px){
    width: calc(100% - 55px);
    }
    left: 0;
    right: 0;
    height: 5px;
    background: transparentize($black, 0.8);

    span {
      position: absolute;
      background-color: $black;
      height: 5px;
    }
  }

  ul {
    // margin: 0;
    // padding: 0;
    // display: -webkit-box;
    // display: -moz-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;

    // -webkit-box-lines: multiple;
    // -moz-box-lines: multiple;
    // -o-box-lines: multiple;
    // -webkit-flex-wrap: wrap;
    // -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    // -webkit-box-orient: horizontal;
    // -moz-box-orient: horizontal;
    // -o-box-orient: horizontal;
    // -webkit-flex-direction: row;
    // -ms-flex-direction: row;
    flex-direction: row;

    li {
      width: 20%;
      height: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      img {
        max-height: 50px;
        max-width: 74px;
        align-self: center;
        padding: 0px 20px;
        @include media(560px){
        max-height: 20px;
        max-width: 30px;
        align-self: center;
        padding: 0px 20px;
        }
      }

      p {
        text-align: center;
        position: absolute;
        bottom: 13px;
        margin: 0px auto;
        left: 0;
        right: 0;
        @include font-size(12px);
        font-family: $font-light;
      }

      span {
        background-color: white;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        border: 3px solid $black;
        display: block;
        position: absolute;
        bottom: -20px;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 9000;
      }
    }
  }
}