span {
  &.enacted-signed {
    width: 100%;
    animation: enacted 2s ease;
  }

  &.passed-senate {
    width: 75%;
    animation: senate 2s ease;
  }

  &.passed-house {
    width: 50%;
    animation: house 2s ease;
  }

  &.committee {
    width: 25%;
    animation: committee 2s ease;
  }

  &.bill-introduced {
    width: 0;
  }
}

.bill-timeline ul li {
  color: $grey;
  span {
    border-color: $grey;
  }
}

.bill-timeline.enacted-signed ul li {
  animation: fader 1s ease forwards;
  span {
    animation: point 1s ease forwards;
  }
  &:nth-child(2) {
    animation-delay: 0.4s;
    span {
      animation-delay: 0.4s;
    }
  }
  &:nth-child(3) {
    animation-delay: 0.7s;
    span {
      animation-delay: 0.7s;
    }
  }
  &:nth-child(4) {
    animation-delay: 1s;
    span {
      animation-delay: 1s;
    }
  }
  &:nth-child(5) {
    animation-delay: 1.4s;
    span {
      animation-delay: 1.4s;
    }
  }
}

.bill-timeline.passed-senate ul li {  
  &:nth-child(1) {
    animation: fader 1s ease forwards;
    span {
      animation: point 1s ease forwards;
    }
  }  
  &:nth-child(2) {
    animation: fader 1s ease forwards;
    animation-delay: 0.4s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 0.4s;
    }
  }
  &:nth-child(3) {
    animation: fader 1s ease forwards;
    animation-delay: 1s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 1s;
    }
  }
  &:nth-child(4) {
    animation: fader 1s ease forwards;
    animation-delay: 1.5s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 1.5s;
    }
  }
}

.bill-timeline.passed-house ul li {  
  &:nth-child(1) {
    animation: fader 1s ease forwards;
    span {
      animation: point 1s ease forwards;
    }
  }  
  &:nth-child(2) {
    animation: fader 1s ease forwards;
    animation-delay: 0.7s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 0.7s;
    }
  }
  &:nth-child(3) {
    animation: fader 1s ease forwards;
    animation-delay: 1.8s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 1.8s;
    }
  }
}

.bill-timeline.committee ul li {  
  &:nth-child(1) {
    animation: fader 1s ease forwards;
    span {
      animation: point 1s ease forwards;
    }
  }  
  &:nth-child(2) {
    animation: fader 1s ease forwards;
    animation-delay: 1.8s;
    span {
      animation: point 1s ease forwards;
      animation-delay: 1.8s;
    }
  }
}

@keyframes point {
  0% {
    transform: scale(1,1);
    border-color: $grey;
  }
  50% {
    transform: scale(1.5,1.5);
    border-color: $black;
  }
  100% {
    transform: scale(1,1);
    border-color: $black;
  }
}

@keyframes fader {
  0% {
    color:$grey;
  }
  100% {
    color:$black;
  }
}

@keyframes enacted {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes senate {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}

@keyframes house {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes committee {
  0% {
    width: 0%;
  }

  100% {
    width: 25%;
  }
}

.bill-timeline {
  &.passed-senate {
    li:nth-child(5) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.passed-house {
    li:nth-child(n + 4) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.committee {
    li:nth-child(n + 3) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }

  &.bill-introduced {
    li:nth-child(n + 2) {
      img,
      p {
        opacity: 0.2;
      }

      span {
        border-color: lighten($black, 45%);
      }
    }
  }
}

h1.bill-title{
	  flex-shrink: 0;
    display: inline-block;
    min-height:45px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    @include font-size(30px);
    @include media(560px){
      @include font-size(22px);
    }
    @include light();
  }

.bill-timeline {
  margin-bottom: 80px;
  align-self: center;
  max-width: 500px;
  @include media(560px){
  max-width: 320px;
  }
  width: 100%;
  flex-shrink: 0;
  position: relative;
  .bill-timeline-bar {
    position: absolute;
    bottom: -15px;
    margin: 0px auto;
    width: calc(100% - 88px);
    @include media(560px){
    width: calc(100% - 55px);
    }
    left: 0;
    right: 0;
    height: 5px;
    background: transparentize($black, 0.8);

    span {
      position: absolute;
      background-color: $black;
      height: 5px;
    }
  }

  ul {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    flex-direction: row;

    li {
      width: 20%;
      height: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      i {
        max-height: 50px;
        max-width: 74px;
        align-self: center;
        @include font-size(44px);
        @include media(560px){
        max-height: 20px;
        @include font-size(20px);
        max-width: 30px;
        align-self: center;
       
        }
      }

      p {
        text-align: center;
        position: absolute;
        bottom: 13px;
        margin: 0px auto;
        left: 0;
        right: 0;
        @include font-size(12px);
        @include light();
      }

      span {
        background-color: white;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        border: 3px solid $grey;
        display: block;
        position: absolute;
        bottom: -19px;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 9000;
      }
    }
  }
}