/*------------------------------------------*\
    #BILL-REPRESENTATION-PANEL
\*------------------------------------------*/

/**
*/
.bill-representation-panel {
  margin: -4% -4% 0 -4%;
}

.bill-representation-content {
  margin: 7%;
  color: $grey;
}
